@charset "UTF-8";
/* font */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* 置中 */
/* 動畫效果 */
/* text */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
/* font */
/* radius */
/* ------- media query ------- */
/* ------- mixins ------- */
/* size */
/* pseudo */
/* 置中 */
/* 動畫效果 */
/* text */
.bg-primary-green {
  background-color: #0d3740;
}

.bg-primary-olive {
  background-color: #8c7a1c;
}

.bg-secondary {
  background-color: #99b8bf;
}

.bg-secondary-yellow {
  background-color: #e6dcac;
}

.bg-secondary-pink {
  background-color: #e6c7c3;
}

.bg-link-hover {
  background-color: #0f5766;
}

.bg-btn-primary-hover {
  background-color: #082b33;
}

.bg-gray-2 {
  background-color: #f2f2f2;
}

.bg-gray-3 {
  background-color: #dce0e0;
}

.bg-gray-4 {
  background-color: #bbbfbf;
}

.bg-gray {
  background-color: #898c8c;
}

.bg-gray-6 {
  background-color: #4b4e4f;
}

.bg-gray-7 {
  background-color: #292b2b;
}

.bg-body-blue {
  background-color: #f0f6f7;
}

.bg-hightling-olive {
  background-color: #8c7a1c;
}

.bg-hightling-red {
  background-color: #a62719;
}

.bg-hightling-green {
  background-color: #4c8019;
}

.text-primary-green {
  color: #0d3740;
}

.text-black {
  color: #000;
}

.text-gray-4 {
  color: #bbbfbf;
}

.text-gray {
  color: #898c8c;
}

.text-gray-7 {
  color: #292b2b;
}

.text-hightling-red {
  color: #a62719;
}

.text-error {
  color: #a62719;
}

.text-white {
  color: #fff;
}

h1,
.h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

a,
.btn-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.33;
  color: #0d3740;
}

a:hover,
.btn-link:hover {
  color: #0f5766;
}

a.btn_ICONONLY,
.btn-link.btn_ICONONLY {
  font-size: 0;
  display: inline-block;
}

@media (min-width: 992px) {
  a,
  .btn-link {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}

button {
  color: inherit;
  border: none;
  outline: none;
}

button:hover {
  color: inherit;
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* bootstrap: btn -------------------- */
.btn {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 7px 20px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 30px;
  position: relative;
  background-color: #f2f2f2;
  min-width: 120px;
  color: #fff;
}

.btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 1;
}

.btn-primary {
  background-color: #0d3740;
  border-color: #0d3740;
}

.btn-primary:hover {
  -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
          box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  border-color: #082b33;
  background-color: #082b33;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #0d3740;
  border-color: #0d3740;
}

.btn-primary:not(:disabled):not(.disabled):active:hover, .btn-primary:not(:disabled):not(.disabled):active:focus:hover {
  -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
          box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  border-color: #082b33;
  background-color: #082b33;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #0d3740;
  border-color: #0d3740;
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #898c8c;
  border-color: #898c8c;
  color: #fff;
}

.btn-primary:disabled:hover, .btn-primary.disabled:hover {
  border-color: #898c8c;
  background-color: #898c8c;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  border-color: #0d3740;
  color: #0d3740;
}

.btn-secondary:hover {
  -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
          box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  background-color: #fff;
  border-color: #0d3740;
  color: #0d3740;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  border-color: #0d3740;
  background-color: #fff;
  color: #0d3740;
}

.btn-secondary:not(:disabled):not(.disabled):active:hover, .btn-secondary:not(:disabled):not(.disabled):active:focus:hover {
  -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
          box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  background-color: #fff;
  border-color: #0d3740;
  color: #0d3740;
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: #fff;
  border-color: #0d3740;
  color: #0d3740;
}

.btn-secondary:disabled, .btn-secondary.disabled {
  background-color: #bbbfbf;
  border-color: #bbbfbf;
  color: #fff;
}

.btn-secondary:disabled:hover, .btn-secondary.disabled:hover {
  background-color: #bbbfbf;
  border-color: #bbbfbf;
  color: #fff;
}

.btn.large-btn {
  max-width: 80%;
  width: 100%;
}

@media (min-width: 992px) {
  .btn-primary:not(:disabled):not(.disabled):hover {
    -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
            box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    border-color: #082b33;
    background-color: #082b33;
  }
  .btn-primary:disabled:hover, .btn-primary.disabled:hover {
    border-color: #898c8c;
    background-color: #898c8c;
    color: #fff;
  }
  .btn-secondary:not(:disabled):not(.disabled):hover {
    -webkit-box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
            box-shadow: 0 0 0.93rem 0 rgba(41, 43, 43, 0.3);
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    background-color: #fff;
    border-color: #0d3740;
    color: #0d3740;
  }
  .btn-secondary:disabled:hover, .btn-secondary.disabled:hover {
    background-color: #bbbfbf;
    border-color: #bbbfbf;
    color: #fff;
  }
}

/* bootstrap: dropdown -------------------- */
.btn-dropdown {
  max-width: 100%;
  width: 100%;
  display: inline-block;
}

.btn-dropdown-wrapper {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}

.btn-dropdown.ic_input input {
  padding: 0 40px 0 12px;
}

.btn-dropdown .select-placeholder {
  color: #bbbfbf;
}

.btn-dropdown .ip_search {
  margin-top: -8px;
}

.btn-dropdown .ip_search input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

.btn-dropdown .dropdown-menu {
  width: 100%;
  margin-top: 0;
  border: 1px solid #bbbfbf;
  border-radius: 10px;
  padding: 8px 0;
  max-height: 430px;
  overflow-y: auto;
}

.btn-dropdown .dropdown-item {
  white-space: normal;
  padding: 5px 12px;
  color: #292b2b;
  word-break: break-all;
}

.btn-dropdown .dropdown-item:hover {
  background-color: #0d3740;
  color: #fff;
}

.btn-dropdown .dropdown-item.active {
  background-color: #0d3740;
  color: #fff;
}

.btn-dropdown .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: normal;
  border-color: #bbbfbf;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  margin: 0;
  width: 100%;
  color: #292b2b;
}

.btn-dropdown .dropdown-toggle::after {
  border: none;
  background-image: url(../images/sprite.png);
  background-position: -235px -150px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .btn-dropdown .dropdown-toggle::after {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.btn-dropdown .dropdown-toggle:disabled {
  border: solid 1px #bbbfbf;
  color: #bbbfbf;
  background-color: #f2f2f2;
}

.btn-dropdown .dropdown-toggle:disabled::after {
  border: none;
  background-image: url(../images/sprite.png);
  background-position: -235px -200px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .btn-dropdown .dropdown-toggle:disabled::after {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.btn-dropdown .dropdown-toggle .select-tags {
  font-size: 1rem;
}

@media screen and (max-height: 420px) {
  .btn-dropdown .dropdown-menu {
    max-height: 100px;
  }
}

@media (min-width: 992px) {
  .btn-dropdown .dropdown-toggle .select-tags {
    font-size: 1.125rem;
  }
}

.btn-dropdown .error {
  border-color: #a62719;
}

.btn-dropdown .error::after {
  border: none;
  background-image: url(../images/sprite.png);
  background-position: 0px -235px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .btn-dropdown .error::after {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.btn-dropdown.show .dropdown-toggle::after {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.btn-dropdown.btn-dropdown-nav .dropdown-toggle:disabled, .btn-dropdown.btn-dropdown-nav .dropdown-toggle.disabled {
  color: #fff;
  border-color: #bbbfbf;
}

.btn-dropdown.btn-dropdown-nav .dropdown-toggle:disabled::after, .btn-dropdown.btn-dropdown-nav .dropdown-toggle.disabled::after {
  border: none;
}

/* bootstrap: dropdown Multiple -------------------- */
.multiple-select-style.btn-dropdown .dropdown-item {
  padding: 8px 12px;
}

.multiple-select-style .dropdown-toggle p {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 30px);
  font-size: 1rem;
}

.multiple-select-style .btn {
  font-size: 1.125rem;
}

.multiple-select-style .form-check {
  margin: 0;
}

.multiple-select-style .form-check .form-check-label {
  padding-top: 0;
  width: 100%;
}

.multiple-select-style input {
  text-align: left;
}

.multiple-select-style input.icon {
  position: relative;
  z-index: 0;
  padding: 0 40px 0 12px;
}

@media (min-width: 992px) {
  .multiple-select-style .dropdown-toggle p {
    font-size: 1.125rem;
  }
}

/* default setting for input, textarea, select -------------------- */
input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* bootstrap: label -------------------- */
.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.35rem + 1px);
  padding-bottom: calc(0.35rem + 1px);
}

/* bootstrap: original input -------------------- */
input,
input.form-control {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #bbbfbf;
  padding: 6px 12px;
  color: #000;
  outline: none;
  font-size: 1rem;
}

input:hover, input:focus,
input.form-control:hover,
input.form-control:focus {
  border: 1px solid #bbbfbf;
}

input:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input::-webkit-input-placeholder,
input.form-control::-webkit-input-placeholder {
  color: #bbbfbf;
}

input:-ms-input-placeholder,
input.form-control:-ms-input-placeholder {
  color: #bbbfbf;
}

input::-ms-input-placeholder,
input.form-control::-ms-input-placeholder {
  color: #bbbfbf;
}

input::placeholder,
input.form-control::placeholder {
  color: #bbbfbf;
}

input:disabled, input.disabled,
input.form-control:disabled,
input.form-control.disabled {
  background-color: #f2f2f2;
  border-color: #bbbfbf;
  color: #bbbfbf;
  -webkit-text-fill-color: #bbbfbf;
}

@media (min-width: 992px) {
  input,
  input.form-control {
    font-size: 1.125rem;
  }
}

/* radio & check -------------------- */
input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

input[type="checkbox"]:disabled + label, input[type="checkbox"][disabled] + label, input[type="checkbox"].disabled + label,
input[type="radio"]:disabled + label,
input[type="radio"][disabled] + label,
input[type="radio"].disabled + label {
  color: #bbbfbf;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 34px;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
}

/* setting radio img -------------------- */
input[type="radio"] + label::before {
  background-image: url(../images/sprite.png);
  background-position: -235px -50px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="radio"] + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="radio"]:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -235px -25px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="radio"]:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="radio"][disabled] + label::before, input[type="radio"].disabled + label::before {
  background-image: url(../images/sprite.png);
  background-position: -235px -100px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="radio"][disabled] + label::before, input[type="radio"].disabled + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="radio"][disabled]:checked + label::before, input[type="radio"].disabled:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -235px -75px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="radio"][disabled]:checked + label::before, input[type="radio"].disabled:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

/* setting checkbox img -------------------- */
input[type="checkbox"] + label::before {
  background-image: url(../images/sprite.png);
  background-position: -123px -93px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"] + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="checkbox"]:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -154px -124px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"]:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
  background-image: url(../images/sprite.png);
  background-position: -124px -154px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled] + label::before, input[type="checkbox"].disabled + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -124px -123px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  input[type="checkbox"][disabled]:checked + label::before, input[type="checkbox"].disabled:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

/* bootstrap: form-check > radio & checkbox -------------------- */
.form-check {
  min-height: 24px;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-check-label {
  padding-left: 10px;
  padding-top: 0.25rem;
}

.form-check-inline {
  margin-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.form-check-only {
  display: inline-block;
}

.form-check-only input[type="checkbox"] + label,
.form-check-only input[type="radio"] + label {
  position: absolute;
  padding-left: 24px;
  padding-top: 0;
}

/* bootstrap: textarea -------------------- */
textarea,
textarea.form-control {
  height: auto;
  border-radius: 6px;
  border: 1px solid #bbbfbf;
  padding: 6px 12px;
  color: #000;
  width: 100%;
  max-width: none;
}

textarea:hover, textarea:focus,
textarea.form-control:hover,
textarea.form-control:focus {
  border: 1px solid #bbbfbf;
}

textarea:focus,
textarea.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  color: #bbbfbf;
}

textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #bbbfbf;
}

textarea::-ms-input-placeholder,
textarea.form-control::-ms-input-placeholder {
  color: #bbbfbf;
}

textarea::placeholder,
textarea.form-control::placeholder {
  color: #bbbfbf;
}

textarea:disabled, textarea.disabled,
textarea.form-control:disabled,
textarea.form-control.disabled {
  background-color: #f2f2f2;
  border-color: #bbbfbf;
  color: #bbbfbf;
  -webkit-text-fill-color: #bbbfbf;
}

/* bootstrap: select -------------------- */
select,
.form-select {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #bbbfbf;
  padding: 6px 12px;
  color: #000;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

select:hover, select:focus,
.form-select:hover,
.form-select:focus {
  border: 1px solid #bbbfbf;
}

select:focus,
.form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #bbbfbf;
}

select:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #bbbfbf;
}

select::-ms-input-placeholder,
.form-select::-ms-input-placeholder {
  color: #bbbfbf;
}

select::placeholder,
.form-select::placeholder {
  color: #bbbfbf;
}

select:disabled, select.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #f2f2f2;
  border-color: #bbbfbf;
  color: #bbbfbf;
  -webkit-text-fill-color: #bbbfbf;
}

.form-group .bs-select {
  width: 100%;
}

.form-group .bs-select .select-placeholder {
  color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #bbbfbf;
  padding: 6px 12px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: left;
  margin: 0;
  width: 100%;
  position: relative;
  padding-right: 34px;
  overflow: hidden;
}

.form-group .bs-select .dropdown-toggle:hover, .form-group .bs-select .dropdown-toggle:focus {
  border: 1px solid #bbbfbf;
}

.form-group .bs-select .dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group .bs-select .dropdown-toggle::-webkit-input-placeholder {
  color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle:-ms-input-placeholder {
  color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle::-ms-input-placeholder {
  color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle::placeholder {
  color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle:disabled, .form-group .bs-select .dropdown-toggle.disabled {
  background-color: #f2f2f2;
  border-color: #bbbfbf;
  color: #bbbfbf;
  -webkit-text-fill-color: #bbbfbf;
}

.form-group .bs-select .dropdown-toggle::after {
  vertical-align: middle;
  position: absolute;
  right: 10px;
}

.form-group .bs-select .dropdown-item {
  padding: 6px 12px;
  font-weight: normal;
}

.form-group .bs-select .dropdown-item:hover {
  background-color: #0d3740;
  color: #fff;
}

.form-group .bs-select .dropdown-item.active {
  background-color: #0d3740;
  color: #fff;
}

.form-group .bs-select .select-tags {
  width: 100%;
}

.form-group .bs-select .select-tags .select-single {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 6px);
  overflow: hidden;
}

/* required -------------------- */
.required label::after,
.required .col-form-label::after,
.required .legend::after {
  content: "*";
  color: #a62719;
}

/* invalid -------------------- */
.invalid-feedback {
  font-size: 13px;
  color: #a62719;
  margin-top: 4px;
  width: 100%;
  display: none;
}

.invalid input,
.invalid textarea,
.invalid .form-control {
  border-color: #a62719;
}

.invalid input:focus, .invalid input:hover:focus, .invalid input:hover,
.invalid textarea:focus,
.invalid textarea:hover:focus,
.invalid textarea:hover,
.invalid .form-control:focus,
.invalid .form-control:hover:focus,
.invalid .form-control:hover {
  border-color: #a62719;
}

.invalid input.keyFilter-select,
.invalid textarea.keyFilter-select,
.invalid .form-control.keyFilter-select {
  background-image: url("./../../images/ic-select-down-error@2x.png");
}

.invalid input.keyFilter-select.open,
.invalid textarea.keyFilter-select.open,
.invalid .form-control.keyFilter-select.open {
  background-image: url("./../../images/ic-select-up-error@2x.png");
}

.invalid select,
.invalid .form-select,
.invalid .bs-select .select-wrapper,
.invalid .bs-select .select-wrapper:hover,
.invalid .bs-select .select-wrapper:focus {
  border-color: #a62719;
}

.invalid select.keyFilter-select,
.invalid .form-select.keyFilter-select,
.invalid .bs-select .select-wrapper.keyFilter-select,
.invalid .bs-select .select-wrapper:hover.keyFilter-select,
.invalid .bs-select .select-wrapper:focus.keyFilter-select {
  background-image: url("./../../images/ic-select-down-error@2x.png");
}

.invalid select.keyFilter-select.open,
.invalid .form-select.keyFilter-select.open,
.invalid .bs-select .select-wrapper.keyFilter-select.open,
.invalid .bs-select .select-wrapper:hover.keyFilter-select.open,
.invalid .bs-select .select-wrapper:focus.keyFilter-select.open {
  background-image: url("./../../images/ic-select-up-error@2x.png");
}

.invalid .ip_search .select-wrapper:focus, .invalid .ip_search .select-wrapper:hover {
  border-color: #c8c8c8;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

.invalid .invalid-feedback {
  display: block;
}

.invalid input[type="checkbox"] + label::before {
  background-image: url(../images/sprite.png);
  background-position: -149px -154px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .invalid input[type="checkbox"] + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.invalid input[type="radio"] + label::before {
  background-image: url(../images/sprite.png);
  background-position: -235px -125px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .invalid input[type="radio"] + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.invalid .form-check-label {
  color: #a62719;
}

.invalid .btn-dropdown .dropdown-toggle::after {
  border: none;
  background-image: url(../images/sprite.png);
  background-position: 0px -235px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .invalid .btn-dropdown .dropdown-toggle::after {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.invalid .dropdown-item .form-check-label {
  color: inherit;
}

.invalid .dropdown-item input[type="checkbox"] + label::before {
  background-image: url(../images/sprite.png);
  background-position: -123px -93px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .invalid .dropdown-item input[type="checkbox"] + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.invalid .dropdown-item input[type="checkbox"]:checked + label::before {
  background-image: url(../images/sprite.png);
  background-position: -154px -124px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .invalid .dropdown-item input[type="checkbox"]:checked + label::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.invalid .dropdown-item input,
.invalid .dropdown-item textarea,
.invalid .dropdown-item .form-control {
  border-color: #a62719;
}

.invalid .dropdown-item input:focus, .invalid .dropdown-item input:hover:focus, .invalid .dropdown-item input:hover,
.invalid .dropdown-item textarea:focus,
.invalid .dropdown-item textarea:hover:focus,
.invalid .dropdown-item textarea:hover,
.invalid .dropdown-item .form-control:focus,
.invalid .dropdown-item .form-control:hover:focus,
.invalid .dropdown-item .form-control:hover {
  border-color: #a62719;
}

/* form-text -------------------- */
.form-text {
  font-size: 13px;
  color: #bbbfbf;
  margin-top: 4px;
}

/* setting input icons -------------------- */
.ic_input {
  position: relative;
  z-index: 1;
}

.ic_input.col-none .icon {
  right: 10px;
}

.ic_input.icon_left input {
  padding: 0 12px 0 40px;
}

.ic_input.icon_left .icon {
  left: 25px;
  right: auto;
}

.ic_input input {
  padding: 0 40px 0 12px;
}

.ic_input .icon {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 25px;
}

.form-group .bs-select .ip_search {
  margin-top: -8px;
}

.form-group .bs-select .ip_search .select-wrapper {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

.form-group .bs-select .ip_search .select-wrapper:focus, .form-group .bs-select .ip_search .select-wrapper:hover {
  border-color: #c8c8c8;
  border: none;
  border-bottom: 1px solid #c8c8c8;
}

.cal_DataSet_cover {
  border: solid 1px #bbbfbf;
  background-color: #fff;
  border-radius: 6px;
}

.cal_DataSet_cover .cal_DataSet {
  position: relative;
  z-index: 0;
  width: 100%;
}

.cal_DataSet_cover .cal_DataSet + .cal_DataSet {
  position: relative;
  z-index: 0;
}

.cal_DataSet_cover .cal_DataSet + .cal_DataSet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -3px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 1px;
  background-color: #292b2b;
}

.cal_DataSet_cover .cal_DataSet input {
  width: 100%;
  border: none;
  padding: 6px 40px 6px 12px;
}

@media (max-width: 575.98px) {
  .cal_DataSet_cover {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cal_DataSet_cover .cal_DataSet + .cal_DataSet::before {
    content: none;
  }
  .cal_DataSet_cover .cal_DataSet input {
    padding: 6px 40px 6px 12px;
  }
}

.cal_DataSet_cover {
  position: relative;
}

.cal_DataSet_cover .cal_DataSet {
  position: relative;
  z-index: 0;
}

.cal_DataSet_cover .cal_DataSet::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  width: 24px;
  height: 24px;
  background-image: url(../images/sprite.png);
  background-position: -50px -185px;
  width: 24px;
  height: 24px;
  pointer-events: none;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .cal_DataSet_cover .cal_DataSet::after {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.daterangepicker {
  width: auto !important;
  margin-top: 0 !important;
}

.daterangepicker::before, .daterangepicker::after {
  content: none !important;
}

.daterangepicker td.off {
  color: #898c8c !important;
}

.daterangepicker td.active {
  background-color: #0d3740 !important;
  color: #fff !important;
}

.daterangepicker td.start-date.end-date {
  border-radius: 50% !important;
}

.daterangepicker .drp-calendar.left {
  padding: 8px !important;
}

.daterangepicker .drp-calendar .calendar-table table thead tr th select {
  border: 1px solid #0d3740;
}

.daterangepicker .drp-calendar .calendar-table table thead tr th select.monthselect {
  margin-right: 0;
}

.daterangepicker .drp-calendar .calendar-table table thead tr th select.yearselect {
  margin-left: 10px;
}

.daterangepicker .drp-calendar .calendar-table table thead tr:nth-of-type(2) th {
  color: #0d3740;
  font-size: 0.875rem !important;
  line-height: 1.43;
}

.daterangepicker .drp-calendar .calendar-table td {
  color: #292b2b;
  font-size: 0.875rem !important;
  height: 32px !important;
  border-radius: 50% !important;
}

.daterangepicker .drp-calendar .calendar-time {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2px;
  outline: 0;
  font-size: 0.875rem;
}

.daterangepicker .drp-calendar .calendar-time select {
  height: auto;
  max-width: 80px;
  width: 100%;
  background: #e6f0f2;
  border: 1px solid #0d3740;
}

.daterangepicker .drp-calendar .calendar-time::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/sprite.png);
  background-position: -75px -185px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .daterangepicker .drp-calendar .calendar-time::before {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}

.daterangepicker .drp-buttons {
  text-align: center !important;
}

.daterangepicker .drp-buttons .btn {
  min-width: 100px;
  margin: 0;
}

.daterangepicker .drp-buttons .cancelBtn {
  display: none;
}

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #e78c45;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b9ca4a;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #70c0b1;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

html,
body {
  height: 100%;
  font-family: "Rubik", "PingFangTC-Regular", "sans-serif", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Verdana;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

.guid {
  height: 100%;
}

.guid .bd-sidebar {
  height: 100vh;
}

.guid .bd-content {
  padding: 30px 40px;
  height: 100%;
  overflow-x: hidden;
}

.guid .navbar {
  height: 100%;
  width: 100%;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.guid .navbar-collapse {
  width: 100%;
}

.guid .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.guid .navbar .nav-item {
  padding-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
  font-size: 18px;
}

.guid .navbar .nav-link {
  display: block;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}

.guid .navbar .dropdown-menu {
  width: 100%;
  position: static;
  border: none;
  background-color: #dbdbdb;
  border-radius: 0;
  padding: 0;
}

.guid .navbar .dropdown-item {
  padding: 10px 20px;
  border-bottom: 1px solid #f8f9fa;
}

.guid .navbar .dropdown-item:active {
  background-color: #dbdbdb;
}

.guid .navbar .dropdown-toggle::after {
  content: none;
}

.guid h1,
.guid h2,
.guid h3,
.guid h4,
.guid h5 {
  padding-bottom: 10px;
  font-weight: 400;
}

.guid button:focus {
  outline: none;
}

.guid pre {
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4;
  overflow: auto;
  letter-spacing: 0;
  margin-bottom: 0;
}

.guid .row pre {
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}

.guid .tag {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1;
}

.guid .tag code {
  padding: 0;
  border-radius: 3px;
  display: block;
  margin-top: 24px;
  margin-bottom: 48px;
  max-height: 600px;
  border: 1px solid #d7e4e4;
  margin-right: 10px;
}

.guid .preview div[class*="col-"] {
  border: 1px solid #7d8a94;
  background: #aeb6bd;
}

.guid .colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px -10px;
}

.guid .colours .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(18% - 30px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px 20px;
  font-size: 14px;
  border-radius: 12px;
  background: #ffffff;
  -webkit-box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.3);
}

.guid .colours .color .box {
  border-radius: 12px 12px 0 0;
  padding-bottom: 150px;
}

.guid .colours .color .content {
  border-radius: 0 0 12px 12px;
  background: #fff;
  padding: 8px 16px;
  font-weight: 300;
}

.guided-row {
  padding: 20px;
  border-radius: 3px;
  margin-top: 24px;
  border: 1px solid #d1d1d1;
}

.guided-row p:last-child {
  margin-bottom: 0;
}

.demo-block-inner {
  border: 1px solid #e3e3e3;
  padding: 30px;
}

.demo-block .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demo-block .controls span {
  display: inline-block;
  font-size: 14px;
  border-bottom: none;
  color: #333;
  padding: 4px 12px;
  margin-right: 1px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
}

.demo-block .controls span.active {
  background-color: #fff;
  border-color: #e3e3e3 #e3e3e3 #fff;
}

.demo-block .content pre {
  padding: 0px;
  border-radius: 3px;
  border: none;
}

@media (max-width: 991.98px) {
  .guid {
    height: auto;
  }
  .guid .navbar {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .guid .navbar .navbar-toggler {
    min-height: 50px;
    width: auto;
    border: none;
  }
  .guid .navbar .nav-link {
    min-height: 0;
  }
  .guid .bd-sidebar {
    height: auto;
  }
  .guid .bd-content {
    margin-top: 60px;
    overflow: hidden;
  }
  .guid .colours > .color {
    width: calc(50% - 30px);
  }
}

.ic-calendar {
  background-image: url(../images/sprite.png);
  background-position: -50px -185px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .ic-calendar {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}
/*# sourceMappingURL=guideline.css.map */