/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.checkbox-checked {
  background-image: url(../images/sprite.png);
  background-position: -154px -124px;
  width: 24px;
  height: 24px;
}
.checkbox-default {
  background-image: url(../images/sprite.png);
  background-position: -123px -93px;
  width: 24px;
  height: 24px;
}
.checkbox-disabled-checked {
  background-image: url(../images/sprite.png);
  background-position: -124px -123px;
  width: 24px;
  height: 24px;
}
.checkbox-disabled {
  background-image: url(../images/sprite.png);
  background-position: -124px -154px;
  width: 24px;
  height: 24px;
}
.checkbox-error {
  background-image: url(../images/sprite.png);
  background-position: -149px -154px;
  width: 24px;
  height: 24px;
}
.ic-acms-cmc {
  background-image: url(../images/sprite.png);
  background-position: -185px 0px;
  width: 24px;
  height: 24px;
}
.ic-aircraft {
  background-image: url(../images/sprite.png);
  background-position: -123px 0px;
  width: 30px;
  height: 30px;
}
.ic-airplane {
  background-image: url(../images/sprite.png);
  background-position: -123px -31px;
  width: 30px;
  height: 30px;
}
.ic-arrival-s {
  background-image: url(../images/sprite.png);
  background-position: -123px -62px;
  width: 30px;
  height: 30px;
}
.ic-arrival {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
.ic-arrival_2 {
  background-image: url(../images/sprite.png);
  background-position: 0px -123px;
  width: 30px;
  height: 30px;
}
.ic-arrow-down-white {
  background-image: url(../images/sprite.png);
  background-position: -185px -25px;
  width: 24px;
  height: 24px;
}
.ic-arrow-down {
  background-image: url(../images/sprite.png);
  background-position: -185px -50px;
  width: 24px;
  height: 24px;
}
.ic-arrow-left-white-l {
  background-image: url(../images/sprite.png);
  background-position: -41px 0px;
  width: 40px;
  height: 40px;
}
.ic-arrow-left-white {
  background-image: url(../images/sprite.png);
  background-position: -185px -75px;
  width: 24px;
  height: 24px;
}
.ic-arrow-left {
  background-image: url(../images/sprite.png);
  background-position: -185px -100px;
  width: 24px;
  height: 24px;
}
.ic-arrow-right-white-l {
  background-image: url(../images/sprite.png);
  background-position: 0px -41px;
  width: 40px;
  height: 40px;
}
.ic-arrow-right-white {
  background-image: url(../images/sprite.png);
  background-position: -185px -125px;
  width: 24px;
  height: 24px;
}
.ic-arrow-right {
  background-image: url(../images/sprite.png);
  background-position: -185px -150px;
  width: 24px;
  height: 24px;
}
.ic-arrow-up-white {
  background-image: url(../images/sprite.png);
  background-position: 0px -185px;
  width: 24px;
  height: 24px;
}
.ic-arrow-up {
  background-image: url(../images/sprite.png);
  background-position: -25px -185px;
  width: 24px;
  height: 24px;
}
.ic-calendar {
  background-image: url(../images/sprite.png);
  background-position: -50px -185px;
  width: 24px;
  height: 24px;
}
.ic-cancel-s {
  background-image: url(../images/sprite.png);
  background-position: -31px -123px;
  width: 30px;
  height: 30px;
}
.ic-cancel {
  background-image: url(../images/sprite.png);
  background-position: -41px -41px;
  width: 40px;
  height: 40px;
}
.ic-clock {
  background-image: url(../images/sprite.png);
  background-position: -75px -185px;
  width: 24px;
  height: 24px;
}
.ic-close-white-l {
  background-image: url(../images/sprite.png);
  background-position: -82px 0px;
  width: 40px;
  height: 40px;
}
.ic-close-white {
  background-image: url(../images/sprite.png);
  background-position: -100px -185px;
  width: 24px;
  height: 24px;
}
.ic-close {
  background-image: url(../images/sprite.png);
  background-position: -125px -185px;
  width: 24px;
  height: 24px;
}
.ic-crew {
  background-image: url(../images/sprite.png);
  background-position: -62px -123px;
  width: 30px;
  height: 30px;
}
.ic-delay-s {
  background-image: url(../images/sprite.png);
  background-position: -93px -123px;
  width: 30px;
  height: 30px;
}
.ic-delay {
  background-image: url(../images/sprite.png);
  background-position: -82px -41px;
  width: 40px;
  height: 40px;
}
.ic-delete {
  background-image: url(../images/sprite.png);
  background-position: -150px -185px;
  width: 24px;
  height: 24px;
}
.ic-departure-s {
  background-image: url(../images/sprite.png);
  background-position: -154px 0px;
  width: 30px;
  height: 30px;
}
.ic-departure {
  background-image: url(../images/sprite.png);
  background-position: 0px -82px;
  width: 40px;
  height: 40px;
}
.ic-dispatch {
  background-image: url(../images/sprite.png);
  background-position: -154px -31px;
  width: 30px;
  height: 30px;
}
.ic-download {
  background-image: url(../images/sprite.png);
  background-position: -175px -185px;
  width: 24px;
  height: 24px;
}
.ic-echat {
  background-image: url(../images/sprite.png);
  background-position: -210px 0px;
  width: 24px;
  height: 24px;
}
.ic-filter-gold {
  background-image: url(../images/sprite.png);
  background-position: -210px -25px;
  width: 24px;
  height: 24px;
}
.ic-filter {
  background-image: url(../images/sprite.png);
  background-position: -210px -50px;
  width: 24px;
  height: 24px;
}
.ic-flight {
  background-image: url(../images/sprite.png);
  background-position: -154px -62px;
  width: 30px;
  height: 30px;
}
.ic-fuel-s {
  background-image: url(../images/sprite.png);
  background-position: -154px -93px;
  width: 30px;
  height: 30px;
}
.ic-fuel {
  background-image: url(../images/sprite.png);
  background-position: -41px -82px;
  width: 40px;
  height: 40px;
}
.ic-hamburgar {
  background-image: url(../images/sprite.png);
  background-position: -210px -75px;
  width: 24px;
  height: 24px;
}
.ic-info {
  background-image: url(../images/sprite.png);
  background-position: -210px -100px;
  width: 24px;
  height: 24px;
}
.ic-log {
  background-image: url(../images/sprite.png);
  background-position: 0px -154px;
  width: 30px;
  height: 30px;
}
.ic-mel {
  background-image: url(../images/sprite.png);
  background-position: -210px -125px;
  width: 24px;
  height: 24px;
}
.ic-menu-agent {
  background-image: url(../images/sprite.png);
  background-position: -210px -150px;
  width: 24px;
  height: 24px;
}
.ic-menu-home {
  background-image: url(../images/sprite.png);
  background-position: -210px -175px;
  width: 24px;
  height: 24px;
}
.ic-menu-set {
  background-image: url(../images/sprite.png);
  background-position: 0px -210px;
  width: 24px;
  height: 24px;
}
.ic-menu-weather {
  background-image: url(../images/sprite.png);
  background-position: -25px -210px;
  width: 24px;
  height: 24px;
}
.ic-passengrer-s {
  background-image: url(../images/sprite.png);
  background-position: -31px -154px;
  width: 30px;
  height: 30px;
}
.ic-passengrer {
  background-image: url(../images/sprite.png);
  background-position: -82px -82px;
  width: 40px;
  height: 40px;
}
.ic-remark {
  background-image: url(../images/sprite.png);
  background-position: -50px -210px;
  width: 24px;
  height: 24px;
}
.ic-search {
  background-image: url(../images/sprite.png);
  background-position: -75px -210px;
  width: 24px;
  height: 24px;
}
.ic-send {
  background-image: url(../images/sprite.png);
  background-position: -100px -210px;
  width: 24px;
  height: 24px;
}
.ic-set {
  background-image: url(../images/sprite.png);
  background-position: -125px -210px;
  width: 24px;
  height: 24px;
}
.ic-sort-decline-gold {
  background-image: url(../images/sprite.png);
  background-position: -150px -210px;
  width: 24px;
  height: 24px;
}
.ic-sort-decline {
  background-image: url(../images/sprite.png);
  background-position: -175px -210px;
  width: 24px;
  height: 24px;
}
.ic-sort-increase-gold {
  background-image: url(../images/sprite.png);
  background-position: -200px -210px;
  width: 24px;
  height: 24px;
}
.ic-sort-increase {
  background-image: url(../images/sprite.png);
  background-position: -235px 0px;
  width: 24px;
  height: 24px;
}
.ic-telex {
  background-image: url(../images/sprite.png);
  background-position: -62px -154px;
  width: 30px;
  height: 30px;
}
.ic-upload {
  background-image: url(../images/sprite.png);
  background-position: -93px -154px;
  width: 30px;
  height: 30px;
}
.radio-checked {
  background-image: url(../images/sprite.png);
  background-position: -235px -25px;
  width: 24px;
  height: 24px;
}
.radio-default {
  background-image: url(../images/sprite.png);
  background-position: -235px -50px;
  width: 24px;
  height: 24px;
}
.radio-disabled-checked {
  background-image: url(../images/sprite.png);
  background-position: -235px -75px;
  width: 24px;
  height: 24px;
}
.radio-disabled {
  background-image: url(../images/sprite.png);
  background-position: -235px -100px;
  width: 24px;
  height: 24px;
}
.radio-error {
  background-image: url(../images/sprite.png);
  background-position: -235px -125px;
  width: 24px;
  height: 24px;
}
.select-default {
  background-image: url(../images/sprite.png);
  background-position: -235px -150px;
  width: 24px;
  height: 24px;
}
.select-down-default_2 {
  background-image: url(../images/sprite.png);
  background-position: -235px -175px;
  width: 24px;
  height: 24px;
}
.select-down-disabled {
  background-image: url(../images/sprite.png);
  background-position: -235px -200px;
  width: 24px;
  height: 24px;
}
.select-down-error {
  background-image: url(../images/sprite.png);
  background-position: 0px -235px;
  width: 24px;
  height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .checkbox-checked {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .checkbox-default {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .checkbox-disabled-checked {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .checkbox-disabled {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .checkbox-error {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-acms-cmc {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-aircraft {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-airplane {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrival-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrival {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrival_2 {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-down-white {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-down {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-left-white-l {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-left-white {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-left {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-right-white-l {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-right-white {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-right {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-up-white {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-arrow-up {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-calendar {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-cancel-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-cancel {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-clock {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-close-white-l {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-close-white {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-close {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-crew {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-delay-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-delay {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-delete {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-departure-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-departure {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-dispatch {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-download {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-echat {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-filter-gold {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-filter {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-flight {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-fuel-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-fuel {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-hamburgar {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-info {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-log {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-mel {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-menu-agent {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-menu-home {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-menu-set {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-menu-weather {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-passengrer-s {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-passengrer {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-remark {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-search {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-send {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-set {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-sort-decline-gold {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-sort-decline {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-sort-increase-gold {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-sort-increase {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-telex {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .ic-upload {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .radio-checked {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .radio-default {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .radio-disabled-checked {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .radio-disabled {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .radio-error {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .select-default {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .select-down-default_2 {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .select-down-disabled {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
  .select-down-error {
    background-image: url(../images/sprite@2x.png);
    background-size: 259px 259px;
  }
}
