* {
  outline: none;
  -webkit-overflow-scrolling: touch;
}
@include media-breakpoint-up("lg") {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #c3c3c3;
  }
}
html,
body {
  // position: relative;
  height: 100%;
  font-family: $font-family;
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-size: 12px;
}
// 0321新增 loading start
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(#fff, 0.4);
  display: none;
  &.active {
    display: block;
  }
}
.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  margin: 8px;
  border: 8px solid #0d3740;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0d3740 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// 0321新增 loading end

.wrapper {
  min-height: 100%;
  position: relative;
  // 以上勿動
  background-color: $body-color;
}
//文字顏色 0929
.text-color-table-green {
  color: #71c41d;
}
.text-color-table-yellow {
  color: #ddb909;
}
//燈箱
.open_pop {
  .flightDetail_content {
    z-index: 22;
  }
}
// <main>
.idx_content {
  // padding-bottom: 240px; // 等於 footer 高
  position: relative;
  z-index: 0;
  top: 64px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  background-color: #f0f6f7;
  @include media-breakpoint-up("md") {
    top: 74px;
  }
  @include media-breakpoint-up("lg") {
    background-color: transparent;
    max-width: calc(100% - 80px);
    left: 80px;
    top: 0;
    padding: 0 40px;
  }
}
.flightDetail_content {
  position: relative;
  z-index: 0;
  top: 64px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  padding: 0;
  background-color: #f0f6f7;
  &.eChat_cover {
    padding: 0;
    top: 0;
  }

  .content_box {
    padding: 20px 15px 15px;
    &.fix_btn {
      padding: 20px 15px 66px;
    }
  }
  @include media-breakpoint-up("lg") {
    background-color: transparent;
    max-width: calc(100% - 280px);
    left: 280px;
    top: 0;
    padding: 0 40px 50px;
    &.eChat_cover {
      padding: 32px 40px 50px;
    }
    .content_box {
      padding: 0;
    }
  }
  @include media-breakpoint-up("xl") {
    max-width: calc(100% - 365px);
    left: 365px;
  }
}

.section {
  padding: 0 20px;
  margin: 0 auto;
}
.opened {
  @include media-breakpoint-up("lg") {
    .idx_content {
      max-width: calc(100% - 280px);
      left: 280px;
    }
  }
}
//=== 共用class ===============================================
.mo_show {
  display: inline-block;
  @include media-breakpoint-up("md") {
    display: none !important;
  }
}
.pc_show {
  display: none !important;
  @include media-breakpoint-up("md") {
    display: inline-block !important;
  }
}
.ipd_show {
  display: inline-block;
  @include media-breakpoint-up("lg") {
    display: none !important;
  }
}
.ipd_hide {
  display: none;
  @include media-breakpoint-up("lg") {
    display: inline-block !important;
  }
}

@mixin scrollStyle {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #c3c3c3;
  }
}
.white_border_cover {
  position: relative;
  z-index: 0;
  border-radius: 12px;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  background-color: $white;
  padding: 20px 15px;

  & + .white_border_cover {
    margin-top: 20px;
  }
  @include media-breakpoint-up("md") {
    padding: 20px 30px;
  }
  @include media-breakpoint-up("lg") {
    & + .white_border_cover {
      margin-top: 40px;
    }
  }
  @include media-breakpoint-up("xxl") {
    padding: 40px 60px;
  }
}
.mDV_Viewer {
  &.content_fixed {
    min-height: 250px;
  }
  @include media-breakpoint-up("lg") {
    &.content_fixed {
      // height: calc(calc(var(--vh, 1vh) * 100) - 18px - 32px - 40px - 50px); //header 文字 內文padding(20*2) 外部padding(50)
      overflow-y: auto;
      height: calc(100vh - 140px);
    }
  }
  @include media-breakpoint-up("xxl") {
    &.content_fixed {
      // height: calc(calc(var(--vh, 1vh) * 100) - 18px - 32px - 80px - 50px); //header 文字 內文padding(40*2) 外部padding(50)
      overflow-y: auto;
      height: calc(100vh - 180px);
    }
  }
}
.mDv_name {
  color: $gray-700;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1;
  height: 16px;
  font-size: 1rem;
  @include media-breakpoint-up("lg") {
    color: $white;
    font-size: 1.125rem;
    height: 22px;
    margin-bottom: 10px;
  }
}
.mDV_nodata {
  text-align: center;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding: 0 15px;
  .Img_nodata {
    max-width: 180px;
    width: 100%;
    display: inline-block;
  }
  p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.33;
    color: $gray-700;
    margin-top: 30px;
  }
  @include media-breakpoint-up("lg") {
    p {
      font-size: 1.125rem;
    }
  }
}
.mDV_embed_pdf {
  width: 100%;
  position: relative;
  z-index: 0;
  height: calc(calc(var(--vh, 1vh) * 100) - 64px - 76px - 48px);
  overflow: hidden;
  iframe {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-height: 420px) {
  }
  @include media-breakpoint-up("xl") {
    height: 100%;
    iframe {
      display: block;
    }
  }
}
.openPdfLink {
  display: inline-block;

  text-align: center;
  padding: 7px 20px;
  min-width: 120px;
  color: #fff;
  border-radius: 30px;
  background-color: #0d3740;
  font-weight: normal;
  margin-bottom: 10px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  @include media-breakpoint-up("xl") {
    display: none;
  }
}
.memo-title {
  display: flex;
  align-items: center;
  .memo-title-rec {
    border-radius: 10px;
    background-color: $hightling-color-olive;
    width: 6px;
    height: 22px;
  }
  h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: $primary-color;
  }
  @include media-breakpoint-up("lg") {
    h5 {
      font-size: 1.5rem;
    }
  }
}
.has-footer {
  padding-bottom: 90px;
  @include media-breakpoint-up("lg") {
    padding-bottom: 140px;
  }
}
//=== boostrap modal scroll ======================================
.modal-dialog-scrollable {
  max-height: unset;
  @include media-breakpoint-up("lg") {
    max-height: calc(100% - 3.5rem);
  }
}
//=== 動態飛機 ====================================================
.mo_flightBox {
  background-color: $primary-color;
  padding: 15px;
  text-align: center;
  .flight_infos {
    max-width: 500px;
    background: #fff;
    border-radius: 15px;
  }
  @include media-breakpoint-up("lg") {
    display: none;
  }
}
.flight_infos {
  width: 100%;
  padding: 12px 12px 26px;
  @include media-breakpoint-up("lg") {
    padding: 0px 0px 12px;
    display: inline-block;
    transform: scale(0.85);
    white-space: nowrap;
  }
  @include media-breakpoint-up("xl") {
    padding: 30px 22px;
    transform: scale(1);
  }
}
.f_details {
  .tags {
    text-align: left;
    .tag {
      display: inline-block;
      border-radius: 11px;
      border: solid 1px $primary-color;
      background-color: $white;
      color: $primary-color;
      padding: 2px 9px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.29;
      margin-right: 10px;
      margin-bottom: 10px;
      &.delay {
        border: solid 1px $hightling-color-red;
        background-color: #fae4e1;
        color: $hightling-color-red;
      }
    }
  }
  .f_No {
    @include flex($a: center, $j: flex-start);
    figure {
      max-width: 90px;
      width: 100%;
      margin: 0;
      img {
        width: 100%;
      }
    }
    .f_No_infos {
      margin-left: 5px;
      white-space: nowrap;
      text-align: left;
      h2 {
        margin-bottom: 0;
        color: $gray-700;
      }
      span {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  @include media-breakpoint-up("sm") {
    .f_No {
      @include flex($a: center, $j: center);
    }
  }
  @include media-breakpoint-up("lg") {
    margin-bottom: 10px;
    .f_No {
      @include flex($a: center, $j: flex-start);
    }
  }
}
.flight-detail-place {
  width: 100%;
}
.flight-place {
  @include flex($j: space-between, $a: center);
  .start,
  .end {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    color: $gray-700;
  }
  .time {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    text-align: center;
    color: $primary-color;
  }
}
.flight-move {
  @include flex($j: space-between, $a: center);
  max-width: calc(100% - 40px);
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 10px 0px;
  margin: 0 20px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: -1;
    transform: translateY(-50%);
    width: calc(100% - 40px);
    height: 1px;
    border-bottom: 1px dashed #000;
  }
  .start {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px $primary-color;
    background-color: $primary-color;
  }
  .ic-flight-line {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 10%;
    height: 2px;
    transform: translateY(-50%);
    background-color: $primary-color;
  }
  .ic-move-flight {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    width: auto;
    padding: 0;
    background-color: $white;
    padding-top: 24px;
    i {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
    p {
      font-size: 12px;
      line-height: 1.67;
      text-align: center;
      color: $gray-500;
    }
  }
  .end {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px $primary-color;
    background-color: $white;
  }
}
//=== 共用table ====================================================
.table_layout_cover {
  width: 100%;
  border: solid 1px $gray-300;
  border-radius: 12px;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  overflow: auto;
  max-height: calc(calc(var(--vh, 1vh) * 100) - 64px - 76px);
  table {
    margin: 0;
    .stickyOnlyTop {
      position: sticky;
      top: 0;
      z-index: 10;
    }
    .stickyFirstTop {
      tr {
        th {
          position: sticky;
          top: 0;
          z-index: 4;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray-300;
            top: -1px;
            left: 0px;
          }
        }
      }
    }
    .stickyFirstLeft {
      position: sticky;
      left: 0;
      z-index: 5;
      &.stickyTop {
        top: 0;
        z-index: 6;
      }
    }
    .stickyFirstLeft2 {
      position: sticky;
      z-index: 5;
      &.stickyTop {
        top: 0;
        z-index: 6;
      }
    }
    thead {
      font-size: 1.125rem;
      text-align: center;
      color: $white;
      line-height: 1;
      font-weight: 600;
      tr {
        &.row {
          flex-wrap: nowrap;
        }
        .ic-sort-increase {
          &.active {
            @include retina-sprite($ic-sort-increase-gold-group);
          }
        }
        .ic-sort-decline {
          &.active {
            @include retina-sprite($ic-sort-decline-gold-group);
          }
        }
      }
      th {
        padding: 13px 10px;
        background-color: $primary-color;
        border-right: solid 1px $gray-300;
        border-bottom: none;
        &.txt_break {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &.decline {
          .ic-sort-increase {
            display: none;
          }
          .ic-sort-decline {
            display: inline-block;
          }
        }
        p {
          color: $white;
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.33;
          display: inline-block;
          vertical-align: middle;
        }
        i {
          vertical-align: middle;
        }
        .ic-sort-increase {
          display: inline-block;
        }
        .ic-sort-decline {
          display: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    tbody {
      font-size: 1rem;
      line-height: 1;
      text-align: center;
      color: $gray-700;
      tr {
        cursor: pointer;
        &.row {
          flex-wrap: nowrap;
        }
        &:nth-child(even) {
          th,
          td {
            background-color: #f2f6f7;
          }
        }
        &.delay_line {
          th,
          td {
            background-color: #e6b8b3;
          }
        }
        &.cancel_line {
          th,
          td {
            background-color: #f2e8b6;
          }
        }
        &.chose_line {
          th,
          td {
            background-color: #f2e8b6;
          }
        }
      }
      th {
        font-weight: 400;
        border-right: solid 1px $gray-300;
        border-top: solid 1px $gray-300;
        padding: 13px 10px;
        background-color: $white;
        @include tran();
        // width: 130px; //寫到各自的css設定
      }
      td {
        border-right: solid 1px $gray-300;
        border-top: solid 1px $gray-300;
        padding: 13px 10px;
        background-color: $white;
        @include tran();
        &.txt_break {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    &.noLink {
      tbody {
        tr {
          cursor: default;
          &:nth-child(even) {
            th,
            td {
              background-color: #f2f6f7;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up("lg") {
    max-height: calc(100vh - 64px - 76px);
    height: auto;
    table {
      thead {
        th {
          padding: 13px 10px;
          p {
            font-size: 1.125rem;
          }
        }
      }
      tbody {
        font-size: 1.125rem;
        tr {
          cursor: pointer;
          &:nth-child(even) {
            &:hover {
              th,
              td {
                background-color: #dce4e6;
              }
            }
          }
          &:hover {
            th,
            td {
              background-color: #dce4e6;
            }
          }
          &.delay_line {
            &:hover {
              th,
              td {
                background-color: #d9a093;
              }
            }
          }
          &.cancel_line {
            &:hover {
              th,
              td {
                background-color: #e6d273;
              }
            }
          }
          &.chose_line {
            &:hover {
              th,
              td {
                background-color: #e6d273;
              }
            }
          }
        }
      }
      &.noLink {
        tbody {
          tr {
            cursor: default;
            &:nth-child(even) {
              &:hover {
                th,
                td {
                  background-color: #f2f6f7;
                }
              }
            }
            &:hover {
              th,
              td {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1400px) {
    max-height: calc(100vh - 64px - 117px);
  }
}
//=== btn_FIXEDBTM ====================================================
.btn_FIXEDBTM {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  left: 0px;
  max-width: 100%;
  padding: 7px 0;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  background-color: $white;
  @include flex($a: center, $j: center);
  @include media-breakpoint-up("lg") {
    max-width: calc(100% - 280px);
    left: 280px;
    background-color: $body-color;
    padding: 15px 0;
  }
  @include media-breakpoint-up("xl") {
    max-width: calc(100% - 365px);
    left: 365px;
  }
}
//=== icon ====================================================
.ic-calendar {
  @include retina-sprite($ic-calendar-group);
}
.ic-search {
  @include retina-sprite($ic-search-group);
}
.ic-menu-home {
  @include retina-sprite($ic-menu-home-group);
}
.ic-menu-agent {
  @include retina-sprite($ic-menu-agent-group);
}
.ic-menu-weather {
  @include retina-sprite($ic-menu-weather-group);
}
.ic-menu-set {
  @include retina-sprite($ic-menu-set-group);
}
.ic-hamburgar {
  @include retina-sprite($ic-hamburgar-group);
}
.ic-delay {
  @include retina-sprite($ic-delay-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-delay-group);
  }
}
.ic-cancel {
  @include retina-sprite($ic-cancel-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-cancel-group);
  }
}
.ic-set {
  @include retina-sprite($ic-set-group);
}
.ic-filter {
  @include retina-sprite($ic-filter-group);
  &:hover,
  &.active {
    @include retina-sprite($ic-filter-gold-group);
  }
}
.ic-filter-gold {
  @include retina-sprite($ic-filter-gold-group);
}
.ic-sort-increase {
  cursor: pointer;
  @include retina-sprite($ic-sort-increase-group);
  &:hover {
    @include retina-sprite($ic-sort-increase-gold-group);
  }
}
.ic-sort-decline {
  cursor: pointer;
  @include retina-sprite($ic-sort-decline-group);
  &:hover {
    @include retina-sprite($ic-sort-decline-gold-group);
  }
}
.ic-sort-increase-gold {
  @include retina-sprite($ic-sort-increase-gold-group);
}
.ic-sort-decline-gold {
  @include retina-sprite($ic-sort-decline-gold-group);
}
.ic-remark {
  @include retina-sprite($ic-remark-group);
}
.ic-mel {
  @include retina-sprite($ic-mel-group);
}
.ic-acms-cmc {
  @include retina-sprite($ic-acms-cmc-group);
}
.ic-echat {
  @include retina-sprite($ic-echat-group);
}
.ic-info {
  @include retina-sprite($ic-info-group);
}
.ic-arrow-right {
  @include retina-sprite($ic-arrow-right-group);
}
.ic-arrow-right-white {
  @include retina-sprite($ic-arrow-right-white-group);
}
.ic-arrow-left-white {
  @include retina-sprite($ic-arrow-left-white-group);
}
.ic-close-white {
  @include retina-sprite($ic-close-white-group);
}
.ic-airplane {
  @include retina-sprite($ic-airplane-group);
}
.ic-flight {
  @include retina-sprite($ic-flight-group);
}
.ic-crew {
  @include retina-sprite($ic-crew-group);
}
.ic-dispatch {
  @include retina-sprite($ic-dispatch-group);
}
.ic-telex {
  @include retina-sprite($ic-telex-group);
}
.ic-upload {
  @include retina-sprite($ic-upload-group);
}
.ic-send {
  @include retina-sprite($ic-send-group);
}
.ic-aircraft {
  @include retina-sprite($ic-aircraft-group);
}
.ic-log {
  @include retina-sprite($ic-log-group);
}
.ic-download {
  @include retina-sprite($ic-download-group);
}
.ic-departure {
  @include retina-sprite($ic-departure-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-departure-group);
  }
}
.ic-arrival {
  @include retina-sprite($ic-arrival-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-arrival-group);
  }
}
.ic-passengrer {
  @include retina-sprite($ic-passengrer-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-passengrer-group);
  }
}
.ic-fuel {
  @include retina-sprite($ic-fuel-s-group);
  @include media-breakpoint-up("md") {
    @include retina-sprite($ic-fuel-group);
  }
}
.ic-delete {
  @include retina-sprite($ic-delete-group);
}
.ic-clock {
  @include retina-sprite($ic-clock-group);
}

//------------- 0804
.modal-dialog-scrollable .modal-content {
  @media screen and (max-height: 420px) {
    max-height: calc(100vh - 1rem);
  }
}
.btn-dropdown-wrapper {
  input,
  select {
    &.keyFilter-select {
      width: 100%;
      /*移除箭頭樣式*/
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-right: 34px !important;
      /*改變右邊箭頭樣式*/
      background: url("./../images/ic-select-down-default@2x.png") no-repeat
        calc(100% - 10px) center transparent;
      background-size: 24px 24px;
      &.open {
        background-image: url("./../images/ic-select-up-default@2x.png");
      }
    }
    /*IE隱藏箭頭樣式*/
    &.keyFilter-select::-ms-expand {
      display: none;
    }
  }
}
