// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 154px;
$checkbox-checked-y: 124px;
$checkbox-checked-offset-x: -154px;
$checkbox-checked-offset-y: -124px;
$checkbox-checked-width: 24px;
$checkbox-checked-height: 24px;
$checkbox-checked-total-width: 259px;
$checkbox-checked-total-height: 259px;
$checkbox-checked-image: '../images/sprite.png';
$checkbox-checked: (154px, 124px, -154px, -124px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'checkbox-checked', );
$checkbox-default-name: 'checkbox-default';
$checkbox-default-x: 123px;
$checkbox-default-y: 93px;
$checkbox-default-offset-x: -123px;
$checkbox-default-offset-y: -93px;
$checkbox-default-width: 24px;
$checkbox-default-height: 24px;
$checkbox-default-total-width: 259px;
$checkbox-default-total-height: 259px;
$checkbox-default-image: '../images/sprite.png';
$checkbox-default: (123px, 93px, -123px, -93px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'checkbox-default', );
$checkbox-disabled-checked-name: 'checkbox-disabled-checked';
$checkbox-disabled-checked-x: 124px;
$checkbox-disabled-checked-y: 123px;
$checkbox-disabled-checked-offset-x: -124px;
$checkbox-disabled-checked-offset-y: -123px;
$checkbox-disabled-checked-width: 24px;
$checkbox-disabled-checked-height: 24px;
$checkbox-disabled-checked-total-width: 259px;
$checkbox-disabled-checked-total-height: 259px;
$checkbox-disabled-checked-image: '../images/sprite.png';
$checkbox-disabled-checked: (124px, 123px, -124px, -123px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'checkbox-disabled-checked', );
$checkbox-disabled-name: 'checkbox-disabled';
$checkbox-disabled-x: 124px;
$checkbox-disabled-y: 154px;
$checkbox-disabled-offset-x: -124px;
$checkbox-disabled-offset-y: -154px;
$checkbox-disabled-width: 24px;
$checkbox-disabled-height: 24px;
$checkbox-disabled-total-width: 259px;
$checkbox-disabled-total-height: 259px;
$checkbox-disabled-image: '../images/sprite.png';
$checkbox-disabled: (124px, 154px, -124px, -154px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'checkbox-disabled', );
$checkbox-error-name: 'checkbox-error';
$checkbox-error-x: 149px;
$checkbox-error-y: 154px;
$checkbox-error-offset-x: -149px;
$checkbox-error-offset-y: -154px;
$checkbox-error-width: 24px;
$checkbox-error-height: 24px;
$checkbox-error-total-width: 259px;
$checkbox-error-total-height: 259px;
$checkbox-error-image: '../images/sprite.png';
$checkbox-error: (149px, 154px, -149px, -154px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'checkbox-error', );
$ic-acms-cmc-name: 'ic-acms-cmc';
$ic-acms-cmc-x: 185px;
$ic-acms-cmc-y: 0px;
$ic-acms-cmc-offset-x: -185px;
$ic-acms-cmc-offset-y: 0px;
$ic-acms-cmc-width: 24px;
$ic-acms-cmc-height: 24px;
$ic-acms-cmc-total-width: 259px;
$ic-acms-cmc-total-height: 259px;
$ic-acms-cmc-image: '../images/sprite.png';
$ic-acms-cmc: (185px, 0px, -185px, 0px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-acms-cmc', );
$ic-aircraft-name: 'ic-aircraft';
$ic-aircraft-x: 123px;
$ic-aircraft-y: 0px;
$ic-aircraft-offset-x: -123px;
$ic-aircraft-offset-y: 0px;
$ic-aircraft-width: 30px;
$ic-aircraft-height: 30px;
$ic-aircraft-total-width: 259px;
$ic-aircraft-total-height: 259px;
$ic-aircraft-image: '../images/sprite.png';
$ic-aircraft: (123px, 0px, -123px, 0px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-aircraft', );
$ic-airplane-name: 'ic-airplane';
$ic-airplane-x: 123px;
$ic-airplane-y: 31px;
$ic-airplane-offset-x: -123px;
$ic-airplane-offset-y: -31px;
$ic-airplane-width: 30px;
$ic-airplane-height: 30px;
$ic-airplane-total-width: 259px;
$ic-airplane-total-height: 259px;
$ic-airplane-image: '../images/sprite.png';
$ic-airplane: (123px, 31px, -123px, -31px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-airplane', );
$ic-arrival-s-name: 'ic-arrival-s';
$ic-arrival-s-x: 123px;
$ic-arrival-s-y: 62px;
$ic-arrival-s-offset-x: -123px;
$ic-arrival-s-offset-y: -62px;
$ic-arrival-s-width: 30px;
$ic-arrival-s-height: 30px;
$ic-arrival-s-total-width: 259px;
$ic-arrival-s-total-height: 259px;
$ic-arrival-s-image: '../images/sprite.png';
$ic-arrival-s: (123px, 62px, -123px, -62px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-arrival-s', );
$ic-arrival-name: 'ic-arrival';
$ic-arrival-x: 0px;
$ic-arrival-y: 0px;
$ic-arrival-offset-x: 0px;
$ic-arrival-offset-y: 0px;
$ic-arrival-width: 40px;
$ic-arrival-height: 40px;
$ic-arrival-total-width: 259px;
$ic-arrival-total-height: 259px;
$ic-arrival-image: '../images/sprite.png';
$ic-arrival: (0px, 0px, 0px, 0px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-arrival', );
$ic-arrival-2-name: 'ic-arrival_2';
$ic-arrival-2-x: 0px;
$ic-arrival-2-y: 123px;
$ic-arrival-2-offset-x: 0px;
$ic-arrival-2-offset-y: -123px;
$ic-arrival-2-width: 30px;
$ic-arrival-2-height: 30px;
$ic-arrival-2-total-width: 259px;
$ic-arrival-2-total-height: 259px;
$ic-arrival-2-image: '../images/sprite.png';
$ic-arrival-2: (0px, 123px, 0px, -123px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-arrival_2', );
$ic-arrow-down-white-name: 'ic-arrow-down-white';
$ic-arrow-down-white-x: 185px;
$ic-arrow-down-white-y: 25px;
$ic-arrow-down-white-offset-x: -185px;
$ic-arrow-down-white-offset-y: -25px;
$ic-arrow-down-white-width: 24px;
$ic-arrow-down-white-height: 24px;
$ic-arrow-down-white-total-width: 259px;
$ic-arrow-down-white-total-height: 259px;
$ic-arrow-down-white-image: '../images/sprite.png';
$ic-arrow-down-white: (185px, 25px, -185px, -25px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-down-white', );
$ic-arrow-down-name: 'ic-arrow-down';
$ic-arrow-down-x: 185px;
$ic-arrow-down-y: 50px;
$ic-arrow-down-offset-x: -185px;
$ic-arrow-down-offset-y: -50px;
$ic-arrow-down-width: 24px;
$ic-arrow-down-height: 24px;
$ic-arrow-down-total-width: 259px;
$ic-arrow-down-total-height: 259px;
$ic-arrow-down-image: '../images/sprite.png';
$ic-arrow-down: (185px, 50px, -185px, -50px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-down', );
$ic-arrow-left-white-l-name: 'ic-arrow-left-white-l';
$ic-arrow-left-white-l-x: 41px;
$ic-arrow-left-white-l-y: 0px;
$ic-arrow-left-white-l-offset-x: -41px;
$ic-arrow-left-white-l-offset-y: 0px;
$ic-arrow-left-white-l-width: 40px;
$ic-arrow-left-white-l-height: 40px;
$ic-arrow-left-white-l-total-width: 259px;
$ic-arrow-left-white-l-total-height: 259px;
$ic-arrow-left-white-l-image: '../images/sprite.png';
$ic-arrow-left-white-l: (41px, 0px, -41px, 0px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-arrow-left-white-l', );
$ic-arrow-left-white-name: 'ic-arrow-left-white';
$ic-arrow-left-white-x: 185px;
$ic-arrow-left-white-y: 75px;
$ic-arrow-left-white-offset-x: -185px;
$ic-arrow-left-white-offset-y: -75px;
$ic-arrow-left-white-width: 24px;
$ic-arrow-left-white-height: 24px;
$ic-arrow-left-white-total-width: 259px;
$ic-arrow-left-white-total-height: 259px;
$ic-arrow-left-white-image: '../images/sprite.png';
$ic-arrow-left-white: (185px, 75px, -185px, -75px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-left-white', );
$ic-arrow-left-name: 'ic-arrow-left';
$ic-arrow-left-x: 185px;
$ic-arrow-left-y: 100px;
$ic-arrow-left-offset-x: -185px;
$ic-arrow-left-offset-y: -100px;
$ic-arrow-left-width: 24px;
$ic-arrow-left-height: 24px;
$ic-arrow-left-total-width: 259px;
$ic-arrow-left-total-height: 259px;
$ic-arrow-left-image: '../images/sprite.png';
$ic-arrow-left: (185px, 100px, -185px, -100px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-left', );
$ic-arrow-right-white-l-name: 'ic-arrow-right-white-l';
$ic-arrow-right-white-l-x: 0px;
$ic-arrow-right-white-l-y: 41px;
$ic-arrow-right-white-l-offset-x: 0px;
$ic-arrow-right-white-l-offset-y: -41px;
$ic-arrow-right-white-l-width: 40px;
$ic-arrow-right-white-l-height: 40px;
$ic-arrow-right-white-l-total-width: 259px;
$ic-arrow-right-white-l-total-height: 259px;
$ic-arrow-right-white-l-image: '../images/sprite.png';
$ic-arrow-right-white-l: (0px, 41px, 0px, -41px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-arrow-right-white-l', );
$ic-arrow-right-white-name: 'ic-arrow-right-white';
$ic-arrow-right-white-x: 185px;
$ic-arrow-right-white-y: 125px;
$ic-arrow-right-white-offset-x: -185px;
$ic-arrow-right-white-offset-y: -125px;
$ic-arrow-right-white-width: 24px;
$ic-arrow-right-white-height: 24px;
$ic-arrow-right-white-total-width: 259px;
$ic-arrow-right-white-total-height: 259px;
$ic-arrow-right-white-image: '../images/sprite.png';
$ic-arrow-right-white: (185px, 125px, -185px, -125px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-right-white', );
$ic-arrow-right-name: 'ic-arrow-right';
$ic-arrow-right-x: 185px;
$ic-arrow-right-y: 150px;
$ic-arrow-right-offset-x: -185px;
$ic-arrow-right-offset-y: -150px;
$ic-arrow-right-width: 24px;
$ic-arrow-right-height: 24px;
$ic-arrow-right-total-width: 259px;
$ic-arrow-right-total-height: 259px;
$ic-arrow-right-image: '../images/sprite.png';
$ic-arrow-right: (185px, 150px, -185px, -150px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-right', );
$ic-arrow-up-white-name: 'ic-arrow-up-white';
$ic-arrow-up-white-x: 0px;
$ic-arrow-up-white-y: 185px;
$ic-arrow-up-white-offset-x: 0px;
$ic-arrow-up-white-offset-y: -185px;
$ic-arrow-up-white-width: 24px;
$ic-arrow-up-white-height: 24px;
$ic-arrow-up-white-total-width: 259px;
$ic-arrow-up-white-total-height: 259px;
$ic-arrow-up-white-image: '../images/sprite.png';
$ic-arrow-up-white: (0px, 185px, 0px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-up-white', );
$ic-arrow-up-name: 'ic-arrow-up';
$ic-arrow-up-x: 25px;
$ic-arrow-up-y: 185px;
$ic-arrow-up-offset-x: -25px;
$ic-arrow-up-offset-y: -185px;
$ic-arrow-up-width: 24px;
$ic-arrow-up-height: 24px;
$ic-arrow-up-total-width: 259px;
$ic-arrow-up-total-height: 259px;
$ic-arrow-up-image: '../images/sprite.png';
$ic-arrow-up: (25px, 185px, -25px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-arrow-up', );
$ic-calendar-name: 'ic-calendar';
$ic-calendar-x: 50px;
$ic-calendar-y: 185px;
$ic-calendar-offset-x: -50px;
$ic-calendar-offset-y: -185px;
$ic-calendar-width: 24px;
$ic-calendar-height: 24px;
$ic-calendar-total-width: 259px;
$ic-calendar-total-height: 259px;
$ic-calendar-image: '../images/sprite.png';
$ic-calendar: (50px, 185px, -50px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-calendar', );
$ic-cancel-s-name: 'ic-cancel-s';
$ic-cancel-s-x: 31px;
$ic-cancel-s-y: 123px;
$ic-cancel-s-offset-x: -31px;
$ic-cancel-s-offset-y: -123px;
$ic-cancel-s-width: 30px;
$ic-cancel-s-height: 30px;
$ic-cancel-s-total-width: 259px;
$ic-cancel-s-total-height: 259px;
$ic-cancel-s-image: '../images/sprite.png';
$ic-cancel-s: (31px, 123px, -31px, -123px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-cancel-s', );
$ic-cancel-name: 'ic-cancel';
$ic-cancel-x: 41px;
$ic-cancel-y: 41px;
$ic-cancel-offset-x: -41px;
$ic-cancel-offset-y: -41px;
$ic-cancel-width: 40px;
$ic-cancel-height: 40px;
$ic-cancel-total-width: 259px;
$ic-cancel-total-height: 259px;
$ic-cancel-image: '../images/sprite.png';
$ic-cancel: (41px, 41px, -41px, -41px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-cancel', );
$ic-clock-name: 'ic-clock';
$ic-clock-x: 75px;
$ic-clock-y: 185px;
$ic-clock-offset-x: -75px;
$ic-clock-offset-y: -185px;
$ic-clock-width: 24px;
$ic-clock-height: 24px;
$ic-clock-total-width: 259px;
$ic-clock-total-height: 259px;
$ic-clock-image: '../images/sprite.png';
$ic-clock: (75px, 185px, -75px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-clock', );
$ic-close-white-l-name: 'ic-close-white-l';
$ic-close-white-l-x: 82px;
$ic-close-white-l-y: 0px;
$ic-close-white-l-offset-x: -82px;
$ic-close-white-l-offset-y: 0px;
$ic-close-white-l-width: 40px;
$ic-close-white-l-height: 40px;
$ic-close-white-l-total-width: 259px;
$ic-close-white-l-total-height: 259px;
$ic-close-white-l-image: '../images/sprite.png';
$ic-close-white-l: (82px, 0px, -82px, 0px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-close-white-l', );
$ic-close-white-name: 'ic-close-white';
$ic-close-white-x: 100px;
$ic-close-white-y: 185px;
$ic-close-white-offset-x: -100px;
$ic-close-white-offset-y: -185px;
$ic-close-white-width: 24px;
$ic-close-white-height: 24px;
$ic-close-white-total-width: 259px;
$ic-close-white-total-height: 259px;
$ic-close-white-image: '../images/sprite.png';
$ic-close-white: (100px, 185px, -100px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-close-white', );
$ic-close-name: 'ic-close';
$ic-close-x: 125px;
$ic-close-y: 185px;
$ic-close-offset-x: -125px;
$ic-close-offset-y: -185px;
$ic-close-width: 24px;
$ic-close-height: 24px;
$ic-close-total-width: 259px;
$ic-close-total-height: 259px;
$ic-close-image: '../images/sprite.png';
$ic-close: (125px, 185px, -125px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-close', );
$ic-crew-name: 'ic-crew';
$ic-crew-x: 62px;
$ic-crew-y: 123px;
$ic-crew-offset-x: -62px;
$ic-crew-offset-y: -123px;
$ic-crew-width: 30px;
$ic-crew-height: 30px;
$ic-crew-total-width: 259px;
$ic-crew-total-height: 259px;
$ic-crew-image: '../images/sprite.png';
$ic-crew: (62px, 123px, -62px, -123px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-crew', );
$ic-delay-s-name: 'ic-delay-s';
$ic-delay-s-x: 93px;
$ic-delay-s-y: 123px;
$ic-delay-s-offset-x: -93px;
$ic-delay-s-offset-y: -123px;
$ic-delay-s-width: 30px;
$ic-delay-s-height: 30px;
$ic-delay-s-total-width: 259px;
$ic-delay-s-total-height: 259px;
$ic-delay-s-image: '../images/sprite.png';
$ic-delay-s: (93px, 123px, -93px, -123px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-delay-s', );
$ic-delay-name: 'ic-delay';
$ic-delay-x: 82px;
$ic-delay-y: 41px;
$ic-delay-offset-x: -82px;
$ic-delay-offset-y: -41px;
$ic-delay-width: 40px;
$ic-delay-height: 40px;
$ic-delay-total-width: 259px;
$ic-delay-total-height: 259px;
$ic-delay-image: '../images/sprite.png';
$ic-delay: (82px, 41px, -82px, -41px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-delay', );
$ic-delete-name: 'ic-delete';
$ic-delete-x: 150px;
$ic-delete-y: 185px;
$ic-delete-offset-x: -150px;
$ic-delete-offset-y: -185px;
$ic-delete-width: 24px;
$ic-delete-height: 24px;
$ic-delete-total-width: 259px;
$ic-delete-total-height: 259px;
$ic-delete-image: '../images/sprite.png';
$ic-delete: (150px, 185px, -150px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-delete', );
$ic-departure-s-name: 'ic-departure-s';
$ic-departure-s-x: 154px;
$ic-departure-s-y: 0px;
$ic-departure-s-offset-x: -154px;
$ic-departure-s-offset-y: 0px;
$ic-departure-s-width: 30px;
$ic-departure-s-height: 30px;
$ic-departure-s-total-width: 259px;
$ic-departure-s-total-height: 259px;
$ic-departure-s-image: '../images/sprite.png';
$ic-departure-s: (154px, 0px, -154px, 0px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-departure-s', );
$ic-departure-name: 'ic-departure';
$ic-departure-x: 0px;
$ic-departure-y: 82px;
$ic-departure-offset-x: 0px;
$ic-departure-offset-y: -82px;
$ic-departure-width: 40px;
$ic-departure-height: 40px;
$ic-departure-total-width: 259px;
$ic-departure-total-height: 259px;
$ic-departure-image: '../images/sprite.png';
$ic-departure: (0px, 82px, 0px, -82px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-departure', );
$ic-dispatch-name: 'ic-dispatch';
$ic-dispatch-x: 154px;
$ic-dispatch-y: 31px;
$ic-dispatch-offset-x: -154px;
$ic-dispatch-offset-y: -31px;
$ic-dispatch-width: 30px;
$ic-dispatch-height: 30px;
$ic-dispatch-total-width: 259px;
$ic-dispatch-total-height: 259px;
$ic-dispatch-image: '../images/sprite.png';
$ic-dispatch: (154px, 31px, -154px, -31px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-dispatch', );
$ic-download-name: 'ic-download';
$ic-download-x: 175px;
$ic-download-y: 185px;
$ic-download-offset-x: -175px;
$ic-download-offset-y: -185px;
$ic-download-width: 24px;
$ic-download-height: 24px;
$ic-download-total-width: 259px;
$ic-download-total-height: 259px;
$ic-download-image: '../images/sprite.png';
$ic-download: (175px, 185px, -175px, -185px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-download', );
$ic-echat-name: 'ic-echat';
$ic-echat-x: 210px;
$ic-echat-y: 0px;
$ic-echat-offset-x: -210px;
$ic-echat-offset-y: 0px;
$ic-echat-width: 24px;
$ic-echat-height: 24px;
$ic-echat-total-width: 259px;
$ic-echat-total-height: 259px;
$ic-echat-image: '../images/sprite.png';
$ic-echat: (210px, 0px, -210px, 0px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-echat', );
$ic-filter-gold-name: 'ic-filter-gold';
$ic-filter-gold-x: 210px;
$ic-filter-gold-y: 25px;
$ic-filter-gold-offset-x: -210px;
$ic-filter-gold-offset-y: -25px;
$ic-filter-gold-width: 24px;
$ic-filter-gold-height: 24px;
$ic-filter-gold-total-width: 259px;
$ic-filter-gold-total-height: 259px;
$ic-filter-gold-image: '../images/sprite.png';
$ic-filter-gold: (210px, 25px, -210px, -25px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-filter-gold', );
$ic-filter-name: 'ic-filter';
$ic-filter-x: 210px;
$ic-filter-y: 50px;
$ic-filter-offset-x: -210px;
$ic-filter-offset-y: -50px;
$ic-filter-width: 24px;
$ic-filter-height: 24px;
$ic-filter-total-width: 259px;
$ic-filter-total-height: 259px;
$ic-filter-image: '../images/sprite.png';
$ic-filter: (210px, 50px, -210px, -50px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-filter', );
$ic-flight-name: 'ic-flight';
$ic-flight-x: 154px;
$ic-flight-y: 62px;
$ic-flight-offset-x: -154px;
$ic-flight-offset-y: -62px;
$ic-flight-width: 30px;
$ic-flight-height: 30px;
$ic-flight-total-width: 259px;
$ic-flight-total-height: 259px;
$ic-flight-image: '../images/sprite.png';
$ic-flight: (154px, 62px, -154px, -62px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-flight', );
$ic-fuel-s-name: 'ic-fuel-s';
$ic-fuel-s-x: 154px;
$ic-fuel-s-y: 93px;
$ic-fuel-s-offset-x: -154px;
$ic-fuel-s-offset-y: -93px;
$ic-fuel-s-width: 30px;
$ic-fuel-s-height: 30px;
$ic-fuel-s-total-width: 259px;
$ic-fuel-s-total-height: 259px;
$ic-fuel-s-image: '../images/sprite.png';
$ic-fuel-s: (154px, 93px, -154px, -93px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-fuel-s', );
$ic-fuel-name: 'ic-fuel';
$ic-fuel-x: 41px;
$ic-fuel-y: 82px;
$ic-fuel-offset-x: -41px;
$ic-fuel-offset-y: -82px;
$ic-fuel-width: 40px;
$ic-fuel-height: 40px;
$ic-fuel-total-width: 259px;
$ic-fuel-total-height: 259px;
$ic-fuel-image: '../images/sprite.png';
$ic-fuel: (41px, 82px, -41px, -82px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-fuel', );
$ic-hamburgar-name: 'ic-hamburgar';
$ic-hamburgar-x: 210px;
$ic-hamburgar-y: 75px;
$ic-hamburgar-offset-x: -210px;
$ic-hamburgar-offset-y: -75px;
$ic-hamburgar-width: 24px;
$ic-hamburgar-height: 24px;
$ic-hamburgar-total-width: 259px;
$ic-hamburgar-total-height: 259px;
$ic-hamburgar-image: '../images/sprite.png';
$ic-hamburgar: (210px, 75px, -210px, -75px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-hamburgar', );
$ic-info-name: 'ic-info';
$ic-info-x: 210px;
$ic-info-y: 100px;
$ic-info-offset-x: -210px;
$ic-info-offset-y: -100px;
$ic-info-width: 24px;
$ic-info-height: 24px;
$ic-info-total-width: 259px;
$ic-info-total-height: 259px;
$ic-info-image: '../images/sprite.png';
$ic-info: (210px, 100px, -210px, -100px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-info', );
$ic-log-name: 'ic-log';
$ic-log-x: 0px;
$ic-log-y: 154px;
$ic-log-offset-x: 0px;
$ic-log-offset-y: -154px;
$ic-log-width: 30px;
$ic-log-height: 30px;
$ic-log-total-width: 259px;
$ic-log-total-height: 259px;
$ic-log-image: '../images/sprite.png';
$ic-log: (0px, 154px, 0px, -154px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-log', );
$ic-mel-name: 'ic-mel';
$ic-mel-x: 210px;
$ic-mel-y: 125px;
$ic-mel-offset-x: -210px;
$ic-mel-offset-y: -125px;
$ic-mel-width: 24px;
$ic-mel-height: 24px;
$ic-mel-total-width: 259px;
$ic-mel-total-height: 259px;
$ic-mel-image: '../images/sprite.png';
$ic-mel: (210px, 125px, -210px, -125px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-mel', );
$ic-menu-agent-name: 'ic-menu-agent';
$ic-menu-agent-x: 210px;
$ic-menu-agent-y: 150px;
$ic-menu-agent-offset-x: -210px;
$ic-menu-agent-offset-y: -150px;
$ic-menu-agent-width: 24px;
$ic-menu-agent-height: 24px;
$ic-menu-agent-total-width: 259px;
$ic-menu-agent-total-height: 259px;
$ic-menu-agent-image: '../images/sprite.png';
$ic-menu-agent: (210px, 150px, -210px, -150px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-menu-agent', );
$ic-menu-home-name: 'ic-menu-home';
$ic-menu-home-x: 210px;
$ic-menu-home-y: 175px;
$ic-menu-home-offset-x: -210px;
$ic-menu-home-offset-y: -175px;
$ic-menu-home-width: 24px;
$ic-menu-home-height: 24px;
$ic-menu-home-total-width: 259px;
$ic-menu-home-total-height: 259px;
$ic-menu-home-image: '../images/sprite.png';
$ic-menu-home: (210px, 175px, -210px, -175px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-menu-home', );
$ic-menu-set-name: 'ic-menu-set';
$ic-menu-set-x: 0px;
$ic-menu-set-y: 210px;
$ic-menu-set-offset-x: 0px;
$ic-menu-set-offset-y: -210px;
$ic-menu-set-width: 24px;
$ic-menu-set-height: 24px;
$ic-menu-set-total-width: 259px;
$ic-menu-set-total-height: 259px;
$ic-menu-set-image: '../images/sprite.png';
$ic-menu-set: (0px, 210px, 0px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-menu-set', );
$ic-menu-weather-name: 'ic-menu-weather';
$ic-menu-weather-x: 25px;
$ic-menu-weather-y: 210px;
$ic-menu-weather-offset-x: -25px;
$ic-menu-weather-offset-y: -210px;
$ic-menu-weather-width: 24px;
$ic-menu-weather-height: 24px;
$ic-menu-weather-total-width: 259px;
$ic-menu-weather-total-height: 259px;
$ic-menu-weather-image: '../images/sprite.png';
$ic-menu-weather: (25px, 210px, -25px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-menu-weather', );
$ic-passengrer-s-name: 'ic-passengrer-s';
$ic-passengrer-s-x: 31px;
$ic-passengrer-s-y: 154px;
$ic-passengrer-s-offset-x: -31px;
$ic-passengrer-s-offset-y: -154px;
$ic-passengrer-s-width: 30px;
$ic-passengrer-s-height: 30px;
$ic-passengrer-s-total-width: 259px;
$ic-passengrer-s-total-height: 259px;
$ic-passengrer-s-image: '../images/sprite.png';
$ic-passengrer-s: (31px, 154px, -31px, -154px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-passengrer-s', );
$ic-passengrer-name: 'ic-passengrer';
$ic-passengrer-x: 82px;
$ic-passengrer-y: 82px;
$ic-passengrer-offset-x: -82px;
$ic-passengrer-offset-y: -82px;
$ic-passengrer-width: 40px;
$ic-passengrer-height: 40px;
$ic-passengrer-total-width: 259px;
$ic-passengrer-total-height: 259px;
$ic-passengrer-image: '../images/sprite.png';
$ic-passengrer: (82px, 82px, -82px, -82px, 40px, 40px, 259px, 259px, '../images/sprite.png', 'ic-passengrer', );
$ic-remark-name: 'ic-remark';
$ic-remark-x: 50px;
$ic-remark-y: 210px;
$ic-remark-offset-x: -50px;
$ic-remark-offset-y: -210px;
$ic-remark-width: 24px;
$ic-remark-height: 24px;
$ic-remark-total-width: 259px;
$ic-remark-total-height: 259px;
$ic-remark-image: '../images/sprite.png';
$ic-remark: (50px, 210px, -50px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-remark', );
$ic-search-name: 'ic-search';
$ic-search-x: 75px;
$ic-search-y: 210px;
$ic-search-offset-x: -75px;
$ic-search-offset-y: -210px;
$ic-search-width: 24px;
$ic-search-height: 24px;
$ic-search-total-width: 259px;
$ic-search-total-height: 259px;
$ic-search-image: '../images/sprite.png';
$ic-search: (75px, 210px, -75px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-search', );
$ic-send-name: 'ic-send';
$ic-send-x: 100px;
$ic-send-y: 210px;
$ic-send-offset-x: -100px;
$ic-send-offset-y: -210px;
$ic-send-width: 24px;
$ic-send-height: 24px;
$ic-send-total-width: 259px;
$ic-send-total-height: 259px;
$ic-send-image: '../images/sprite.png';
$ic-send: (100px, 210px, -100px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-send', );
$ic-set-name: 'ic-set';
$ic-set-x: 125px;
$ic-set-y: 210px;
$ic-set-offset-x: -125px;
$ic-set-offset-y: -210px;
$ic-set-width: 24px;
$ic-set-height: 24px;
$ic-set-total-width: 259px;
$ic-set-total-height: 259px;
$ic-set-image: '../images/sprite.png';
$ic-set: (125px, 210px, -125px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-set', );
$ic-sort-decline-gold-name: 'ic-sort-decline-gold';
$ic-sort-decline-gold-x: 150px;
$ic-sort-decline-gold-y: 210px;
$ic-sort-decline-gold-offset-x: -150px;
$ic-sort-decline-gold-offset-y: -210px;
$ic-sort-decline-gold-width: 24px;
$ic-sort-decline-gold-height: 24px;
$ic-sort-decline-gold-total-width: 259px;
$ic-sort-decline-gold-total-height: 259px;
$ic-sort-decline-gold-image: '../images/sprite.png';
$ic-sort-decline-gold: (150px, 210px, -150px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-sort-decline-gold', );
$ic-sort-decline-name: 'ic-sort-decline';
$ic-sort-decline-x: 175px;
$ic-sort-decline-y: 210px;
$ic-sort-decline-offset-x: -175px;
$ic-sort-decline-offset-y: -210px;
$ic-sort-decline-width: 24px;
$ic-sort-decline-height: 24px;
$ic-sort-decline-total-width: 259px;
$ic-sort-decline-total-height: 259px;
$ic-sort-decline-image: '../images/sprite.png';
$ic-sort-decline: (175px, 210px, -175px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-sort-decline', );
$ic-sort-increase-gold-name: 'ic-sort-increase-gold';
$ic-sort-increase-gold-x: 200px;
$ic-sort-increase-gold-y: 210px;
$ic-sort-increase-gold-offset-x: -200px;
$ic-sort-increase-gold-offset-y: -210px;
$ic-sort-increase-gold-width: 24px;
$ic-sort-increase-gold-height: 24px;
$ic-sort-increase-gold-total-width: 259px;
$ic-sort-increase-gold-total-height: 259px;
$ic-sort-increase-gold-image: '../images/sprite.png';
$ic-sort-increase-gold: (200px, 210px, -200px, -210px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-sort-increase-gold', );
$ic-sort-increase-name: 'ic-sort-increase';
$ic-sort-increase-x: 235px;
$ic-sort-increase-y: 0px;
$ic-sort-increase-offset-x: -235px;
$ic-sort-increase-offset-y: 0px;
$ic-sort-increase-width: 24px;
$ic-sort-increase-height: 24px;
$ic-sort-increase-total-width: 259px;
$ic-sort-increase-total-height: 259px;
$ic-sort-increase-image: '../images/sprite.png';
$ic-sort-increase: (235px, 0px, -235px, 0px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'ic-sort-increase', );
$ic-telex-name: 'ic-telex';
$ic-telex-x: 62px;
$ic-telex-y: 154px;
$ic-telex-offset-x: -62px;
$ic-telex-offset-y: -154px;
$ic-telex-width: 30px;
$ic-telex-height: 30px;
$ic-telex-total-width: 259px;
$ic-telex-total-height: 259px;
$ic-telex-image: '../images/sprite.png';
$ic-telex: (62px, 154px, -62px, -154px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-telex', );
$ic-upload-name: 'ic-upload';
$ic-upload-x: 93px;
$ic-upload-y: 154px;
$ic-upload-offset-x: -93px;
$ic-upload-offset-y: -154px;
$ic-upload-width: 30px;
$ic-upload-height: 30px;
$ic-upload-total-width: 259px;
$ic-upload-total-height: 259px;
$ic-upload-image: '../images/sprite.png';
$ic-upload: (93px, 154px, -93px, -154px, 30px, 30px, 259px, 259px, '../images/sprite.png', 'ic-upload', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 235px;
$radio-checked-y: 25px;
$radio-checked-offset-x: -235px;
$radio-checked-offset-y: -25px;
$radio-checked-width: 24px;
$radio-checked-height: 24px;
$radio-checked-total-width: 259px;
$radio-checked-total-height: 259px;
$radio-checked-image: '../images/sprite.png';
$radio-checked: (235px, 25px, -235px, -25px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'radio-checked', );
$radio-default-name: 'radio-default';
$radio-default-x: 235px;
$radio-default-y: 50px;
$radio-default-offset-x: -235px;
$radio-default-offset-y: -50px;
$radio-default-width: 24px;
$radio-default-height: 24px;
$radio-default-total-width: 259px;
$radio-default-total-height: 259px;
$radio-default-image: '../images/sprite.png';
$radio-default: (235px, 50px, -235px, -50px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'radio-default', );
$radio-disabled-checked-name: 'radio-disabled-checked';
$radio-disabled-checked-x: 235px;
$radio-disabled-checked-y: 75px;
$radio-disabled-checked-offset-x: -235px;
$radio-disabled-checked-offset-y: -75px;
$radio-disabled-checked-width: 24px;
$radio-disabled-checked-height: 24px;
$radio-disabled-checked-total-width: 259px;
$radio-disabled-checked-total-height: 259px;
$radio-disabled-checked-image: '../images/sprite.png';
$radio-disabled-checked: (235px, 75px, -235px, -75px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'radio-disabled-checked', );
$radio-disabled-name: 'radio-disabled';
$radio-disabled-x: 235px;
$radio-disabled-y: 100px;
$radio-disabled-offset-x: -235px;
$radio-disabled-offset-y: -100px;
$radio-disabled-width: 24px;
$radio-disabled-height: 24px;
$radio-disabled-total-width: 259px;
$radio-disabled-total-height: 259px;
$radio-disabled-image: '../images/sprite.png';
$radio-disabled: (235px, 100px, -235px, -100px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'radio-disabled', );
$radio-error-name: 'radio-error';
$radio-error-x: 235px;
$radio-error-y: 125px;
$radio-error-offset-x: -235px;
$radio-error-offset-y: -125px;
$radio-error-width: 24px;
$radio-error-height: 24px;
$radio-error-total-width: 259px;
$radio-error-total-height: 259px;
$radio-error-image: '../images/sprite.png';
$radio-error: (235px, 125px, -235px, -125px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'radio-error', );
$select-default-name: 'select-default';
$select-default-x: 235px;
$select-default-y: 150px;
$select-default-offset-x: -235px;
$select-default-offset-y: -150px;
$select-default-width: 24px;
$select-default-height: 24px;
$select-default-total-width: 259px;
$select-default-total-height: 259px;
$select-default-image: '../images/sprite.png';
$select-default: (235px, 150px, -235px, -150px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'select-default', );
$select-down-default-2-name: 'select-down-default_2';
$select-down-default-2-x: 235px;
$select-down-default-2-y: 175px;
$select-down-default-2-offset-x: -235px;
$select-down-default-2-offset-y: -175px;
$select-down-default-2-width: 24px;
$select-down-default-2-height: 24px;
$select-down-default-2-total-width: 259px;
$select-down-default-2-total-height: 259px;
$select-down-default-2-image: '../images/sprite.png';
$select-down-default-2: (235px, 175px, -235px, -175px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'select-down-default_2', );
$select-down-disabled-name: 'select-down-disabled';
$select-down-disabled-x: 235px;
$select-down-disabled-y: 200px;
$select-down-disabled-offset-x: -235px;
$select-down-disabled-offset-y: -200px;
$select-down-disabled-width: 24px;
$select-down-disabled-height: 24px;
$select-down-disabled-total-width: 259px;
$select-down-disabled-total-height: 259px;
$select-down-disabled-image: '../images/sprite.png';
$select-down-disabled: (235px, 200px, -235px, -200px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'select-down-disabled', );
$select-down-error-name: 'select-down-error';
$select-down-error-x: 0px;
$select-down-error-y: 235px;
$select-down-error-offset-x: 0px;
$select-down-error-offset-y: -235px;
$select-down-error-width: 24px;
$select-down-error-height: 24px;
$select-down-error-total-width: 259px;
$select-down-error-total-height: 259px;
$select-down-error-image: '../images/sprite.png';
$select-down-error: (0px, 235px, 0px, -235px, 24px, 24px, 259px, 259px, '../images/sprite.png', 'select-down-error', );
$checkbox-checked-2x-name: 'checkbox-checked@2x';
$checkbox-checked-2x-x: 308px;
$checkbox-checked-2x-y: 248px;
$checkbox-checked-2x-offset-x: -308px;
$checkbox-checked-2x-offset-y: -248px;
$checkbox-checked-2x-width: 48px;
$checkbox-checked-2x-height: 48px;
$checkbox-checked-2x-total-width: 518px;
$checkbox-checked-2x-total-height: 518px;
$checkbox-checked-2x-image: '../images/sprite@2x.png';
$checkbox-checked-2x: (308px, 248px, -308px, -248px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'checkbox-checked@2x', );
$checkbox-default-2x-name: 'checkbox-default@2x';
$checkbox-default-2x-x: 246px;
$checkbox-default-2x-y: 186px;
$checkbox-default-2x-offset-x: -246px;
$checkbox-default-2x-offset-y: -186px;
$checkbox-default-2x-width: 48px;
$checkbox-default-2x-height: 48px;
$checkbox-default-2x-total-width: 518px;
$checkbox-default-2x-total-height: 518px;
$checkbox-default-2x-image: '../images/sprite@2x.png';
$checkbox-default-2x: (246px, 186px, -246px, -186px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'checkbox-default@2x', );
$checkbox-disabled-checked-2x-name: 'checkbox-disabled-checked@2x';
$checkbox-disabled-checked-2x-x: 248px;
$checkbox-disabled-checked-2x-y: 246px;
$checkbox-disabled-checked-2x-offset-x: -248px;
$checkbox-disabled-checked-2x-offset-y: -246px;
$checkbox-disabled-checked-2x-width: 48px;
$checkbox-disabled-checked-2x-height: 48px;
$checkbox-disabled-checked-2x-total-width: 518px;
$checkbox-disabled-checked-2x-total-height: 518px;
$checkbox-disabled-checked-2x-image: '../images/sprite@2x.png';
$checkbox-disabled-checked-2x: (248px, 246px, -248px, -246px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'checkbox-disabled-checked@2x', );
$checkbox-disabled-2x-name: 'checkbox-disabled@2x';
$checkbox-disabled-2x-x: 248px;
$checkbox-disabled-2x-y: 308px;
$checkbox-disabled-2x-offset-x: -248px;
$checkbox-disabled-2x-offset-y: -308px;
$checkbox-disabled-2x-width: 48px;
$checkbox-disabled-2x-height: 48px;
$checkbox-disabled-2x-total-width: 518px;
$checkbox-disabled-2x-total-height: 518px;
$checkbox-disabled-2x-image: '../images/sprite@2x.png';
$checkbox-disabled-2x: (248px, 308px, -248px, -308px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'checkbox-disabled@2x', );
$checkbox-error-2x-name: 'checkbox-error@2x';
$checkbox-error-2x-x: 298px;
$checkbox-error-2x-y: 308px;
$checkbox-error-2x-offset-x: -298px;
$checkbox-error-2x-offset-y: -308px;
$checkbox-error-2x-width: 48px;
$checkbox-error-2x-height: 48px;
$checkbox-error-2x-total-width: 518px;
$checkbox-error-2x-total-height: 518px;
$checkbox-error-2x-image: '../images/sprite@2x.png';
$checkbox-error-2x: (298px, 308px, -298px, -308px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'checkbox-error@2x', );
$ic-acms-cmc-2x-name: 'ic-acms-cmc@2x';
$ic-acms-cmc-2x-x: 370px;
$ic-acms-cmc-2x-y: 0px;
$ic-acms-cmc-2x-offset-x: -370px;
$ic-acms-cmc-2x-offset-y: 0px;
$ic-acms-cmc-2x-width: 48px;
$ic-acms-cmc-2x-height: 48px;
$ic-acms-cmc-2x-total-width: 518px;
$ic-acms-cmc-2x-total-height: 518px;
$ic-acms-cmc-2x-image: '../images/sprite@2x.png';
$ic-acms-cmc-2x: (370px, 0px, -370px, 0px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-acms-cmc@2x', );
$ic-aircraft-2x-name: 'ic-aircraft@2x';
$ic-aircraft-2x-x: 246px;
$ic-aircraft-2x-y: 0px;
$ic-aircraft-2x-offset-x: -246px;
$ic-aircraft-2x-offset-y: 0px;
$ic-aircraft-2x-width: 60px;
$ic-aircraft-2x-height: 60px;
$ic-aircraft-2x-total-width: 518px;
$ic-aircraft-2x-total-height: 518px;
$ic-aircraft-2x-image: '../images/sprite@2x.png';
$ic-aircraft-2x: (246px, 0px, -246px, 0px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-aircraft@2x', );
$ic-airplane-2x-name: 'ic-airplane@2x';
$ic-airplane-2x-x: 246px;
$ic-airplane-2x-y: 62px;
$ic-airplane-2x-offset-x: -246px;
$ic-airplane-2x-offset-y: -62px;
$ic-airplane-2x-width: 60px;
$ic-airplane-2x-height: 60px;
$ic-airplane-2x-total-width: 518px;
$ic-airplane-2x-total-height: 518px;
$ic-airplane-2x-image: '../images/sprite@2x.png';
$ic-airplane-2x: (246px, 62px, -246px, -62px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-airplane@2x', );
$ic-arrival-s-2x-name: 'ic-arrival-s@2x';
$ic-arrival-s-2x-x: 246px;
$ic-arrival-s-2x-y: 124px;
$ic-arrival-s-2x-offset-x: -246px;
$ic-arrival-s-2x-offset-y: -124px;
$ic-arrival-s-2x-width: 60px;
$ic-arrival-s-2x-height: 60px;
$ic-arrival-s-2x-total-width: 518px;
$ic-arrival-s-2x-total-height: 518px;
$ic-arrival-s-2x-image: '../images/sprite@2x.png';
$ic-arrival-s-2x: (246px, 124px, -246px, -124px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrival-s@2x', );
$ic-arrival-2x-name: 'ic-arrival@2x';
$ic-arrival-2x-x: 0px;
$ic-arrival-2x-y: 0px;
$ic-arrival-2x-offset-x: 0px;
$ic-arrival-2x-offset-y: 0px;
$ic-arrival-2x-width: 80px;
$ic-arrival-2x-height: 80px;
$ic-arrival-2x-total-width: 518px;
$ic-arrival-2x-total-height: 518px;
$ic-arrival-2x-image: '../images/sprite@2x.png';
$ic-arrival-2x: (0px, 0px, 0px, 0px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrival@2x', );
$ic-arrival-2-2x-name: 'ic-arrival_2@2x';
$ic-arrival-2-2x-x: 0px;
$ic-arrival-2-2x-y: 246px;
$ic-arrival-2-2x-offset-x: 0px;
$ic-arrival-2-2x-offset-y: -246px;
$ic-arrival-2-2x-width: 60px;
$ic-arrival-2-2x-height: 60px;
$ic-arrival-2-2x-total-width: 518px;
$ic-arrival-2-2x-total-height: 518px;
$ic-arrival-2-2x-image: '../images/sprite@2x.png';
$ic-arrival-2-2x: (0px, 246px, 0px, -246px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrival_2@2x', );
$ic-arrow-down-white-2x-name: 'ic-arrow-down-white@2x';
$ic-arrow-down-white-2x-x: 370px;
$ic-arrow-down-white-2x-y: 50px;
$ic-arrow-down-white-2x-offset-x: -370px;
$ic-arrow-down-white-2x-offset-y: -50px;
$ic-arrow-down-white-2x-width: 48px;
$ic-arrow-down-white-2x-height: 48px;
$ic-arrow-down-white-2x-total-width: 518px;
$ic-arrow-down-white-2x-total-height: 518px;
$ic-arrow-down-white-2x-image: '../images/sprite@2x.png';
$ic-arrow-down-white-2x: (370px, 50px, -370px, -50px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-down-white@2x', );
$ic-arrow-down-2x-name: 'ic-arrow-down@2x';
$ic-arrow-down-2x-x: 370px;
$ic-arrow-down-2x-y: 100px;
$ic-arrow-down-2x-offset-x: -370px;
$ic-arrow-down-2x-offset-y: -100px;
$ic-arrow-down-2x-width: 48px;
$ic-arrow-down-2x-height: 48px;
$ic-arrow-down-2x-total-width: 518px;
$ic-arrow-down-2x-total-height: 518px;
$ic-arrow-down-2x-image: '../images/sprite@2x.png';
$ic-arrow-down-2x: (370px, 100px, -370px, -100px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-down@2x', );
$ic-arrow-left-white-l-2x-name: 'ic-arrow-left-white-l@2x';
$ic-arrow-left-white-l-2x-x: 82px;
$ic-arrow-left-white-l-2x-y: 0px;
$ic-arrow-left-white-l-2x-offset-x: -82px;
$ic-arrow-left-white-l-2x-offset-y: 0px;
$ic-arrow-left-white-l-2x-width: 80px;
$ic-arrow-left-white-l-2x-height: 80px;
$ic-arrow-left-white-l-2x-total-width: 518px;
$ic-arrow-left-white-l-2x-total-height: 518px;
$ic-arrow-left-white-l-2x-image: '../images/sprite@2x.png';
$ic-arrow-left-white-l-2x: (82px, 0px, -82px, 0px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-left-white-l@2x', );
$ic-arrow-left-white-2x-name: 'ic-arrow-left-white@2x';
$ic-arrow-left-white-2x-x: 370px;
$ic-arrow-left-white-2x-y: 150px;
$ic-arrow-left-white-2x-offset-x: -370px;
$ic-arrow-left-white-2x-offset-y: -150px;
$ic-arrow-left-white-2x-width: 48px;
$ic-arrow-left-white-2x-height: 48px;
$ic-arrow-left-white-2x-total-width: 518px;
$ic-arrow-left-white-2x-total-height: 518px;
$ic-arrow-left-white-2x-image: '../images/sprite@2x.png';
$ic-arrow-left-white-2x: (370px, 150px, -370px, -150px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-left-white@2x', );
$ic-arrow-left-2x-name: 'ic-arrow-left@2x';
$ic-arrow-left-2x-x: 370px;
$ic-arrow-left-2x-y: 200px;
$ic-arrow-left-2x-offset-x: -370px;
$ic-arrow-left-2x-offset-y: -200px;
$ic-arrow-left-2x-width: 48px;
$ic-arrow-left-2x-height: 48px;
$ic-arrow-left-2x-total-width: 518px;
$ic-arrow-left-2x-total-height: 518px;
$ic-arrow-left-2x-image: '../images/sprite@2x.png';
$ic-arrow-left-2x: (370px, 200px, -370px, -200px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-left@2x', );
$ic-arrow-right-white-l-2x-name: 'ic-arrow-right-white-l@2x';
$ic-arrow-right-white-l-2x-x: 0px;
$ic-arrow-right-white-l-2x-y: 82px;
$ic-arrow-right-white-l-2x-offset-x: 0px;
$ic-arrow-right-white-l-2x-offset-y: -82px;
$ic-arrow-right-white-l-2x-width: 80px;
$ic-arrow-right-white-l-2x-height: 80px;
$ic-arrow-right-white-l-2x-total-width: 518px;
$ic-arrow-right-white-l-2x-total-height: 518px;
$ic-arrow-right-white-l-2x-image: '../images/sprite@2x.png';
$ic-arrow-right-white-l-2x: (0px, 82px, 0px, -82px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-right-white-l@2x', );
$ic-arrow-right-white-2x-name: 'ic-arrow-right-white@2x';
$ic-arrow-right-white-2x-x: 370px;
$ic-arrow-right-white-2x-y: 250px;
$ic-arrow-right-white-2x-offset-x: -370px;
$ic-arrow-right-white-2x-offset-y: -250px;
$ic-arrow-right-white-2x-width: 48px;
$ic-arrow-right-white-2x-height: 48px;
$ic-arrow-right-white-2x-total-width: 518px;
$ic-arrow-right-white-2x-total-height: 518px;
$ic-arrow-right-white-2x-image: '../images/sprite@2x.png';
$ic-arrow-right-white-2x: (370px, 250px, -370px, -250px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-right-white@2x', );
$ic-arrow-right-2x-name: 'ic-arrow-right@2x';
$ic-arrow-right-2x-x: 370px;
$ic-arrow-right-2x-y: 300px;
$ic-arrow-right-2x-offset-x: -370px;
$ic-arrow-right-2x-offset-y: -300px;
$ic-arrow-right-2x-width: 48px;
$ic-arrow-right-2x-height: 48px;
$ic-arrow-right-2x-total-width: 518px;
$ic-arrow-right-2x-total-height: 518px;
$ic-arrow-right-2x-image: '../images/sprite@2x.png';
$ic-arrow-right-2x: (370px, 300px, -370px, -300px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-right@2x', );
$ic-arrow-up-white-2x-name: 'ic-arrow-up-white@2x';
$ic-arrow-up-white-2x-x: 0px;
$ic-arrow-up-white-2x-y: 370px;
$ic-arrow-up-white-2x-offset-x: 0px;
$ic-arrow-up-white-2x-offset-y: -370px;
$ic-arrow-up-white-2x-width: 48px;
$ic-arrow-up-white-2x-height: 48px;
$ic-arrow-up-white-2x-total-width: 518px;
$ic-arrow-up-white-2x-total-height: 518px;
$ic-arrow-up-white-2x-image: '../images/sprite@2x.png';
$ic-arrow-up-white-2x: (0px, 370px, 0px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-up-white@2x', );
$ic-arrow-up-2x-name: 'ic-arrow-up@2x';
$ic-arrow-up-2x-x: 50px;
$ic-arrow-up-2x-y: 370px;
$ic-arrow-up-2x-offset-x: -50px;
$ic-arrow-up-2x-offset-y: -370px;
$ic-arrow-up-2x-width: 48px;
$ic-arrow-up-2x-height: 48px;
$ic-arrow-up-2x-total-width: 518px;
$ic-arrow-up-2x-total-height: 518px;
$ic-arrow-up-2x-image: '../images/sprite@2x.png';
$ic-arrow-up-2x: (50px, 370px, -50px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-arrow-up@2x', );
$ic-calendar-2x-name: 'ic-calendar@2x';
$ic-calendar-2x-x: 100px;
$ic-calendar-2x-y: 370px;
$ic-calendar-2x-offset-x: -100px;
$ic-calendar-2x-offset-y: -370px;
$ic-calendar-2x-width: 48px;
$ic-calendar-2x-height: 48px;
$ic-calendar-2x-total-width: 518px;
$ic-calendar-2x-total-height: 518px;
$ic-calendar-2x-image: '../images/sprite@2x.png';
$ic-calendar-2x: (100px, 370px, -100px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-calendar@2x', );
$ic-cancel-s-2x-name: 'ic-cancel-s@2x';
$ic-cancel-s-2x-x: 62px;
$ic-cancel-s-2x-y: 246px;
$ic-cancel-s-2x-offset-x: -62px;
$ic-cancel-s-2x-offset-y: -246px;
$ic-cancel-s-2x-width: 60px;
$ic-cancel-s-2x-height: 60px;
$ic-cancel-s-2x-total-width: 518px;
$ic-cancel-s-2x-total-height: 518px;
$ic-cancel-s-2x-image: '../images/sprite@2x.png';
$ic-cancel-s-2x: (62px, 246px, -62px, -246px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-cancel-s@2x', );
$ic-cancel-2x-name: 'ic-cancel@2x';
$ic-cancel-2x-x: 82px;
$ic-cancel-2x-y: 82px;
$ic-cancel-2x-offset-x: -82px;
$ic-cancel-2x-offset-y: -82px;
$ic-cancel-2x-width: 80px;
$ic-cancel-2x-height: 80px;
$ic-cancel-2x-total-width: 518px;
$ic-cancel-2x-total-height: 518px;
$ic-cancel-2x-image: '../images/sprite@2x.png';
$ic-cancel-2x: (82px, 82px, -82px, -82px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-cancel@2x', );
$ic-clock-2x-name: 'ic-clock@2x';
$ic-clock-2x-x: 150px;
$ic-clock-2x-y: 370px;
$ic-clock-2x-offset-x: -150px;
$ic-clock-2x-offset-y: -370px;
$ic-clock-2x-width: 48px;
$ic-clock-2x-height: 48px;
$ic-clock-2x-total-width: 518px;
$ic-clock-2x-total-height: 518px;
$ic-clock-2x-image: '../images/sprite@2x.png';
$ic-clock-2x: (150px, 370px, -150px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-clock@2x', );
$ic-close-white-l-2x-name: 'ic-close-white-l@2x';
$ic-close-white-l-2x-x: 164px;
$ic-close-white-l-2x-y: 0px;
$ic-close-white-l-2x-offset-x: -164px;
$ic-close-white-l-2x-offset-y: 0px;
$ic-close-white-l-2x-width: 80px;
$ic-close-white-l-2x-height: 80px;
$ic-close-white-l-2x-total-width: 518px;
$ic-close-white-l-2x-total-height: 518px;
$ic-close-white-l-2x-image: '../images/sprite@2x.png';
$ic-close-white-l-2x: (164px, 0px, -164px, 0px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-close-white-l@2x', );
$ic-close-white-2x-name: 'ic-close-white@2x';
$ic-close-white-2x-x: 200px;
$ic-close-white-2x-y: 370px;
$ic-close-white-2x-offset-x: -200px;
$ic-close-white-2x-offset-y: -370px;
$ic-close-white-2x-width: 48px;
$ic-close-white-2x-height: 48px;
$ic-close-white-2x-total-width: 518px;
$ic-close-white-2x-total-height: 518px;
$ic-close-white-2x-image: '../images/sprite@2x.png';
$ic-close-white-2x: (200px, 370px, -200px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-close-white@2x', );
$ic-close-2x-name: 'ic-close@2x';
$ic-close-2x-x: 250px;
$ic-close-2x-y: 370px;
$ic-close-2x-offset-x: -250px;
$ic-close-2x-offset-y: -370px;
$ic-close-2x-width: 48px;
$ic-close-2x-height: 48px;
$ic-close-2x-total-width: 518px;
$ic-close-2x-total-height: 518px;
$ic-close-2x-image: '../images/sprite@2x.png';
$ic-close-2x: (250px, 370px, -250px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-close@2x', );
$ic-crew-2x-name: 'ic-crew@2x';
$ic-crew-2x-x: 124px;
$ic-crew-2x-y: 246px;
$ic-crew-2x-offset-x: -124px;
$ic-crew-2x-offset-y: -246px;
$ic-crew-2x-width: 60px;
$ic-crew-2x-height: 60px;
$ic-crew-2x-total-width: 518px;
$ic-crew-2x-total-height: 518px;
$ic-crew-2x-image: '../images/sprite@2x.png';
$ic-crew-2x: (124px, 246px, -124px, -246px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-crew@2x', );
$ic-delay-s-2x-name: 'ic-delay-s@2x';
$ic-delay-s-2x-x: 186px;
$ic-delay-s-2x-y: 246px;
$ic-delay-s-2x-offset-x: -186px;
$ic-delay-s-2x-offset-y: -246px;
$ic-delay-s-2x-width: 60px;
$ic-delay-s-2x-height: 60px;
$ic-delay-s-2x-total-width: 518px;
$ic-delay-s-2x-total-height: 518px;
$ic-delay-s-2x-image: '../images/sprite@2x.png';
$ic-delay-s-2x: (186px, 246px, -186px, -246px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-delay-s@2x', );
$ic-delay-2x-name: 'ic-delay@2x';
$ic-delay-2x-x: 164px;
$ic-delay-2x-y: 82px;
$ic-delay-2x-offset-x: -164px;
$ic-delay-2x-offset-y: -82px;
$ic-delay-2x-width: 80px;
$ic-delay-2x-height: 80px;
$ic-delay-2x-total-width: 518px;
$ic-delay-2x-total-height: 518px;
$ic-delay-2x-image: '../images/sprite@2x.png';
$ic-delay-2x: (164px, 82px, -164px, -82px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-delay@2x', );
$ic-delete-2x-name: 'ic-delete@2x';
$ic-delete-2x-x: 300px;
$ic-delete-2x-y: 370px;
$ic-delete-2x-offset-x: -300px;
$ic-delete-2x-offset-y: -370px;
$ic-delete-2x-width: 48px;
$ic-delete-2x-height: 48px;
$ic-delete-2x-total-width: 518px;
$ic-delete-2x-total-height: 518px;
$ic-delete-2x-image: '../images/sprite@2x.png';
$ic-delete-2x: (300px, 370px, -300px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-delete@2x', );
$ic-departure-s-2x-name: 'ic-departure-s@2x';
$ic-departure-s-2x-x: 308px;
$ic-departure-s-2x-y: 0px;
$ic-departure-s-2x-offset-x: -308px;
$ic-departure-s-2x-offset-y: 0px;
$ic-departure-s-2x-width: 60px;
$ic-departure-s-2x-height: 60px;
$ic-departure-s-2x-total-width: 518px;
$ic-departure-s-2x-total-height: 518px;
$ic-departure-s-2x-image: '../images/sprite@2x.png';
$ic-departure-s-2x: (308px, 0px, -308px, 0px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-departure-s@2x', );
$ic-departure-2x-name: 'ic-departure@2x';
$ic-departure-2x-x: 0px;
$ic-departure-2x-y: 164px;
$ic-departure-2x-offset-x: 0px;
$ic-departure-2x-offset-y: -164px;
$ic-departure-2x-width: 80px;
$ic-departure-2x-height: 80px;
$ic-departure-2x-total-width: 518px;
$ic-departure-2x-total-height: 518px;
$ic-departure-2x-image: '../images/sprite@2x.png';
$ic-departure-2x: (0px, 164px, 0px, -164px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-departure@2x', );
$ic-dispatch-2x-name: 'ic-dispatch@2x';
$ic-dispatch-2x-x: 308px;
$ic-dispatch-2x-y: 62px;
$ic-dispatch-2x-offset-x: -308px;
$ic-dispatch-2x-offset-y: -62px;
$ic-dispatch-2x-width: 60px;
$ic-dispatch-2x-height: 60px;
$ic-dispatch-2x-total-width: 518px;
$ic-dispatch-2x-total-height: 518px;
$ic-dispatch-2x-image: '../images/sprite@2x.png';
$ic-dispatch-2x: (308px, 62px, -308px, -62px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-dispatch@2x', );
$ic-download-2x-name: 'ic-download@2x';
$ic-download-2x-x: 350px;
$ic-download-2x-y: 370px;
$ic-download-2x-offset-x: -350px;
$ic-download-2x-offset-y: -370px;
$ic-download-2x-width: 48px;
$ic-download-2x-height: 48px;
$ic-download-2x-total-width: 518px;
$ic-download-2x-total-height: 518px;
$ic-download-2x-image: '../images/sprite@2x.png';
$ic-download-2x: (350px, 370px, -350px, -370px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-download@2x', );
$ic-echat-2x-name: 'ic-echat@2x';
$ic-echat-2x-x: 420px;
$ic-echat-2x-y: 0px;
$ic-echat-2x-offset-x: -420px;
$ic-echat-2x-offset-y: 0px;
$ic-echat-2x-width: 48px;
$ic-echat-2x-height: 48px;
$ic-echat-2x-total-width: 518px;
$ic-echat-2x-total-height: 518px;
$ic-echat-2x-image: '../images/sprite@2x.png';
$ic-echat-2x: (420px, 0px, -420px, 0px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-echat@2x', );
$ic-filter-gold-2x-name: 'ic-filter-gold@2x';
$ic-filter-gold-2x-x: 420px;
$ic-filter-gold-2x-y: 50px;
$ic-filter-gold-2x-offset-x: -420px;
$ic-filter-gold-2x-offset-y: -50px;
$ic-filter-gold-2x-width: 48px;
$ic-filter-gold-2x-height: 48px;
$ic-filter-gold-2x-total-width: 518px;
$ic-filter-gold-2x-total-height: 518px;
$ic-filter-gold-2x-image: '../images/sprite@2x.png';
$ic-filter-gold-2x: (420px, 50px, -420px, -50px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-filter-gold@2x', );
$ic-filter-2x-name: 'ic-filter@2x';
$ic-filter-2x-x: 420px;
$ic-filter-2x-y: 100px;
$ic-filter-2x-offset-x: -420px;
$ic-filter-2x-offset-y: -100px;
$ic-filter-2x-width: 48px;
$ic-filter-2x-height: 48px;
$ic-filter-2x-total-width: 518px;
$ic-filter-2x-total-height: 518px;
$ic-filter-2x-image: '../images/sprite@2x.png';
$ic-filter-2x: (420px, 100px, -420px, -100px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-filter@2x', );
$ic-flight-2x-name: 'ic-flight@2x';
$ic-flight-2x-x: 308px;
$ic-flight-2x-y: 124px;
$ic-flight-2x-offset-x: -308px;
$ic-flight-2x-offset-y: -124px;
$ic-flight-2x-width: 60px;
$ic-flight-2x-height: 60px;
$ic-flight-2x-total-width: 518px;
$ic-flight-2x-total-height: 518px;
$ic-flight-2x-image: '../images/sprite@2x.png';
$ic-flight-2x: (308px, 124px, -308px, -124px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-flight@2x', );
$ic-fuel-s-2x-name: 'ic-fuel-s@2x';
$ic-fuel-s-2x-x: 308px;
$ic-fuel-s-2x-y: 186px;
$ic-fuel-s-2x-offset-x: -308px;
$ic-fuel-s-2x-offset-y: -186px;
$ic-fuel-s-2x-width: 60px;
$ic-fuel-s-2x-height: 60px;
$ic-fuel-s-2x-total-width: 518px;
$ic-fuel-s-2x-total-height: 518px;
$ic-fuel-s-2x-image: '../images/sprite@2x.png';
$ic-fuel-s-2x: (308px, 186px, -308px, -186px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-fuel-s@2x', );
$ic-fuel-2x-name: 'ic-fuel@2x';
$ic-fuel-2x-x: 82px;
$ic-fuel-2x-y: 164px;
$ic-fuel-2x-offset-x: -82px;
$ic-fuel-2x-offset-y: -164px;
$ic-fuel-2x-width: 80px;
$ic-fuel-2x-height: 80px;
$ic-fuel-2x-total-width: 518px;
$ic-fuel-2x-total-height: 518px;
$ic-fuel-2x-image: '../images/sprite@2x.png';
$ic-fuel-2x: (82px, 164px, -82px, -164px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-fuel@2x', );
$ic-hamburgar-2x-name: 'ic-hamburgar@2x';
$ic-hamburgar-2x-x: 420px;
$ic-hamburgar-2x-y: 150px;
$ic-hamburgar-2x-offset-x: -420px;
$ic-hamburgar-2x-offset-y: -150px;
$ic-hamburgar-2x-width: 48px;
$ic-hamburgar-2x-height: 48px;
$ic-hamburgar-2x-total-width: 518px;
$ic-hamburgar-2x-total-height: 518px;
$ic-hamburgar-2x-image: '../images/sprite@2x.png';
$ic-hamburgar-2x: (420px, 150px, -420px, -150px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-hamburgar@2x', );
$ic-info-2x-name: 'ic-info@2x';
$ic-info-2x-x: 420px;
$ic-info-2x-y: 200px;
$ic-info-2x-offset-x: -420px;
$ic-info-2x-offset-y: -200px;
$ic-info-2x-width: 48px;
$ic-info-2x-height: 48px;
$ic-info-2x-total-width: 518px;
$ic-info-2x-total-height: 518px;
$ic-info-2x-image: '../images/sprite@2x.png';
$ic-info-2x: (420px, 200px, -420px, -200px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-info@2x', );
$ic-log-2x-name: 'ic-log@2x';
$ic-log-2x-x: 0px;
$ic-log-2x-y: 308px;
$ic-log-2x-offset-x: 0px;
$ic-log-2x-offset-y: -308px;
$ic-log-2x-width: 60px;
$ic-log-2x-height: 60px;
$ic-log-2x-total-width: 518px;
$ic-log-2x-total-height: 518px;
$ic-log-2x-image: '../images/sprite@2x.png';
$ic-log-2x: (0px, 308px, 0px, -308px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-log@2x', );
$ic-mel-2x-name: 'ic-mel@2x';
$ic-mel-2x-x: 420px;
$ic-mel-2x-y: 250px;
$ic-mel-2x-offset-x: -420px;
$ic-mel-2x-offset-y: -250px;
$ic-mel-2x-width: 48px;
$ic-mel-2x-height: 48px;
$ic-mel-2x-total-width: 518px;
$ic-mel-2x-total-height: 518px;
$ic-mel-2x-image: '../images/sprite@2x.png';
$ic-mel-2x: (420px, 250px, -420px, -250px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-mel@2x', );
$ic-menu-agent-2x-name: 'ic-menu-agent@2x';
$ic-menu-agent-2x-x: 420px;
$ic-menu-agent-2x-y: 300px;
$ic-menu-agent-2x-offset-x: -420px;
$ic-menu-agent-2x-offset-y: -300px;
$ic-menu-agent-2x-width: 48px;
$ic-menu-agent-2x-height: 48px;
$ic-menu-agent-2x-total-width: 518px;
$ic-menu-agent-2x-total-height: 518px;
$ic-menu-agent-2x-image: '../images/sprite@2x.png';
$ic-menu-agent-2x: (420px, 300px, -420px, -300px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-menu-agent@2x', );
$ic-menu-home-2x-name: 'ic-menu-home@2x';
$ic-menu-home-2x-x: 420px;
$ic-menu-home-2x-y: 350px;
$ic-menu-home-2x-offset-x: -420px;
$ic-menu-home-2x-offset-y: -350px;
$ic-menu-home-2x-width: 48px;
$ic-menu-home-2x-height: 48px;
$ic-menu-home-2x-total-width: 518px;
$ic-menu-home-2x-total-height: 518px;
$ic-menu-home-2x-image: '../images/sprite@2x.png';
$ic-menu-home-2x: (420px, 350px, -420px, -350px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-menu-home@2x', );
$ic-menu-set-2x-name: 'ic-menu-set@2x';
$ic-menu-set-2x-x: 0px;
$ic-menu-set-2x-y: 420px;
$ic-menu-set-2x-offset-x: 0px;
$ic-menu-set-2x-offset-y: -420px;
$ic-menu-set-2x-width: 48px;
$ic-menu-set-2x-height: 48px;
$ic-menu-set-2x-total-width: 518px;
$ic-menu-set-2x-total-height: 518px;
$ic-menu-set-2x-image: '../images/sprite@2x.png';
$ic-menu-set-2x: (0px, 420px, 0px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-menu-set@2x', );
$ic-menu-weather-2x-name: 'ic-menu-weather@2x';
$ic-menu-weather-2x-x: 50px;
$ic-menu-weather-2x-y: 420px;
$ic-menu-weather-2x-offset-x: -50px;
$ic-menu-weather-2x-offset-y: -420px;
$ic-menu-weather-2x-width: 48px;
$ic-menu-weather-2x-height: 48px;
$ic-menu-weather-2x-total-width: 518px;
$ic-menu-weather-2x-total-height: 518px;
$ic-menu-weather-2x-image: '../images/sprite@2x.png';
$ic-menu-weather-2x: (50px, 420px, -50px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-menu-weather@2x', );
$ic-passengrer-s-2x-name: 'ic-passengrer-s@2x';
$ic-passengrer-s-2x-x: 62px;
$ic-passengrer-s-2x-y: 308px;
$ic-passengrer-s-2x-offset-x: -62px;
$ic-passengrer-s-2x-offset-y: -308px;
$ic-passengrer-s-2x-width: 60px;
$ic-passengrer-s-2x-height: 60px;
$ic-passengrer-s-2x-total-width: 518px;
$ic-passengrer-s-2x-total-height: 518px;
$ic-passengrer-s-2x-image: '../images/sprite@2x.png';
$ic-passengrer-s-2x: (62px, 308px, -62px, -308px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-passengrer-s@2x', );
$ic-passengrer-2x-name: 'ic-passengrer@2x';
$ic-passengrer-2x-x: 164px;
$ic-passengrer-2x-y: 164px;
$ic-passengrer-2x-offset-x: -164px;
$ic-passengrer-2x-offset-y: -164px;
$ic-passengrer-2x-width: 80px;
$ic-passengrer-2x-height: 80px;
$ic-passengrer-2x-total-width: 518px;
$ic-passengrer-2x-total-height: 518px;
$ic-passengrer-2x-image: '../images/sprite@2x.png';
$ic-passengrer-2x: (164px, 164px, -164px, -164px, 80px, 80px, 518px, 518px, '../images/sprite@2x.png', 'ic-passengrer@2x', );
$ic-remark-2x-name: 'ic-remark@2x';
$ic-remark-2x-x: 100px;
$ic-remark-2x-y: 420px;
$ic-remark-2x-offset-x: -100px;
$ic-remark-2x-offset-y: -420px;
$ic-remark-2x-width: 48px;
$ic-remark-2x-height: 48px;
$ic-remark-2x-total-width: 518px;
$ic-remark-2x-total-height: 518px;
$ic-remark-2x-image: '../images/sprite@2x.png';
$ic-remark-2x: (100px, 420px, -100px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-remark@2x', );
$ic-search-2x-name: 'ic-search@2x';
$ic-search-2x-x: 150px;
$ic-search-2x-y: 420px;
$ic-search-2x-offset-x: -150px;
$ic-search-2x-offset-y: -420px;
$ic-search-2x-width: 48px;
$ic-search-2x-height: 48px;
$ic-search-2x-total-width: 518px;
$ic-search-2x-total-height: 518px;
$ic-search-2x-image: '../images/sprite@2x.png';
$ic-search-2x: (150px, 420px, -150px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-search@2x', );
$ic-send-2x-name: 'ic-send@2x';
$ic-send-2x-x: 200px;
$ic-send-2x-y: 420px;
$ic-send-2x-offset-x: -200px;
$ic-send-2x-offset-y: -420px;
$ic-send-2x-width: 48px;
$ic-send-2x-height: 48px;
$ic-send-2x-total-width: 518px;
$ic-send-2x-total-height: 518px;
$ic-send-2x-image: '../images/sprite@2x.png';
$ic-send-2x: (200px, 420px, -200px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-send@2x', );
$ic-set-2x-name: 'ic-set@2x';
$ic-set-2x-x: 250px;
$ic-set-2x-y: 420px;
$ic-set-2x-offset-x: -250px;
$ic-set-2x-offset-y: -420px;
$ic-set-2x-width: 48px;
$ic-set-2x-height: 48px;
$ic-set-2x-total-width: 518px;
$ic-set-2x-total-height: 518px;
$ic-set-2x-image: '../images/sprite@2x.png';
$ic-set-2x: (250px, 420px, -250px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-set@2x', );
$ic-sort-decline-gold-2x-name: 'ic-sort-decline-gold@2x';
$ic-sort-decline-gold-2x-x: 300px;
$ic-sort-decline-gold-2x-y: 420px;
$ic-sort-decline-gold-2x-offset-x: -300px;
$ic-sort-decline-gold-2x-offset-y: -420px;
$ic-sort-decline-gold-2x-width: 48px;
$ic-sort-decline-gold-2x-height: 48px;
$ic-sort-decline-gold-2x-total-width: 518px;
$ic-sort-decline-gold-2x-total-height: 518px;
$ic-sort-decline-gold-2x-image: '../images/sprite@2x.png';
$ic-sort-decline-gold-2x: (300px, 420px, -300px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-sort-decline-gold@2x', );
$ic-sort-decline-2x-name: 'ic-sort-decline@2x';
$ic-sort-decline-2x-x: 350px;
$ic-sort-decline-2x-y: 420px;
$ic-sort-decline-2x-offset-x: -350px;
$ic-sort-decline-2x-offset-y: -420px;
$ic-sort-decline-2x-width: 48px;
$ic-sort-decline-2x-height: 48px;
$ic-sort-decline-2x-total-width: 518px;
$ic-sort-decline-2x-total-height: 518px;
$ic-sort-decline-2x-image: '../images/sprite@2x.png';
$ic-sort-decline-2x: (350px, 420px, -350px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-sort-decline@2x', );
$ic-sort-increase-gold-2x-name: 'ic-sort-increase-gold@2x';
$ic-sort-increase-gold-2x-x: 400px;
$ic-sort-increase-gold-2x-y: 420px;
$ic-sort-increase-gold-2x-offset-x: -400px;
$ic-sort-increase-gold-2x-offset-y: -420px;
$ic-sort-increase-gold-2x-width: 48px;
$ic-sort-increase-gold-2x-height: 48px;
$ic-sort-increase-gold-2x-total-width: 518px;
$ic-sort-increase-gold-2x-total-height: 518px;
$ic-sort-increase-gold-2x-image: '../images/sprite@2x.png';
$ic-sort-increase-gold-2x: (400px, 420px, -400px, -420px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-sort-increase-gold@2x', );
$ic-sort-increase-2x-name: 'ic-sort-increase@2x';
$ic-sort-increase-2x-x: 470px;
$ic-sort-increase-2x-y: 0px;
$ic-sort-increase-2x-offset-x: -470px;
$ic-sort-increase-2x-offset-y: 0px;
$ic-sort-increase-2x-width: 48px;
$ic-sort-increase-2x-height: 48px;
$ic-sort-increase-2x-total-width: 518px;
$ic-sort-increase-2x-total-height: 518px;
$ic-sort-increase-2x-image: '../images/sprite@2x.png';
$ic-sort-increase-2x: (470px, 0px, -470px, 0px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'ic-sort-increase@2x', );
$ic-telex-2x-name: 'ic-telex@2x';
$ic-telex-2x-x: 124px;
$ic-telex-2x-y: 308px;
$ic-telex-2x-offset-x: -124px;
$ic-telex-2x-offset-y: -308px;
$ic-telex-2x-width: 60px;
$ic-telex-2x-height: 60px;
$ic-telex-2x-total-width: 518px;
$ic-telex-2x-total-height: 518px;
$ic-telex-2x-image: '../images/sprite@2x.png';
$ic-telex-2x: (124px, 308px, -124px, -308px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-telex@2x', );
$ic-upload-2x-name: 'ic-upload@2x';
$ic-upload-2x-x: 186px;
$ic-upload-2x-y: 308px;
$ic-upload-2x-offset-x: -186px;
$ic-upload-2x-offset-y: -308px;
$ic-upload-2x-width: 60px;
$ic-upload-2x-height: 60px;
$ic-upload-2x-total-width: 518px;
$ic-upload-2x-total-height: 518px;
$ic-upload-2x-image: '../images/sprite@2x.png';
$ic-upload-2x: (186px, 308px, -186px, -308px, 60px, 60px, 518px, 518px, '../images/sprite@2x.png', 'ic-upload@2x', );
$radio-checked-2x-name: 'radio-checked@2x';
$radio-checked-2x-x: 470px;
$radio-checked-2x-y: 50px;
$radio-checked-2x-offset-x: -470px;
$radio-checked-2x-offset-y: -50px;
$radio-checked-2x-width: 48px;
$radio-checked-2x-height: 48px;
$radio-checked-2x-total-width: 518px;
$radio-checked-2x-total-height: 518px;
$radio-checked-2x-image: '../images/sprite@2x.png';
$radio-checked-2x: (470px, 50px, -470px, -50px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'radio-checked@2x', );
$radio-default-2x-name: 'radio-default@2x';
$radio-default-2x-x: 470px;
$radio-default-2x-y: 100px;
$radio-default-2x-offset-x: -470px;
$radio-default-2x-offset-y: -100px;
$radio-default-2x-width: 48px;
$radio-default-2x-height: 48px;
$radio-default-2x-total-width: 518px;
$radio-default-2x-total-height: 518px;
$radio-default-2x-image: '../images/sprite@2x.png';
$radio-default-2x: (470px, 100px, -470px, -100px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'radio-default@2x', );
$radio-disabled-checked-2x-name: 'radio-disabled-checked@2x';
$radio-disabled-checked-2x-x: 470px;
$radio-disabled-checked-2x-y: 150px;
$radio-disabled-checked-2x-offset-x: -470px;
$radio-disabled-checked-2x-offset-y: -150px;
$radio-disabled-checked-2x-width: 48px;
$radio-disabled-checked-2x-height: 48px;
$radio-disabled-checked-2x-total-width: 518px;
$radio-disabled-checked-2x-total-height: 518px;
$radio-disabled-checked-2x-image: '../images/sprite@2x.png';
$radio-disabled-checked-2x: (470px, 150px, -470px, -150px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'radio-disabled-checked@2x', );
$radio-disabled-2x-name: 'radio-disabled@2x';
$radio-disabled-2x-x: 470px;
$radio-disabled-2x-y: 200px;
$radio-disabled-2x-offset-x: -470px;
$radio-disabled-2x-offset-y: -200px;
$radio-disabled-2x-width: 48px;
$radio-disabled-2x-height: 48px;
$radio-disabled-2x-total-width: 518px;
$radio-disabled-2x-total-height: 518px;
$radio-disabled-2x-image: '../images/sprite@2x.png';
$radio-disabled-2x: (470px, 200px, -470px, -200px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'radio-disabled@2x', );
$radio-error-2x-name: 'radio-error@2x';
$radio-error-2x-x: 470px;
$radio-error-2x-y: 250px;
$radio-error-2x-offset-x: -470px;
$radio-error-2x-offset-y: -250px;
$radio-error-2x-width: 48px;
$radio-error-2x-height: 48px;
$radio-error-2x-total-width: 518px;
$radio-error-2x-total-height: 518px;
$radio-error-2x-image: '../images/sprite@2x.png';
$radio-error-2x: (470px, 250px, -470px, -250px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'radio-error@2x', );
$select-default-2x-name: 'select-default@2x';
$select-default-2x-x: 470px;
$select-default-2x-y: 300px;
$select-default-2x-offset-x: -470px;
$select-default-2x-offset-y: -300px;
$select-default-2x-width: 48px;
$select-default-2x-height: 48px;
$select-default-2x-total-width: 518px;
$select-default-2x-total-height: 518px;
$select-default-2x-image: '../images/sprite@2x.png';
$select-default-2x: (470px, 300px, -470px, -300px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'select-default@2x', );
$select-down-default-2-2x-name: 'select-down-default_2@2x';
$select-down-default-2-2x-x: 470px;
$select-down-default-2-2x-y: 350px;
$select-down-default-2-2x-offset-x: -470px;
$select-down-default-2-2x-offset-y: -350px;
$select-down-default-2-2x-width: 48px;
$select-down-default-2-2x-height: 48px;
$select-down-default-2-2x-total-width: 518px;
$select-down-default-2-2x-total-height: 518px;
$select-down-default-2-2x-image: '../images/sprite@2x.png';
$select-down-default-2-2x: (470px, 350px, -470px, -350px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'select-down-default_2@2x', );
$select-down-disabled-2x-name: 'select-down-disabled@2x';
$select-down-disabled-2x-x: 470px;
$select-down-disabled-2x-y: 400px;
$select-down-disabled-2x-offset-x: -470px;
$select-down-disabled-2x-offset-y: -400px;
$select-down-disabled-2x-width: 48px;
$select-down-disabled-2x-height: 48px;
$select-down-disabled-2x-total-width: 518px;
$select-down-disabled-2x-total-height: 518px;
$select-down-disabled-2x-image: '../images/sprite@2x.png';
$select-down-disabled-2x: (470px, 400px, -470px, -400px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'select-down-disabled@2x', );
$select-down-error-2x-name: 'select-down-error@2x';
$select-down-error-2x-x: 0px;
$select-down-error-2x-y: 470px;
$select-down-error-2x-offset-x: 0px;
$select-down-error-2x-offset-y: -470px;
$select-down-error-2x-width: 48px;
$select-down-error-2x-height: 48px;
$select-down-error-2x-total-width: 518px;
$select-down-error-2x-total-height: 518px;
$select-down-error-2x-image: '../images/sprite@2x.png';
$select-down-error-2x: (0px, 470px, 0px, -470px, 48px, 48px, 518px, 518px, '../images/sprite@2x.png', 'select-down-error@2x', );
$spritesheet-width: 259px;
$spritesheet-height: 259px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($checkbox-checked, $checkbox-default, $checkbox-disabled-checked, $checkbox-disabled, $checkbox-error, $ic-acms-cmc, $ic-aircraft, $ic-airplane, $ic-arrival-s, $ic-arrival, $ic-arrival-2, $ic-arrow-down-white, $ic-arrow-down, $ic-arrow-left-white-l, $ic-arrow-left-white, $ic-arrow-left, $ic-arrow-right-white-l, $ic-arrow-right-white, $ic-arrow-right, $ic-arrow-up-white, $ic-arrow-up, $ic-calendar, $ic-cancel-s, $ic-cancel, $ic-clock, $ic-close-white-l, $ic-close-white, $ic-close, $ic-crew, $ic-delay-s, $ic-delay, $ic-delete, $ic-departure-s, $ic-departure, $ic-dispatch, $ic-download, $ic-echat, $ic-filter-gold, $ic-filter, $ic-flight, $ic-fuel-s, $ic-fuel, $ic-hamburgar, $ic-info, $ic-log, $ic-mel, $ic-menu-agent, $ic-menu-home, $ic-menu-set, $ic-menu-weather, $ic-passengrer-s, $ic-passengrer, $ic-remark, $ic-search, $ic-send, $ic-set, $ic-sort-decline-gold, $ic-sort-decline, $ic-sort-increase-gold, $ic-sort-increase, $ic-telex, $ic-upload, $radio-checked, $radio-default, $radio-disabled-checked, $radio-disabled, $radio-error, $select-default, $select-down-default-2, $select-down-disabled, $select-down-error, );
$spritesheet: (259px, 259px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 518px;
$retina-spritesheet-height: 518px;
$retina-spritesheet-image: '../images/sprite@2x.png';
$retina-spritesheet-sprites: ($checkbox-checked-2x, $checkbox-default-2x, $checkbox-disabled-checked-2x, $checkbox-disabled-2x, $checkbox-error-2x, $ic-acms-cmc-2x, $ic-aircraft-2x, $ic-airplane-2x, $ic-arrival-s-2x, $ic-arrival-2x, $ic-arrival-2-2x, $ic-arrow-down-white-2x, $ic-arrow-down-2x, $ic-arrow-left-white-l-2x, $ic-arrow-left-white-2x, $ic-arrow-left-2x, $ic-arrow-right-white-l-2x, $ic-arrow-right-white-2x, $ic-arrow-right-2x, $ic-arrow-up-white-2x, $ic-arrow-up-2x, $ic-calendar-2x, $ic-cancel-s-2x, $ic-cancel-2x, $ic-clock-2x, $ic-close-white-l-2x, $ic-close-white-2x, $ic-close-2x, $ic-crew-2x, $ic-delay-s-2x, $ic-delay-2x, $ic-delete-2x, $ic-departure-s-2x, $ic-departure-2x, $ic-dispatch-2x, $ic-download-2x, $ic-echat-2x, $ic-filter-gold-2x, $ic-filter-2x, $ic-flight-2x, $ic-fuel-s-2x, $ic-fuel-2x, $ic-hamburgar-2x, $ic-info-2x, $ic-log-2x, $ic-mel-2x, $ic-menu-agent-2x, $ic-menu-home-2x, $ic-menu-set-2x, $ic-menu-weather-2x, $ic-passengrer-s-2x, $ic-passengrer-2x, $ic-remark-2x, $ic-search-2x, $ic-send-2x, $ic-set-2x, $ic-sort-decline-gold-2x, $ic-sort-decline-2x, $ic-sort-increase-gold-2x, $ic-sort-increase-2x, $ic-telex-2x, $ic-upload-2x, $radio-checked-2x, $radio-default-2x, $radio-disabled-checked-2x, $radio-disabled-2x, $radio-error-2x, $select-default-2x, $select-down-default-2-2x, $select-down-disabled-2x, $select-down-error-2x, );
$retina-spritesheet: (518px, 518px, '../images/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$checkbox-checked-group-name: 'checkbox-checked';
$checkbox-checked-group: ('checkbox-checked', $checkbox-checked, $checkbox-checked-2x, );
$checkbox-default-group-name: 'checkbox-default';
$checkbox-default-group: ('checkbox-default', $checkbox-default, $checkbox-default-2x, );
$checkbox-disabled-checked-group-name: 'checkbox-disabled-checked';
$checkbox-disabled-checked-group: ('checkbox-disabled-checked', $checkbox-disabled-checked, $checkbox-disabled-checked-2x, );
$checkbox-disabled-group-name: 'checkbox-disabled';
$checkbox-disabled-group: ('checkbox-disabled', $checkbox-disabled, $checkbox-disabled-2x, );
$checkbox-error-group-name: 'checkbox-error';
$checkbox-error-group: ('checkbox-error', $checkbox-error, $checkbox-error-2x, );
$ic-acms-cmc-group-name: 'ic-acms-cmc';
$ic-acms-cmc-group: ('ic-acms-cmc', $ic-acms-cmc, $ic-acms-cmc-2x, );
$ic-aircraft-group-name: 'ic-aircraft';
$ic-aircraft-group: ('ic-aircraft', $ic-aircraft, $ic-aircraft-2x, );
$ic-airplane-group-name: 'ic-airplane';
$ic-airplane-group: ('ic-airplane', $ic-airplane, $ic-airplane-2x, );
$ic-arrival-s-group-name: 'ic-arrival-s';
$ic-arrival-s-group: ('ic-arrival-s', $ic-arrival-s, $ic-arrival-s-2x, );
$ic-arrival-group-name: 'ic-arrival';
$ic-arrival-group: ('ic-arrival', $ic-arrival, $ic-arrival-2x, );
$ic-arrival-2-group-name: 'ic-arrival_2';
$ic-arrival-2-group: ('ic-arrival_2', $ic-arrival-2, $ic-arrival-2-2x, );
$ic-arrow-down-white-group-name: 'ic-arrow-down-white';
$ic-arrow-down-white-group: ('ic-arrow-down-white', $ic-arrow-down-white, $ic-arrow-down-white-2x, );
$ic-arrow-down-group-name: 'ic-arrow-down';
$ic-arrow-down-group: ('ic-arrow-down', $ic-arrow-down, $ic-arrow-down-2x, );
$ic-arrow-left-white-l-group-name: 'ic-arrow-left-white-l';
$ic-arrow-left-white-l-group: ('ic-arrow-left-white-l', $ic-arrow-left-white-l, $ic-arrow-left-white-l-2x, );
$ic-arrow-left-white-group-name: 'ic-arrow-left-white';
$ic-arrow-left-white-group: ('ic-arrow-left-white', $ic-arrow-left-white, $ic-arrow-left-white-2x, );
$ic-arrow-left-group-name: 'ic-arrow-left';
$ic-arrow-left-group: ('ic-arrow-left', $ic-arrow-left, $ic-arrow-left-2x, );
$ic-arrow-right-white-l-group-name: 'ic-arrow-right-white-l';
$ic-arrow-right-white-l-group: ('ic-arrow-right-white-l', $ic-arrow-right-white-l, $ic-arrow-right-white-l-2x, );
$ic-arrow-right-white-group-name: 'ic-arrow-right-white';
$ic-arrow-right-white-group: ('ic-arrow-right-white', $ic-arrow-right-white, $ic-arrow-right-white-2x, );
$ic-arrow-right-group-name: 'ic-arrow-right';
$ic-arrow-right-group: ('ic-arrow-right', $ic-arrow-right, $ic-arrow-right-2x, );
$ic-arrow-up-white-group-name: 'ic-arrow-up-white';
$ic-arrow-up-white-group: ('ic-arrow-up-white', $ic-arrow-up-white, $ic-arrow-up-white-2x, );
$ic-arrow-up-group-name: 'ic-arrow-up';
$ic-arrow-up-group: ('ic-arrow-up', $ic-arrow-up, $ic-arrow-up-2x, );
$ic-calendar-group-name: 'ic-calendar';
$ic-calendar-group: ('ic-calendar', $ic-calendar, $ic-calendar-2x, );
$ic-cancel-s-group-name: 'ic-cancel-s';
$ic-cancel-s-group: ('ic-cancel-s', $ic-cancel-s, $ic-cancel-s-2x, );
$ic-cancel-group-name: 'ic-cancel';
$ic-cancel-group: ('ic-cancel', $ic-cancel, $ic-cancel-2x, );
$ic-clock-group-name: 'ic-clock';
$ic-clock-group: ('ic-clock', $ic-clock, $ic-clock-2x, );
$ic-close-white-l-group-name: 'ic-close-white-l';
$ic-close-white-l-group: ('ic-close-white-l', $ic-close-white-l, $ic-close-white-l-2x, );
$ic-close-white-group-name: 'ic-close-white';
$ic-close-white-group: ('ic-close-white', $ic-close-white, $ic-close-white-2x, );
$ic-close-group-name: 'ic-close';
$ic-close-group: ('ic-close', $ic-close, $ic-close-2x, );
$ic-crew-group-name: 'ic-crew';
$ic-crew-group: ('ic-crew', $ic-crew, $ic-crew-2x, );
$ic-delay-s-group-name: 'ic-delay-s';
$ic-delay-s-group: ('ic-delay-s', $ic-delay-s, $ic-delay-s-2x, );
$ic-delay-group-name: 'ic-delay';
$ic-delay-group: ('ic-delay', $ic-delay, $ic-delay-2x, );
$ic-delete-group-name: 'ic-delete';
$ic-delete-group: ('ic-delete', $ic-delete, $ic-delete-2x, );
$ic-departure-s-group-name: 'ic-departure-s';
$ic-departure-s-group: ('ic-departure-s', $ic-departure-s, $ic-departure-s-2x, );
$ic-departure-group-name: 'ic-departure';
$ic-departure-group: ('ic-departure', $ic-departure, $ic-departure-2x, );
$ic-dispatch-group-name: 'ic-dispatch';
$ic-dispatch-group: ('ic-dispatch', $ic-dispatch, $ic-dispatch-2x, );
$ic-download-group-name: 'ic-download';
$ic-download-group: ('ic-download', $ic-download, $ic-download-2x, );
$ic-echat-group-name: 'ic-echat';
$ic-echat-group: ('ic-echat', $ic-echat, $ic-echat-2x, );
$ic-filter-gold-group-name: 'ic-filter-gold';
$ic-filter-gold-group: ('ic-filter-gold', $ic-filter-gold, $ic-filter-gold-2x, );
$ic-filter-group-name: 'ic-filter';
$ic-filter-group: ('ic-filter', $ic-filter, $ic-filter-2x, );
$ic-flight-group-name: 'ic-flight';
$ic-flight-group: ('ic-flight', $ic-flight, $ic-flight-2x, );
$ic-fuel-s-group-name: 'ic-fuel-s';
$ic-fuel-s-group: ('ic-fuel-s', $ic-fuel-s, $ic-fuel-s-2x, );
$ic-fuel-group-name: 'ic-fuel';
$ic-fuel-group: ('ic-fuel', $ic-fuel, $ic-fuel-2x, );
$ic-hamburgar-group-name: 'ic-hamburgar';
$ic-hamburgar-group: ('ic-hamburgar', $ic-hamburgar, $ic-hamburgar-2x, );
$ic-info-group-name: 'ic-info';
$ic-info-group: ('ic-info', $ic-info, $ic-info-2x, );
$ic-log-group-name: 'ic-log';
$ic-log-group: ('ic-log', $ic-log, $ic-log-2x, );
$ic-mel-group-name: 'ic-mel';
$ic-mel-group: ('ic-mel', $ic-mel, $ic-mel-2x, );
$ic-menu-agent-group-name: 'ic-menu-agent';
$ic-menu-agent-group: ('ic-menu-agent', $ic-menu-agent, $ic-menu-agent-2x, );
$ic-menu-home-group-name: 'ic-menu-home';
$ic-menu-home-group: ('ic-menu-home', $ic-menu-home, $ic-menu-home-2x, );
$ic-menu-set-group-name: 'ic-menu-set';
$ic-menu-set-group: ('ic-menu-set', $ic-menu-set, $ic-menu-set-2x, );
$ic-menu-weather-group-name: 'ic-menu-weather';
$ic-menu-weather-group: ('ic-menu-weather', $ic-menu-weather, $ic-menu-weather-2x, );
$ic-passengrer-s-group-name: 'ic-passengrer-s';
$ic-passengrer-s-group: ('ic-passengrer-s', $ic-passengrer-s, $ic-passengrer-s-2x, );
$ic-passengrer-group-name: 'ic-passengrer';
$ic-passengrer-group: ('ic-passengrer', $ic-passengrer, $ic-passengrer-2x, );
$ic-remark-group-name: 'ic-remark';
$ic-remark-group: ('ic-remark', $ic-remark, $ic-remark-2x, );
$ic-search-group-name: 'ic-search';
$ic-search-group: ('ic-search', $ic-search, $ic-search-2x, );
$ic-send-group-name: 'ic-send';
$ic-send-group: ('ic-send', $ic-send, $ic-send-2x, );
$ic-set-group-name: 'ic-set';
$ic-set-group: ('ic-set', $ic-set, $ic-set-2x, );
$ic-sort-decline-gold-group-name: 'ic-sort-decline-gold';
$ic-sort-decline-gold-group: ('ic-sort-decline-gold', $ic-sort-decline-gold, $ic-sort-decline-gold-2x, );
$ic-sort-decline-group-name: 'ic-sort-decline';
$ic-sort-decline-group: ('ic-sort-decline', $ic-sort-decline, $ic-sort-decline-2x, );
$ic-sort-increase-gold-group-name: 'ic-sort-increase-gold';
$ic-sort-increase-gold-group: ('ic-sort-increase-gold', $ic-sort-increase-gold, $ic-sort-increase-gold-2x, );
$ic-sort-increase-group-name: 'ic-sort-increase';
$ic-sort-increase-group: ('ic-sort-increase', $ic-sort-increase, $ic-sort-increase-2x, );
$ic-telex-group-name: 'ic-telex';
$ic-telex-group: ('ic-telex', $ic-telex, $ic-telex-2x, );
$ic-upload-group-name: 'ic-upload';
$ic-upload-group: ('ic-upload', $ic-upload, $ic-upload-2x, );
$radio-checked-group-name: 'radio-checked';
$radio-checked-group: ('radio-checked', $radio-checked, $radio-checked-2x, );
$radio-default-group-name: 'radio-default';
$radio-default-group: ('radio-default', $radio-default, $radio-default-2x, );
$radio-disabled-checked-group-name: 'radio-disabled-checked';
$radio-disabled-checked-group: ('radio-disabled-checked', $radio-disabled-checked, $radio-disabled-checked-2x, );
$radio-disabled-group-name: 'radio-disabled';
$radio-disabled-group: ('radio-disabled', $radio-disabled, $radio-disabled-2x, );
$radio-error-group-name: 'radio-error';
$radio-error-group: ('radio-error', $radio-error, $radio-error-2x, );
$select-default-group-name: 'select-default';
$select-default-group: ('select-default', $select-default, $select-default-2x, );
$select-down-default-2-group-name: 'select-down-default_2';
$select-down-default-2-group: ('select-down-default_2', $select-down-default-2, $select-down-default-2-2x, );
$select-down-disabled-group-name: 'select-down-disabled';
$select-down-disabled-group: ('select-down-disabled', $select-down-disabled, $select-down-disabled-2x, );
$select-down-error-group-name: 'select-down-error';
$select-down-error-group: ('select-down-error', $select-down-error, $select-down-error-2x, );
$retina-groups: ($checkbox-checked-group, $checkbox-default-group, $checkbox-disabled-checked-group, $checkbox-disabled-group, $checkbox-error-group, $ic-acms-cmc-group, $ic-aircraft-group, $ic-airplane-group, $ic-arrival-s-group, $ic-arrival-group, $ic-arrival-2-group, $ic-arrow-down-white-group, $ic-arrow-down-group, $ic-arrow-left-white-l-group, $ic-arrow-left-white-group, $ic-arrow-left-group, $ic-arrow-right-white-l-group, $ic-arrow-right-white-group, $ic-arrow-right-group, $ic-arrow-up-white-group, $ic-arrow-up-group, $ic-calendar-group, $ic-cancel-s-group, $ic-cancel-group, $ic-clock-group, $ic-close-white-l-group, $ic-close-white-group, $ic-close-group, $ic-crew-group, $ic-delay-s-group, $ic-delay-group, $ic-delete-group, $ic-departure-s-group, $ic-departure-group, $ic-dispatch-group, $ic-download-group, $ic-echat-group, $ic-filter-gold-group, $ic-filter-group, $ic-flight-group, $ic-fuel-s-group, $ic-fuel-group, $ic-hamburgar-group, $ic-info-group, $ic-log-group, $ic-mel-group, $ic-menu-agent-group, $ic-menu-home-group, $ic-menu-set-group, $ic-menu-weather-group, $ic-passengrer-s-group, $ic-passengrer-group, $ic-remark-group, $ic-search-group, $ic-send-group, $ic-set-group, $ic-sort-decline-gold-group, $ic-sort-decline-group, $ic-sort-increase-gold-group, $ic-sort-increase-group, $ic-telex-group, $ic-upload-group, $radio-checked-group, $radio-default-group, $radio-disabled-checked-group, $radio-disabled-group, $radio-error-group, $select-default-group, $select-down-default-2-group, $select-down-disabled-group, $select-down-error-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
