$black: #000;
$white: #fff;

$primary-color: #0d3740;
$primary-color-olive: #8c7a1c;

$link-hover: #0f5766;

$btn-primary-hover: #082b33;

$secondary-color: #99b8bf;
$secondary-color-yellow: #e6dcac;
$secondary-color-pink: #e6c7c3;

$gray-200: #f2f2f2;
$gray-300: #dce0e0;
$gray-400: #bbbfbf;
$gray-500: #898c8c;
$gray-600: #4b4e4f;
$gray-700: #292b2b;

$body-color: #f0f6f7;

$hightling-color-olive: #8c7a1c;
$hightling-color-red: #a62719;
$hightling-color-green: #4c8019;

$avatar-colors-1: #9c534e;
$avatar-colors-2: #9c6d4e;
$avatar-colors-3: #9c964e;
$avatar-colors-4: #689c4e;
$avatar-colors-5: #4e9c6d;
$avatar-colors-6: #4e9c94;
$avatar-colors-7: #4e7d9c;
$avatar-colors-8: #4e629c;
$avatar-colors-9: #6f4e9c;
$avatar-colors-10: #9c4e7b;

$avatar-colors: "#9c534e", "#9c6d4e", "#9c964e", "#689c4e", "#4e9c6d", "#4e9c94",
  "#4e7d9c", "#4e629c", "#6f4e9c", "#9c4e7b";

/* font */
$font-family: "Rubik", "PingFangTC-Regular", "sans-serif", "Noto Sans TC",
  "微軟正黑體", "Microsoft JhengHei", Verdana;
$text-bold: 600;

/* radius */
$radius: 12px;

/* ------- media query ------- */

$width-xs: 360px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;

$breakpoints: (
  "xs": $width-xs,
  "sm": $width-sm,
  "md": $width-md,
  "lg": $width-lg,
  "xl": $width-xl,
  "xxl": $width-xxl,
);

@mixin media-breakpoint-down($width) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width) - 0.02;
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @error "breakpoint `#{$width}` not found in `#{$breakpoints}`";
  }
}

@mixin media-breakpoint-up($width) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    $current: ceil($width);
    @media (min-width: $current) {
      @content;
    }
  } @else {
    @error "breakpoint `#{$width}` not found in `#{$breakpoints}`";
  }
}

@mixin media-breakpoint-only($width) {
  @if map_has_key($breakpoints, $width) {
    $breakpoint-names: map-keys($breakpoints);
    $n: index($breakpoint-names, $width);
    $current: map_get($breakpoints, $width);
    $next: null;
    @if $n == length($breakpoints) {
      $next: null;
    } @else {
      $next: map_get($breakpoints, nth($breakpoint-names, $n + 1)) - 0.02;
    }

    @if $next {
      @media (min-width: $current) and (max-width: $next) {
        @content;
      }
    } @else {
      @media (min-width: $current) {
        @content;
      }
    }
  } @else {
    @error "breakpoint `#{$width}` not found in `#{$breakpoints}`";
  }
}

/* ------- mixins ------- */

/* size */
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/* pseudo */
@mixin pseudo($display: block, $content: "") {
  content: $content;
  display: $display;
}

/* 置中 */
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin flex($j: null, $a: null) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

/* 動畫效果 */
@mixin tran($ani-speed: 0.3s, $ani-delay: null, $ani-property: all) {
  transition-duration: $ani-speed;
  transition-property: $ani-property;
  transition-delay: $ani-delay;
}

/* text */
@mixin text($size: null, $weight: null, $color: null) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
