.crewList_table {
  table {
    thead {
      th {
        width: 130px;
        &.txt_break {
          max-width: 280px;
        }
        &:first-child {
          width: 70px;
        }
      }
    }
    tbody {
      th {
        width: 130px;
      }
      td {
        width: 130px;
        &.txt_break {
          max-width: 280px;
        }
      }
    }
  }
}
.Recent_table {
  th,
  td {
    min-width: 102px;
  }
}
.MEL_table {
  table {
    .stickyFirstLeft2 {
      left: 49px;
    }
    .w_lg {
      min-width: 200px;
      max-width: 200px;
    }
    thead {
      tr {
        th {
          min-width: 130px;
          max-width: 130px;
          &:first-child {
            min-width: 50px;
            max-width: 50px;
          }
        }
      }
    }
    tbody {
      tr {
        th {
          min-width: 50px;
          max-width: 50px;
        }
        td {
          min-width: 130px;
          max-width: 130px;
        }
      }
    }
  }
  @include media-breakpoint-up("lg") {
    table {
      .w_md {
        min-width: 155px;
        max-width: 155px;
      }
      .w_lg {
        min-width: 392px;
        max-width: 392px;
      }
      thead {
        tr {
          th {
            min-width: 220px;
            max-width: 220px;
            &:nth-child(2) {
              min-width: 170px;
              max-width: 170px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            min-width: 220px;
            max-width: 220px;
            &:nth-of-type(1) {
              min-width: 170px;
              max-width: 170px;
            }
          }
        }
      }
    }
  }
}
.AircraftList_table {
  table {
    word-break: break-all;
    .stickyFirstLeft2 {
      left: 97px;
    }
    .w_sm {
      min-width: 104px;
    }
    .w_md {
      min-width: 126px;
    }
    .w_lg {
      min-width: 220px;
    }
    thead {
      tr {
        th {
          min-width: 80px;
          // max-width: 80px;
          &:first-child {
            min-width: 98px;
            // max-width: 98px;
          }
        }
      }
    }
    tbody {
      tr {
        th {
          min-width: 98px;
          // max-width: 98px;
        }
        td {
          min-width: 80px;
          // max-width: 80px;
        }
      }
    }
  }
  @include media-breakpoint-up("lg") {
    table {
      word-break: break-all;
      .stickyFirstLeft2 {
        left: 97px;
      }
      .w_sm {
        min-width: 130px;
      }
      .w_md {
        min-width: 180px;
      }
      .w_lg {
        min-width: 220px;
      }
      thead {
        tr {
          th {
            min-width: 80px;
          }
        }
      }
      tbody {
        tr {
          td {
            min-width: 80px;
          }
        }
      }
    }
  }
}
