.ddl_TelexList {
  .form-group {
    margin-bottom: 15px;
    width: 100%;

    .ic_input {
      .icon {
        right: 10px;
      }
    }
  }

  .btn-dropdown-wrapper {
    margin: 0;
  }

  @include media-breakpoint-up("sm") {
    .form-group {
      margin-bottom: 20px;
      width: 200px;
    }
  }
}

.TelexList_table {
  margin-bottom: 20px;
  max-height: 50vh;
  table {
    th,
    td {
      &.w_xs {
        min-width: 70px;
        max-width: 70px;
      }
      &.w_sm {
        min-width: 120px;
      }
      &.w_md {
        min-width: 160px;
      }
      &.w_lg {
        min-width: 360px;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    margin-bottom: 40px;
    max-height: calc(40vh - 134px);
    min-height: 150px;
  }
}

.memo-cover {
  min-height: 250px;
  overflow-y: auto;

  @include media-breakpoint-up("lg") {
    min-height: calc(60vh - 224px);
    max-height: calc(60vh - 224px);
  }
}

.uplink_box {
  .form-group {
    @include media-breakpoint-up("lg") {
      margin-bottom: 14px;
    }
  }
  .col-form-label {
    font-size: 1rem;
    font-weight: 600;
    color: $gray-700;
    @include media-breakpoint-up("md") {
      font-size: 1.125rem;
    }
  }

  .form-text {
    margin-top: 10px;
    font-size: 0.875rem;
    text-align: right;
    color: $gray-500;
    @include media-breakpoint-up("md") {
      font-size: 1rem;
    }

    span {
      color: $primary-color;
      font-weight: 600;
    }
  }

  textarea {
    &.belowthan3row {
      height: 64px;
      @include media-breakpoint-up("md") {
        height: 40px;
      }
    }
  }
}

.btn_onebtn {
  .btn {
    width: 100%;
  }

  @include media-breakpoint-up("md") {
    .btn {
      width: auto;
    }
  }
}

#pup_uplinkPreview,
#pup_sendPreview {
  .modal-body {
    padding: 20px;
    .preview_box {
      padding: 15px;
      border: 2px solid $primary-color-olive;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;

      .preview-item {
        margin-bottom: 25px;
        h5 {
          font-size: 1rem;
        }
        .preview-title {
          color: $gray-700;
          font-weight: 600;
        }
        .preview-content {
          color: $gray-500;
          word-break: break-word; //202209
        }
      }
    }
    @include media-breakpoint-up("lg") {
      padding: 30px 40px;
      .preview_box {
        padding: 20px;
        .preview-item {
          h5 {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

.ACMS_table {
  margin-bottom: 40px;
  max-height: 50vh;
  table {
    th,
    td {
      &.w_xs {
        min-width: 70px;
        max-width: 70px;
      }
      &.w_sm {
        min-width: 120px;
      }
      &.w_md {
        min-width: 240px;
      }
      &.w_lg {
        min-width: 920px;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    max-height: calc(40vh - 134px);
    min-height: 150px;
  }
}

/* MAD style start */
.MAD_Txtarea_cover {
  padding: 30px 0;
  border-bottom: solid 1px #dce0e0;

  .MAD_delayformpx {
    padding-left: 0;
    padding-right: 0px;
  }

  &:last-child {
    border-bottom: solid 0px;
  }

  @include media-breakpoint-up("md") {
    .MAD_delayformpx {
      padding-left: 0;
      padding-right: 15px;
    }
  }
  @include media-breakpoint-up("lg") {
    .MAD_delayformpx {
      padding-right: 30px;
    }
  }
}
/* MAD style end */

/* MMM preview style start */
#pup_MADPreview,
#pup_MMMPreview {
  .modal-body {
    padding: 20px;
    .preview_box {
      margin-bottom: 20px;
      padding: 15px;
      border: 2px solid $primary-color-olive;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;

      .memo-title {
        margin-bottom: 25px;
      }

      .preview-item {
        margin-bottom: 25px;
        .preview-title {
          color: $gray-700;
          font-weight: 600;
        }
        .preview-content {
          color: $gray-500;
          word-break: break-word; //202209
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      @include media-breakpoint-up("lg") {
        margin-bottom: 30px;
        padding: 20px;
      }
    }
    @include media-breakpoint-up("lg") {
      padding: 30px 40px;
    }
  }
}

/* MMM preview style end */

/* ASD preview style start */
.ASD_cover {
  margin-top: 20px;
  margin-bottom: 0px;
  .filter_control {
    position: relative;
    z-index: 10;
    bottom: auto;
    left: 0;
    padding: 0 0px 0px 0px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #f0f6f7;
    opacity: 1;
    @include tran();

    .filter_control_content {
      height: auto;
      overflow-y: auto;
      vertical-align: middle;
      @include media-breakpoint-up("lg") {
        height: calc(90vh - 75px - 48px);
      }
    }
    .ddl_Dep {
      max-width: 100%;
      width: 100%;
      margin: 0 0 15px 0;
      padding: 0 15px;
      .btn-dropdown-wrapper {
        margin: 0;
      }
    }
    .cal_covers {
      width: 100%;
    }
    .btn_BOX {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
      padding: 0 0 20px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        margin: 0;
        & + .btn {
          margin: 0 0 0 10px;
        }
      }
    }
    @include media-breakpoint-up("md") {
      opacity: 1;
      position: unset;
      @include flex($a: center, $j: center);
      flex-wrap: wrap;
      box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
      background-color: $white;
      border-radius: $radius;
      padding: 15px 10px;
      overflow: unset;
      .filter_control_content {
        @include flex($a: center, $j: center);
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        height: auto;
        overflow-y: unset;
      }
      .ddl_Dep {
        // max-width: 180px;
        width: calc(33.33% - 40px);
        margin: 0 15px 0px 0;
        padding: 0;
      }
      .btn_BOX {
        max-width: 276px;
        margin: 4px 0;
        padding: 0 10px;
        box-shadow: none;
        display: block;
        .btn {
          margin: 0;

          & + .btn {
            margin: 0 0 0 10px;
          }
          & + .btn-primary {
            margin: 0 0 0 0;
          }
        }
      }
    }

    @media screen and (min-width: 1300px) {
      .ddl_Dep {
        max-width: 300px;
        // width: calc(14% - 15px);
        margin: 0px 15px 0px 0;
        padding: 0;
      }
      .btn_BOX {
        // max-width: 276px;
        margin: 8px 0 8px;
        padding: 0 10px;
        box-shadow: none;
        display: block;
        .btn {
          margin: 0;
          & + .btn {
            margin: 0 0 0 10px;
          }
          & + .btn-primary {
            margin: 0 0 0 0;
          }
        }
      }
    }

    @media screen and (min-width: 1700px) {
      padding: 15px;
      .filter_control_content {
        max-width: calc(100% - 276px);
      }
      .ddl_Dep {
        // max-width: 180px;
        // width: 100%;
        margin: 0px 15px 0px 0;
        padding: 0;
      }
      .btn_BOX {
        // max-width: 276px;
        margin: 4px 0 4px;
        padding: 0 10px;
        box-shadow: none;
        display: block;
        .btn {
          margin: 0;
          & + .btn {
            margin: 0px 0 0px 10px;
          }
          & + .btn-primary {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
  .cal_DataSet_cover {
    min-width: 100%;
  }
  @include media-breakpoint-up("md") {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.ASD_table_cover {
  margin-top: 0;
  .fliter_table_cover {
    table {
      max-height: calc(calc(var(--vh, 1vh) * 100) - 100px);
      min-height: calc(calc(var(--vh, 1vh) * 100) - 100px); // fix 0112
    }
  }
  @include media-breakpoint-up("md") {
    .fliter_table_cover {
      table {
        max-height: calc(100vh - 72px - 78px - 65px);
        min-height: calc(100vh - 72px - 78px - 65px); // fix 0112
      }
    }
  }
}
#pup_flightDetailInfosView {
  &.dialog-style {
    .modal-body {
      height: calc(calc(var(--vh, 1vh) * 90) - 48px);
    }
  }
}
/* ASD preview style end */

/* Set up style start */
.setup_content {
  &.idx_content {
    padding: 20px 15px 90px;
  }
  @include media-breakpoint-up("lg") {
    &.idx_content {
      padding: 0 40px 50px;
    }
  }
}
.Setup_cover {
  padding: 30px 0;
  border-bottom: solid 1px #dce0e0;
  .title_btn_cover {
    flex-wrap: wrap;
    justify-content: center;
    .memo-title {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &.last {
    padding: 30px 0 0 0;
    border-bottom: none;
  }
  &:first-child {
    padding-top: 0px;
  }

  .shift-list-switch {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .list-title {
      padding: 10px 0;
      color: $white;
      text-align: center;
      font-weight: 600;
      width: 100%;
      position: sticky;
      height: auto;
    }

    .list-content {
      padding: 10px 15px;
      height: 202px;
      overflow-y: scroll;

      .list-item {
        padding: 10px 0;
        color: $gray-600;
        border-bottom: 1px solid #dce0e0;
        cursor: pointer;
        &.active {
          background-color: #e6f0f2;
        }
      }
    }

    &.airline-list {
      border: 1px solid #0d3740;

      .list-title {
        background-color: $primary-color;
      }
    }

    &.airline-list-selected {
      border: 1px solid #8c7a1c;

      .list-title {
        background-color: $primary-color-olive;
      }
    }
  }

  .switch_box {
    display: flex;
    justify-content: center;

    .switch-item {
      margin: 0;
      width: 50px;
      height: 50px;
      padding: 13px;
      cursor: pointer;
      border-radius: 999px;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      -ms-border-radius: 999px;
      -o-border-radius: 999px;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);

      &.switchtoR {
        margin-bottom: 0px;
        margin-right: 20px;
        background: $primary-color;
      }

      &.switchtoL {
        background: $primary-color-olive;
      }
    }

    @include media-breakpoint-up("md") {
      display: block;

      .switch-item {
        margin: 0 20px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);

        &.switchtoR {
          margin: 0 auto 20px auto;
        }

        &.switchtoL {
          margin: 0 auto 20px auto;
        }
      }
    }
  }
  .btn-dropdown-wrapper {
    margin-bottom: 0;
    margin-top: 15px;
  }
  @include media-breakpoint-up("lg") {
    &.last {
      padding: 30px 0;
      border-bottom: solid 1px #dce0e0;
    }
    .title_btn_cover {
      flex-wrap: wrap;
      justify-content: center;
      .memo-title {
        width: auto;
        margin-bottom: 0;
      }
      .btn {
        margin-right: 0;
      }
    }
    .shift-list-switch {
      position: relative;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      .list-title {
        padding: 10px 0;
        position: sticky;
        height: auto;
        border-radius: 12px 12px 0 0;
      }
      .list-content {
        padding: 10px 30px;
        height: 300px;
        .list-item {
          padding: 15px 0;
          &:hover {
            background-color: #e6f0f2;
          }
        }
      }
    }
  }
}
.Setup_btm_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px 30px 20px 30px;
  background-color: $white;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  width: 100%;
  .btn {
    min-width: 100%;
    margin: 0;
  }
  @include media-breakpoint-up("lg") {
    position: unset;
    padding: 30px 0 20px 0;
    box-shadow: none;
    .btn {
      min-width: 120px;
    }
  }
}
/* Set up style end */

/* Weather Chart stylestart */
.WC_content {
  &.idx_content {
    padding: 20px 15px;
  }
  @include media-breakpoint-up("lg") {
    &.idx_content {
      padding: 0 40px 50px;
    }
  }
}
.WC_cover {
  margin-top: 0;
  .filter-dropdown_box {
    margin-right: 0px;
    margin-bottom: 16px;
    width: 100%;
    h5 {
      font-weight: 600;
      margin-bottom: 0;
      // padding: 0 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .ddl_Dep {
      margin-bottom: 0;
      // padding: 0;
      width: 100%;
    }
    .btn-dropdown-wrapper {
      margin: 7px 0 0 0;
    }
  }
  .lin_border_btm {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #dce0e0;
  }
  .weather_box {
    padding: 20px 0px 10px 0;

    .weather-title {
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
      color: $primary-color;
      margin-bottom: 20px;
    }
  }
  .mDV_Weather {
    height: calc(calc(var(--vh, 1vh) * 100) - 96px - 64px);
  }

  @include media-breakpoint-up("md") {
    background: $white;
    box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
    border-radius: 12px;
    padding: 20px 30px;
    text-align: center;
    font-size: 0;
    .filter-dropdown_box {
      display: inline-block;
      margin-right: 30px;
      width: calc((100% / 3) - 30px);
      max-width: 335px;
      margin-bottom: 20px;
      h5 {
        text-align: left;
      }
      .ddl_Dep {
        width: 100%;
      }
    }
    .weather_box {
      padding: 20px 30px;
    }
    .mDV_Weather {
      height: calc(100vh - 100px - 131px - 64px);
    }
  }
  @media screen and (max-height: 420px) {
    .mDV_Weather {
      height: 284px;
    }
  }
  @include media-breakpoint-up("lg") {
    padding: 40px 60px;
    .mDV_Weather {
      height: calc(100vh - 100px - 151px - 72px);
    }
  }
  @include media-breakpoint-up("xxl") {
    .weather_box {
      padding: 20px 0px 0px;
    }
    .mDV_Weather {
      height: calc(100vh - 100px - 191px - 72px);
    }
  }
}

/* Weather Chart style end */
