.echat_title {
  position: relative;
  z-index: 0;
  padding: 20px 0;
  background-image: linear-gradient(to top, #0d3740, #1b5d69);
  width: 100%;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.3);
  .btn_GOBACK {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 1;
  }
  h2 {
    width: 100%;
    text-align: center;
    color: $white;
    margin-bottom: 0;
  }
  @include media-breakpoint-up("lg") {
    display: none;
  }
}
.eChat_content {
  background-color: $white;
  width: 100%;
  padding: 15px 10px 30px;
  height: calc(calc(var(--vh, 1vh) * 100) - 64px - 60px); //header 輸入框
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  overflow-y: auto;
  @include media-breakpoint-up("lg") {
    border-radius: 12px 12px 0 0;
    padding: 15px 20px 20px;
    // height: calc(calc(var(--vh, 1vh) * 100) - 100px - 72px); //上下padding 輸入框
    height: calc(100vh - 100px - 72px); //上下padding 輸入框
  }
}
.echat_typeArea {
  background-color: $primary-color;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.2);
  padding: 10px;
  @include flex($a: center, $j: space-between);
  @include media-breakpoint-up("lg") {
    padding: 12px 20px;
    border-radius: 0 0 12px 12px;
  }
}
.btn_UPLOADIMG {
  position: relative;
  z-index: 0;
  margin-right: 10px;
  input {
    cursor: pointer;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  @include media-breakpoint-up("lg") {
    margin-right: 16px;
  }
}
.typeBox {
  position: relative;
  z-index: 0;
  max-width: calc(100% - 40px);
  width: 100%;
  input {
    width: 100%;
    border-radius: 24px;
    background-color: $white;
    padding: 8px 58px 8px 12px;
    height: 40px;
    color: $gray-700;
  }
  @include media-breakpoint-up("lg") {
    max-width: calc(100% - 46px);
    input {
      padding: 12px 72px 12px 20px;
      height: 48px;
    }
  }
}
.btn_TYPESUBMIT {
  width: 52px;
  height: 36px;
  position: absolute;
  z-index: 0;
  right: 2px;
  top: 2px;
  background-color: $primary-color;
  border-radius: 20px;
  .ic-send {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media-breakpoint-up("lg") {
    width: 64px;
    height: 40px;
    top: 4px;
    right: 4px;
  }
}
//對話內容區塊物件
.echat_date {
  text-align: center;
  margin: 0 0 10px 0;
  p {
    background-color: $gray-300;
    padding: 2px 9px;
    border-radius: 13px;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.29;
    color: $gray-600;
  }
  @include media-breakpoint-up("lg") {
    margin: 5px 0 20px 0;
    p {
      font-size: 0.875rem;
    }
  }
}
.talk_box {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .talk_name {
    margin-bottom: 3px;
    line-height: 1;
    width: 100%;
    span {
      font-size: 0.75rem;
      line-height: 1.5;
      color: $gray-500;
      &:first-of-type {
        color: $gray-700;
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }
  .talk_bubs {
    margin-bottom: 10px;
    width: 100%;
    @include flex($a: flex-end, $j: flex-start);
    .txt_talk {
      padding: 8px 12px;
      border-radius: 0 16px 16px 16px;
      background-color: #e6f0f2;
      font-size: 1rem;
      line-height: 1.38;
      color: $gray-700;
      text-align: left;
      max-width: 79%;
    }
    .time {
      font-size: 0.75rem;
      line-height: 1.5;
      color: $gray-500;
      background-color: transparent;
      padding: 0 5px;
    }
  }

  &.self {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .talk_bubs {
      justify-content: flex-end;
      .txt_talk {
        padding: 8px 12px;
        border-radius: 16px 0 16px 16px;
        background-color: $primary-color;
        font-size: 1rem;
        line-height: 1.38;
        color: $white;
      }
      .time {
        order: -1;
        font-size: 0.75rem;
        line-height: 1.5;
        color: $gray-500;
        background-color: transparent;
        padding: 0 5px;
      }
    }
  }
  .img_box {
    max-width: 260px;
    width: auto;
    text-align: right;
    font-size: 0;
    &.h_photo_single {
      .pic_box {
        width: 260px;
        // height: 130px;
        figure {
          width: 100%;
          // padding-bottom: 50%;
          height: 130px;
        }
      }
    }
    &.v_photo_single {
      .pic_box {
        width: 157px;
        // height: 220px;
        figure {
          width: 100%;
          // padding-bottom: 140.12%;
          height: 220px;
        }
      }
    }
    &.even_photo {
      max-width: 260px;
      width: 100%;
      @include flex($a: center, $j: space-between);
      flex-wrap: wrap;
      .pic_box {
        width: 129px;
        // height: 129px;
        figure {
          width: 100%;
          // padding-bottom: 100%;
          height: 129px;
        }
        &:nth-child(n + 3) {
          margin-top: 2px;
        }
      }
    }
    &.odd_photo {
      max-width: 260px;
      width: 100%;
      @include flex($a: center, $j: space-between);
      flex-wrap: wrap;
      .pic_box {
        width: 129px;
        // height: 129px;
        figure {
          width: 100%;
          height: 129px;
          // padding-bottom: 100%;
          // background-position: center;
          // background-repeat: no-repeat;
          // background-size: cover;
        }
        &:nth-child(n + 3) {
          margin-top: 2px;
        }
        &:last-child {
          width: 260px;
          // height: 130px;
          figure {
            width: 100%;
            // padding-bottom: 50%;
            height: 129px;
          }
        }
      }
    }
    .pic_box {
      display: inline-block;
      // figure {
      //   border-radius: 10px;
      //   overflow: hidden;
      //   margin: 0;
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }
      figure {
        position: relative;
        width: 100%;
        // height: 100%;
        margin: 0;
        border-radius: 10px;
        overflow: hidden;
        height: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          // width: 100%;
          // height: auto;
          // transform: translate(-50%, -50%) scale(1.01);
        }
      }
    }
  }
  @include media-breakpoint-up("lg") {
    max-width: 100%;
    margin-top: 5px;
    .talk_name {
      margin-bottom: 6px;
      span {
        font-size: 0.875rem;
        line-height: 1.43;
      }
    }
    .talk_bubs {
      margin-bottom: 15px;
      @include flex($a: flex-end, $j: flex-start);
      .txt_talk {
        padding: 10px 15px;
        font-size: 1.125rem;
        line-height: 1.33;
        color: $gray-700;
        max-width: 90%;
      }
      .time {
        font-size: 0.875rem;
        line-height: 1.43;
        color: $gray-500;
      }
    }
    &.self {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      .talk_bubs {
        justify-content: flex-end;
        .txt_talk {
          font-size: 1.125rem;
          line-height: 1.38;
          color: $white;
        }
        .time {
          order: -1;
          font-size: 0.75rem;
          line-height: 1.5;
          color: $gray-500;
          background-color: transparent;
          padding: 0 5px;
        }
      }
    }
  }
}
//fancybox 測試區
.fancybox__container {
  .fancybox__toolbar {
    .fancybox__toolbar__items--left {
      display: none;
    }
  }
}
.carousel__button {
  &.fancybox__button--close {
    position: relative;
    top: 7px;
    right: -5px;
  }
  &.fancybox__button {
    &--zoom,
    &--slideshow,
    &--fullscreen,
    &--thumbs {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) {
    &.fancybox__button--close {
      top: 16px;
      right: 78px;
    }
  }
}

.fancybox__thumbs {
  .carousel__slide {
    &.is-nav-selected {
      .fancybox__thumb {
        box-shadow: inset 0 0 0 5px #8c7a1c;
        &::after {
          display: none;
        }
      }
    }
  }
}
.btn_DOWNLOAD {
  display: none;
  position: fixed;
  z-index: 1051;
  top: 10px;
  left: 0px;
  border-radius: 20px;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  a {
    padding: 8px 12px;
    display: inline-block;
  }
  span {
    color: $white;
    display: none;
  }
  i {
    display: block;
  }
  @media screen and (min-width: 1024px) {
    top: 16px;
    left: 100px;
    border: solid 1px $white;
    span {
      display: inline-block;
    }
    i {
      display: none;
    }
  }
}
