.row {
  margin: 0;
}

.flight-detail {
  .flight-detail-info {
    &:first-child {
      .flight-detail-item {
        &:first-child {
          border-top: none;
          padding: 0;
        }
      }
    }
    &:nth-child(2) {
      .flight-detail-item {
        padding: 30px 0 0 0;
        &:first-child {
          padding: 30px 0;
        }
      }
    }
    .flight-detail-item {
      border-top: solid 1px $gray-200;
      padding: 30px 0 0 0;
      .detail-title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .ic_box {
          padding: 3px 5px 0px;
          background-color: #e6f0f2;
          border-radius: 10px;
          @include media-breakpoint-up("lg") {
            padding: 8px 10px 5px;
          }
        }
        .detail_info {
          h5 {
            font-size: 1.25rem;
            font-weight: 600;
            color: $primary-color;
            margin: 0;
          }
        }
      }
      .detail-item-row {
        margin-bottom: 15px;
        padding-left: 55px;
        .detail-content {
          font-size: 1.125rem;
          padding-left: 0;
          .content-title {
            font-weight: 600;
            color: $gray-700;
          }
          span {
            color: $gray-600;
            &.detail-delay {
              color: $hightling-color-red;
            }
          }
          &:first-child {
            padding-bottom: 15px;
          }
        }
        &:nth-child(3) {
          .detail-content {
            padding-bottom: 0;
          }
        }
      }
      .pax-table-container {
        overflow: auto;
        width: 100%;
        height: 212px;
        border-radius: 12px;
        border: solid 1px $primary-color;
        .pax-table {
          border-radius: 12px;
          border-collapse: separate;
          border-spacing: 0;
          text-align: center;
          font-size: 1rem;
          margin: 0;
          table-layout: fixed;
          min-width: 100%;
          width: auto;
          overflow: unset !important;
          td {
            border-left: 1px solid $gray-300;
          }

          thead {
            th {
              border-left: 1px solid $gray-300;
              background-color: $primary-color;
              &:first-child {
                border-top-left-radius: 12px;
                border: none;
                position: sticky;
                left: 0; /* 首行永遠固定於左 */
                z-index: 1;
              }
              &:last-child {
                border-top-right-radius: 12px;
              }
            }
          }

          tbody {
            color: $gray-700;
            tr {
              th {
                position: sticky;
                left: 0; /* 首行永遠固定於左 */
                z-index: 1;
                background-color: $white;
              }
              &:last-child {
                th {
                  border-bottom-left-radius: 12px;
                }
                td:last-child {
                  border-bottom-right-radius: 12px;
                }
              }
              &:nth-child(2n) {
                th,
                td {
                  background-color: #f2f6f7;
                }
              }
            }
          }
        }
      }

      .fuel-info-row {
        border: solid 1px $primary-color;
        border-radius: 12px;
        padding: 0 30px;
        .fuel-inside {
          font-size: 1.125rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 15px;
          &:nth-child(2) {
            color: $hightling-color-red;
            border-top: solid 1px $gray-200;
          }
          .fuel-inside-title {
            font-weight: 600;
          }
          span {
            color: $gray-600;
          }
          &.clearfix {
            &::before,
            &::after {
              content: " ";
              display: table;
            }
            &::after {
              clear: both;
            }
          }
        }
      }
      &:nth-child(2) {
        .fuel-info-row {
          height: 212px;
        }
      }
    }

    @include media-breakpoint-up("sm") {
      .flight-detail-item {
        border-top: none;
        .detail-title {
          margin-bottom: 20px;
          .detail_info {
            h5 {
              font-size: 1.5rem;
            }
          }
        }
        .detail-item-row {
          &:last-child {
            margin-bottom: 0;
          }
        }
        .pax-table-container {
          .pax-table {
            font-size: 1.125rem;
          }
        }
      }
      &:nth-child(1) {
        .flight-detail-item {
          padding-top: 0;

          .detail-item-row {
            padding-left: 0;
            margin-bottom: 20px;
            .detail-content {
              &:first-child {
                padding-bottom: 0;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          &:nth-child(2) {
            border-left: solid 1px $gray-200;
            padding: 0 0 0 30px;
          }
        }
      }
      &:nth-child(2) {
        .flight-detail-item {
          &:first-child {
            border-bottom: solid 1px $gray-200;
          }
        }
        .fuel-info-row {
          padding: 30px;
          .fuel-inside {
            padding: 0 15px;
            &:nth-child(2) {
              color: $hightling-color-red;
              border-left: solid 1px $gray-200;
              border-top: none;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1400px) {
      &:last-child {
        padding-top: 50px;
        .flight-detail-item {
          max-width: 50%;
          &:first-child {
            padding: 0 30px 0 0;
            border-bottom: none;
          }
          &:nth-child(2) {
            padding: 0 0 0 30px;
          }
        }
      }
    }
  }
  .flight-memo {
    .memo-title-rec {
      background-color: $hightling-color-olive;
      width: 6px;
      height: 22px;
    }
    .memo-title {
      display: flex;
      align-items: center;
      .memo-title-rec {
        border-radius: 10px;
      }
      h5 {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
        color: $primary-color;
      }
    }
    p {
      color: $gray-600;
      font-size: 1rem;
      word-break: break-word;
    }
    @include media-breakpoint-up("sm") {
      .memo-title {
        h5 {
          font-size: 1.5rem;
        }
      }
      p {
        font-size: 1.125rem;
      }
    }
  }
}
