.filter_box_cover {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.btn_SEARCHBOX {
  padding: 10px 0 0 0;
  max-width: 350px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  display: block;
  .btn {
    margin: 10px 0 10px 10px;
    & + .btn {
      margin: 10px 0 10px 10px;
    }
  }
  @include media-breakpoint-up("lg") {
    display: none;
  }
}

.showCover {
  overflow: hidden;
  .idx_content {
    z-index: 21;
  }
  .filter_box_cover {
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -100px;
      left: 0;
      width: 100%;
      height: calc(100% + 100px);
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  .filter_control {
    bottom: 0;
    opacity: 1;
  }
  @include media-breakpoint-up("md") {
    // fix 0112
    .filter_box_cover {
      &::before {
        content: none;
      }
    }
  }
}
.filter_control {
  position: fixed;
  z-index: 10;
  bottom: -150%;
  left: 0;
  padding: 0 0px 0px 0px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  background-color: $white;
  opacity: 0;
  @include tran();

  .filter_title {
    position: relative;
    z-index: 0;
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    color: $white;
    padding: 13px 0;
    h5 {
      margin: 0;
    }
    .btn_CLOSE {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      opacity: 0.5;
      &:active {
        opacity: 1;
      }
    }
  }
  .filter_control_content {
    height: calc(calc(var(--vh, 1vh) * 90) - 75px - 48px);
    overflow-y: auto;
    @include media-breakpoint-up("lg") {
      height: calc(90vh - 75px - 48px);
    }
  }
  .ddl_Flight {
    max-width: 100%;
    width: 100%;
    margin: 20px 0px 15px 0;
    padding: 0 15px;
    .btn-dropdown-wrapper {
      margin: 0;
    }
  }
  .ddl_Dep {
    max-width: 100%;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 15px;
    .btn-dropdown-wrapper {
      margin: 0;
    }
  }
  .ddl_Status {
    max-width: 100%;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 15px;
    .btn-dropdown-wrapper {
      margin: 0;
    }
  }
  .cal_box {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 15px 0;
    padding: 0 15px;
  }
  .inp_key {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 15px 0;
    padding: 0 15px;
  }
  .btn_BOX {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 15px 0 20px;
    box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      margin: 0;
      & + .btn {
        margin: 0 0 0 10px;
      }
    }
  }
  @include media-breakpoint-up("lg") {
    opacity: 1;
    position: unset;
    @include flex($a: center, $j: center);
    flex-wrap: wrap;
    box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
    background-color: $white;
    border-radius: $radius;
    padding: 15px 10px;
    overflow: unset;
    .filter_control_content {
      @include flex($a: center, $j: center);
      flex-wrap: wrap;
      max-width: 100%;
      width: 100%;
      height: auto;
      overflow-y: unset;
    }
    .ddl_Flight {
      // max-width: 160px;
      width: calc(33.33% - 15px);
      margin: 0px 15px 10px 0;
      padding: 0;
    }
    .ddl_Dep {
      // max-width: 180px;
      width: calc(33.33% - 15px);
      margin: 0px 15px 10px 0;
      padding: 0;
    }
    .ddl_Status {
      // max-width: 220px;
      width: calc(33.33% - 15px);
      margin: 0px 15px 10px 0;
      padding: 0;
    }
    .cal_box {
      // max-width: 420px;
      width: calc(60% - 15px);
      margin: 1px 15px 10px 0;
      padding: 0;
    }
    .inp_key {
      // max-width: 165px;
      width: calc(40% - 15px);
      margin: 0px 15px 10px 0;
      padding: 0;
    }
    .btn_BOX {
      max-width: 276px;
      margin: 8px 0 5px;
      padding: 0 10px;
      box-shadow: none;
      display: block;
      .btn {
        margin: 0;

        & + .btn {
          margin: 0 0 0 10px;
        }
        & + .btn-primary {
          margin: 0 0 0 0;
        }
      }
    }
  }
  @media screen and (min-width: 1300px) {
    .ddl_Flight {
      // max-width: 160px;
      width: calc(14% - 15px);
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .ddl_Dep {
      // max-width: 180px;
      width: calc(14% - 15px);
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .ddl_Status {
      // max-width: 220px;
      width: calc(14% - 15px);
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .cal_box {
      // max-width: 420px;
      width: calc(38% - 15px);
      margin: 1px 15px 0px 0;
      padding: 0;
    }
    .inp_key {
      // max-width: 165px;
      width: calc(20% - 15px);
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .btn_BOX {
      // max-width: 276px;
      margin: 8px 0 8px;
      padding: 0 10px;
      box-shadow: none;
      display: block;
      .btn {
        margin: 0;
        & + .btn {
          margin: 0 0 0 10px;
        }
        & + .btn-primary {
          margin: 0 0 0 0;
        }
      }
    }
  }

  @media screen and (min-width: 1700px) {
    padding: 15px;
    .filter_control_content {
      max-width: calc(100% - 276px);
    }
    .ddl_Flight {
      // max-width: 160px;
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .ddl_Dep {
      // max-width: 180px;
      // width: 100%;
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .ddl_Status {
      // max-width: 260px;
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .cal_box {
      // max-width: 420px;
      margin: 1px 15px 0px 0;
      padding: 0;
    }
    .inp_key {
      // max-width: 165px;
      margin: 0px 15px 0px 0;
      padding: 0;
    }
    .btn_BOX {
      // max-width: 276px;
      margin: 4px 0 4px;
      padding: 0 10px;
      box-shadow: none;
      display: block;
      .btn {
        margin: 0;
        & + .btn {
          margin: 0px 0 0px 10px;
        }
        & + .btn-primary {
          margin: 0 0 0 0;
        }
      }
    }
  }
}
.filter_info_show {
  position: relative;
  z-index: 0;
  max-width: 350px;
  width: 100%;
  @include flex($a: center, $j: center);
  flex-wrap: wrap;
  margin: 10px auto 0;
  padding: 12px 0 0 0;
  border-radius: $radius;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  background-color: $white;
  &::before,
  &::after {
    content: none;
    position: absolute;
    z-index: 1;
    top: -26px;
    width: 16px;
    height: 50px;
    background: url("~/../../images/img-ring@2x.png") center no-repeat;
    background-size: contain;
  }
  &::before {
    left: 100px;
  }
  &::after {
    right: 100px;
  }
  li {
    max-width: calc(100% / 2);
    width: 100%;
    padding: 0 0 12px 0;
    a {
      display: inline-block;
      width: 100%;
      @include flex($a: center, $j: flex-start);
      padding: 0 15px;
      text-decoration: none;
    }
    & + li {
      position: relative;
      z-index: 0;
      &::before {
        content: none;
        position: absolute;
        z-index: 0;
        width: 1px;
        height: 50px;
        background-color: $gray-400;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  .txt-data-range {
    width: 100%;
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    color: $gray-500;
    background-color: $body-color;
    border-radius: 0 0 12px 12px;
  }
  @include media-breakpoint-up("lg") {
    // max-width: 620px;
    max-width: 800px;
    @include flex($a: center, $j: center);
    margin: 10px auto 0;
    padding: 30px 10px 10px;
    box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
    background-color: $white;
    &::before,
    &::after {
      content: "";
      top: -26px;
      width: 16px;
    }
    &::before {
      left: 100px;
    }
    &::after {
      right: 100px;
    }
    li {
      max-width: calc(100% / 4);
      a {
        padding: 0 8px;
      }
      & + li {
        &::before {
          content: "";
        }
      }
    }
  }
  // @include media-breakpoint-up("lg") {
  //   max-width: 800px;
  // }
  @include media-breakpoint-up("xxl") {
    max-width: 1260px;
    li {
      padding: 0 40px;
    }
  }
}
.ic_box {
  padding: 3px 5px 0px;
  background-color: #e6f0f2;
  border-radius: 10px;
  @include media-breakpoint-up("lg") {
    padding: 8px 10px 5px;
  }
}
.status_info {
  min-width: calc(100% - 50px);
  width: 100%;
  text-align: center;
  margin-left: 10px;
  .status {
    font-size: 0.875rem;
    line-height: 1.33;
    color: $hightling-color-olive;
  }
  .status_num {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.33;
    color: $primary-color;
  }
  @include media-breakpoint-up("lg") {
    min-width: 90px;
    margin-left: 6px;
    .status {
      font-size: 1.125rem;
    }
    .status_num {
      font-size: 1.875rem;
    }
  }
  @include media-breakpoint-up("xxl") {
    min-width: 140px;
    margin-left: 10px;
  }
}
.btn_SETTING {
  position: absolute;
  top: -244px;
  right: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  i {
    margin-top: 13px;
  }
  @include media-breakpoint-up("md") {
    top: -232px;
  }
  @include media-breakpoint-up("lg") {
    top: -60px;
  }
}
.fliter_details_cover {
  max-width: 1920px;
  width: 100%;
  position: relative;
  z-index: 0;
  margin: 15px auto 0;
  padding: 0 0 15px 0;
  @include media-breakpoint-up("md") {
    margin: 30px auto 0;
    padding: 0 0 30px 0;
  }
}
.fliter_table_cover {
  width: 100%;
  border-radius: $radius;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  overflow-x: hidden;

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    max-height: calc(calc(var(--vh, 1vh) * 100) - 100px);
    min-height: calc(calc(var(--vh, 1vh) * 100) - 100px); // fix 0112
    @include scrollStyle;
    background: #fff; // fix 0112
    .icon {
      cursor: pointer;
    }
    thead {
      tr {
        .info_td {
          min-width: 50px;
          .ic-filter {
            &.active {
              @include retina-sprite($ic-filter-group);
            }
          }
        }
        th {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
          max-width: 180px;
          padding: 13px 10px;
          background-color: $primary-color;
          text-align: center;
          height: 50px;
          border-bottom: 1px solid $gray-300;
          border-right: 1px solid $gray-300;
          font-size: 0;

          &.fixH {
            left: 0;
            z-index: 7;
          }
          &.fixH2 {
            left: 49px;
            z-index: 7;
          }
          &.decline {
            .ic-sort-increase {
              display: none;
            }
            .ic-sort-decline {
              display: inline-block;
            }
          }
          i {
            vertical-align: middle;
          }
          p {
            color: $white;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.33;
            display: inline-block;
            vertical-align: middle;
          }
          .ic-sort-increase {
            display: inline-block;
          }
          .ic-sort-decline {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        text-align: center;
        font-size: 1rem;
        color: $gray-700;
        cursor: pointer;

        .info_td {
          min-width: 50px;
        }
        .fixV {
          position: -webkit-sticky;
          position: sticky;
          left: 0;
          z-index: 5;
        }
        .fixV2 {
          position: -webkit-sticky;
          position: sticky;
          left: 49px;
          z-index: 5;
        }
        td {
          position: relative;
          z-index: 0;
          padding: 13px 10px;
          background-color: $white;
          max-width: 180px;
          height: 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1;
          border-bottom: 1px solid $gray-300;
          border-right: 1px solid $gray-300;
          @include tran();
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            > span {
              font-size: 1rem;
              margin-left: 6px;
            }
          }
          &.delay {
            color: $hightling-color-red;
            font-weight: bold;
          }
          &.cancel {
            color: $hightling-color-olive;
            font-weight: bold;
          }
          &.differ {
            color: $hightling-color-green;
            font-weight: bold;
          }
        }
        &:nth-child(even) {
          th,
          td {
            background-color: #f2f6f7;
          }
        }
        &.delay_line {
          th,
          td {
            background-color: #e6b8b3;
          }
        }
        &.cancel_line {
          th,
          td {
            background-color: #f2e8b6;
          }
        }
      }
    }
  }
  .mDV_Viewer {
    background-color: #fff;
    &.content_fixed {
      min-height: 250px; // fix 0112
    }
  }
  @include media-breakpoint-up("md") {
    table {
      // max-height: calc(calc(var(--vh, 1vh) * 100) - 436px);
      // min-height: calc(calc(var(--vh, 1vh) * 100) - 436px); // fix 0112

      thead {
        tr {
          .info_td {
            display: none;
          }
          th {
            min-width: 150px;
            max-width: 232px;
            &.width-lg {
              min-width: 250px;
            }
            &.fixH2 {
              left: 0px;
              z-index: 7;
            }
            p {
              font-size: 1.125rem;
            }
          }
        }
      }
      tbody {
        tr {
          font-size: 1.125rem;
          .info_td {
            display: none;
          }
          &:hover {
            th,
            td {
              background-color: #dce4e6;
            }
          }
          .fixV2 {
            position: -webkit-sticky;
            position: sticky;
            left: 0px;
            z-index: 5;
          }
          td {
            position: relative;
            z-index: 0;
            padding: 13px 10px;
            min-width: 150px;
            max-width: 232px;
            a {
              > span {
                font-size: 1.125rem;
                margin-left: 6px;
              }
            }
          }
          &:nth-child(even) {
            &:hover {
              th,
              td {
                background-color: #dce4e6;
              }
            }
          }
          &.delay_line {
            &:hover {
              th,
              td {
                background-color: #d9a093;
              }
            }
          }
          &.cancel_line {
            &:hover {
              th,
              td {
                background-color: #e6d273;
              }
            }
          }
        }
      }
    }
    .mDV_Viewer {
      &.content_fixed {
        height: calc(calc(var(--vh, 1vh) * 100) - 436px); // fix 0112
      }
    }
  }

  @include media-breakpoint-up("lg") {
    table {
      max-height: calc(100vh - 444px); // fix 0112
      min-height: calc(100vh - 444px); // fix 0112
    }
    .mDV_Viewer {
      &.content_fixed {
        height: calc(100vh - 444px); // fix 0112
      }
    }
  }
  @media screen and (min-width: 1300px) {
    table {
      max-height: calc(100vh - 387px); // fix 0112
      min-height: calc(100vh - 387px); // fix 0112
    }
    .mDV_Viewer {
      &.content_fixed {
        height: calc(100vh - 387px); // fix 0112
      }
    }
  }
  @media screen and (min-width: 1700px) {
    table {
      max-height: calc(100vh - 350px);
      min-height: calc(100vh - 350px); // fix 0112
    }
    .mDV_Viewer {
      &.content_fixed {
        height: calc(100vh - 350px); // fix 0112
      }
    }
  }
}
.multiple-options {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 10;
  max-width: 100%;
  width: 100%;
  left: 0;
  &.show {
    display: block;
  }

  .options {
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $gray-400;
    background-color: $white;
    padding: 0px;
    .ic_input {
      input {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $gray-400;
      }
      .icon {
        right: 10px;
      }
    }
    .opt_box {
      padding: 10px 0;
      overflow-y: auto; //fix 0112
      max-height: 180px; //fix 0112
    }
    .form-check {
      text-align: left;
      padding: 10px;
      margin: 0;
      @include tran();
      &.active,
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
    .form-check-label {
      font-size: 1.125rem;
      white-space: normal;
    }
  }
  .single-option {
    font-size: 1rem;
    cursor: pointer;
    padding: 0px 12px;
  }
  @include media-breakpoint-up("lg") {
    .single-option {
      font-size: 1.125rem;
    }
  }
}
//=== pop燈箱 ====================================================
.dialog-style {
  &.modal {
    bottom: 0;
    height: calc(var(--vh, 1vh) * 90);
    top: auto;
    &.fade {
      .modal-dialog {
        transform: translate(0, 50px);
      }
    }
    &.show {
      .modal-dialog {
        transform: none;
      }
    }
  }
  .modal-dialog {
    max-width: 1340px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    &.modal-sm {
      max-width: 400px;
      border-radius: 15px;
      .modal-body {
        height: auto;
      }
    }
  }
  .modal-header {
    position: relative;
    z-index: 0;
    display: block;
    background-color: $primary-color;
    text-align: center;
    padding: 10px 16px;
    &.delay {
      background-color: $hightling-color-red;
    }
    &.cancel {
      background-color: $hightling-color-olive;
    }
    .modal-title {
      width: 100%;
      color: $white;
    }
    .close {
      position: absolute;
      z-index: 0;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      margin: 0;
    }
  }
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body {
    height: calc(calc(var(--vh, 1vh) * 90) - 75px - 48px);
    overflow-y: auto;
  }
  .modal-footer {
    justify-content: center;
    padding: 7px 12px;
    box-shadow: 0 0 20px 0 rgba(41, 43, 43, 0.15);
  }
  .btn-dropdown-wrapper {
    margin: 0 0 15px 0;
  }
  .cal_box {
    margin: 0 0 15px 0;
  }
  .inp_key {
    margin: 0 0 15px 0;
  }
  @include media-breakpoint-up("lg") {
    &.modal {
      bottom: auto;
      height: 100%;
      top: 0;
      &.fade {
        .modal-dialog {
          transform: translateY(-40%);
        }
      }
      &.show {
        .modal-dialog {
          transform: translateY(-50%);
        }
      }
    }
    .modal-dialog {
      max-width: 1340px;
      position: relative;
      top: 50%;
      margin: 0 auto;
      border-radius: 20px;
      overflow: hidden;
    }
    .modal-header {
      padding: 15px 16px;
    }
    .modal-body {
      height: auto;
    }
    .modal-footer {
      box-shadow: none;
    }
  }
}
#pup_setOptions {
  .btn_DEFAULTBOX {
    display: flex;
    justify-content: center;
    .btn {
      margin: 0;
    }
  }
  .set_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  @include media-breakpoint-up("lg") {
    .btn_DEFAULTBOX {
      justify-content: flex-end;
      .btn {
        margin: 10px;
      }
    }

    .set_box {
      .col-lg-7 {
        max-width: calc(100% / 7);
        width: 100%;
      }
    }
  }
}
//=== flightDetailInfos pop ==================
// .flight-detail-place {
//   width: 100%;
// }
// .flight-place {
//   @include flex($j: space-between, $a: center);
//   .start,
//   .end {
//     font-size: 24px;
//     font-weight: 600;
//     line-height: 1.25;
//     text-align: center;
//     color: $gray-700;
//   }
//   .time {
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 1.11;
//     text-align: center;
//     color: $primary-color;
//   }
// }
// .flight-move {
//   @include flex($j: space-between, $a: center);
//   max-width: calc(100% - 40px);
//   width: 100%;
//   position: relative;
//   z-index: 0;
//   padding: 10px 0px;
//   margin: 0 20px;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 20px;
//     z-index: -1;
//     transform: translateY(-50%);
//     width: calc(100% - 40px);
//     height: 1px;
//     border-bottom: 1px dashed #000;
//   }
//   .start {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     border: solid 2px $primary-color;
//     background-color: $primary-color;
//   }
//   .ic-flight-line {
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     left: 0;
//     width: 10%;
//     height: 2px;
//     transform: translateY(-50%);
//     background-color: $primary-color;
//   }
//   .ic-move-flight {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateX(-50%);
//     z-index: 2;
//     width: auto;
//     padding: 0;
//     background-color: $white;
//     padding-top: 24px;
//     i {
//       position: absolute;
//       top: 0px;
//       left: 50%;
//       transform: translateX(-50%);
//     }
//     p {
//       font-size: 12px;
//       line-height: 1.67;
//       text-align: center;
//       color: $gray-500;
//     }
//   }
//   .end {
//     width: 10px;
//     height: 10px;
//     border-radius: 50%;
//     border: solid 2px $primary-color;
//     background-color: $white;
//   }
// }
.flight-dep-arr-detail {
  @include flex($j: center, $a: flex-start);
  padding-top: 18px;
  .flight-details {
    max-width: calc(50% - 5px);
    width: 100%;
    border-top: none;
    li {
      .detail-ti {
        max-width: 76px;
      }
      .detail-txt {
        max-width: calc(100% - 76px);
      }
    }
  }
}
.flight-details {
  padding: 4px 0;
  border-top: 1px solid $gray-300;
  & + .flight-details {
    border-left: 1px solid $gray-300;
    padding: 0 0 0 10px;
  }
  li {
    @include flex($j: flex-start, $a: flex-start);
    flex-wrap: wrap;
    padding: 5px 0;
    &.allBlock {
      .detail-ti {
        max-width: 100%;
      }
      .detail-txt {
        max-width: 100%;
        margin-top: 4px;
        span {
          width: 50%;
          display: inline-block;
        }
      }
    }
    .detail-ti {
      max-width: 110px;
      width: 100%;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.29;
      color: $gray-700;
    }
    .detail-txt {
      max-width: calc(100% - 110px);
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.29;
      color: $gray-600;
    }
  }
}
.quickly_btns {
  width: 100%;
  padding: 14px 0 0 0;
  border-top: 1px solid $gray-300;
  @include flex($j: center, $a: flex-start);
  li {
    max-width: calc(100% / 4);
    width: 100%;
    text-align: center;
    p {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.29;
      color: $gray-700;
      margin-bottom: 4px;
    }
    .badge-num {
      position: absolute;
      z-index: 1;
      top: 16px;
      min-width: 20px;
      right: calc(50% - 28px);
      border-radius: 10px;
      padding: 1px 4px;
      background-color: $primary-color;
      color: $white;
      font-size: 12px;
      text-align: center;
    }
  }
}
