.lin_border_btm {
  border-bottom: 1px solid $gray-300;
}
.MMM_form_group {
  &.form-group {
    margin-top: 10px;
    .col {
      padding: 0;
    }
    textarea {
      height: 168px;
    }
    .form-text {
      font-size: 1rem;
      line-height: 1.5;
      text-align: right;
      color: $gray-500;
      margin-top: 10px;
      span {
        font-size: 1rem;
        line-height: 1.5;
        text-align: right;
        color: $primary-color;
        font-weight: 600;
      }
    }
  }
}
.MMM_infos_cover,
.pup_infos_cover {
  @include flex($a: flex-start, $j: flex-start);
  flex-wrap: wrap;
  padding: 10px 0 20px;
  .info_box {
    max-width: 100%;
    width: 100%;
    margin: 8px 0;
    padding-right: 0px;
    &.half {
      max-width: 100%;
      input {
        width: 100%;
        margin-bottom: 8px;
      }
    }
    h5 {
      font-weight: 600;
      margin-bottom: 8px;
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1;
      color: $gray-600;
      word-break: break-all;
      padding: 0;
    }
  }
  @include media-breakpoint-up("sm") {
    .info_box {
      margin: 8px 0;
      max-width: calc(100% / 2);
      padding-right: 10px;
      &.half {
        max-width: calc(100% / 2);
        input {
          margin-bottom: 0;
        }
      }
      p {
        padding: 11px 0;
      }
    }
  }
  @include media-breakpoint-up("md") {
    padding: 10px 0 20px;
    .info_box {
      padding-right: 15px;
      &.half {
        max-width: 100%;
        input {
          max-width: calc((100% / 2) - 15px);
        }
      }
      h5 {
        font-size: 1.125rem;
        margin-bottom: 8px;
      }
      p {
        font-size: 1.125rem;
        padding: 11px 0;
      }
    }
  }
  @include media-breakpoint-up("xl") {
    .info_box {
      max-width: calc(100% / 4);
      padding-right: 30px;
      &.half {
        max-width: calc(100% / 2);
        input {
          max-width: calc((100% / 2) - 30px);
        }
      }
      &.info-box-col-6 {
        max-width: calc(100% / 4);
      }
    }
  }
}
.MMM_time_range_cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .dash {
    margin: 0 3px;
  }
}
.MMM_routinCheck_cover {
  padding: 30px 0 10px;
  h5 {
    font-weight: 600;
    font-size: 1rem;
  }
  .routinCheck_lists {
    margin-top: 10px;
    border-radius: 12px;
    background-color: $body-color;
    @include flex($a: flex-start, $j: flex-start);
    flex-wrap: wrap;
    .list_box {
      max-width: 100%;
      width: 100%;
      padding: 20px 15px 5px;
      position: relative;
      z-index: 0;
      &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: calc(100% - 30px);
        height: 1px;
        background-color: $gray-300;
        right: 15px;
        bottom: 0;
      }
      &:last-child {
        &::after {
          content: none;
        }
      }
      h5 {
        font-weight: 600;
        margin-bottom: 0;
      }
      .check {
        @include flex($a: center, $j: flex-start);
        margin: 15px 0;
      }
      p {
        font-size: 1rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $gray-700;
        max-width: 62px;
        width: 100%;
      }
      input {
        max-width: calc(100% - 62px);
        width: 100%;
      }
    }
  }
  @include media-breakpoint-up("md") {
    .ddl_RoutinCheck {
      max-width: 316px;
    }
    .routinCheck_lists {
      .list_box {
        max-width: calc(100% / 2);
        padding: 20px 20px 5px;
        &:after {
          width: 1px;
          height: calc(100% - 40px);
          right: 0;
          top: 20px;
          bottom: auto;
        }
        h5 {
          font-size: 1.125rem;
          height: 22px;
        }
        p {
          font-size: 1.125rem;
          max-width: 72px;
        }
        input {
          max-width: calc(100% - 72px);
        }
      }
    }
  }
  @include media-breakpoint-up("xxl") {
    .routinCheck_lists {
      .list_box {
        max-width: calc(100% / 4);
      }
    }
  }
}
.MMM_remark_cover {
  padding: 10px 0 10px;
  h5 {
    font-weight: 600;
  }
  .MMM_form_group {
    &.form-group {
      margin-top: 10px;
      textarea {
        height: 168px;
      }
    }
  }
}
.MMM_address_cover {
  padding: 10px 0 0 0;
  h5 {
    font-weight: 600;
  }
  .btn {
    margin: 10px 0;
  }
  .MMM_form_group {
    &.form-group {
      margin-top: 10px;
      textarea {
        height: 168px;
      }
    }
  }
}

.MMM_create_cover {
  h5 {
    font-weight: 600;
  }
  .btn {
    margin: 10px 0;
  }
  padding: 5px 0 20px;
  @include media-breakpoint-up("md") {
    padding: 10px 0 20px;
  }
}
.MMM_insert_cover {
  padding: 30px 0 0 0;
  .btn {
    margin: 10px 0;
  }
  h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .MMM_form_group {
    &.form-group {
      margin-top: 10px;
      textarea {
        height: 168px;
      }
    }
  }
  @include media-breakpoint-up("lg") {
    h5 {
      font-size: 1.125rem;
      margin-bottom: 10px;
    }
  }
}
.MMM_create_table {
  margin: 10px 0;
  max-height: 300px;
  overflow-y: auto;
  table {
    .stickyFirstLeft {
      z-index: 4;
    }
    .stickyFirstLeft2 {
      left: 69px;
    }
    .w_sm {
      min-width: 108px;
      max-width: 108px;
    }
    .w_md {
      min-width: 166px;
      max-width: 166px;
    }
    .w_lg {
      min-width: 220px;
      max-width: 220px;
    }
    .w_xl {
      min-width: 250px;
      max-width: 250px;
    }
    thead {
      th {
        &:first-child {
          min-width: 70px;
          max-width: 70px;
        }
      }
    }
    tbody {
      th {
        min-width: 70px;
        max-width: 70px;
      }
      td {
      }
    }
  }
}
//pop 地址 insert
#pup_selectAddress {
  .modal-body {
    padding: 0 0 0 0;
  }
  .pos_flex {
    @include flex($a: stretch, $j: flex-start);
  }
  .tabs {
    max-width: 100%;
    width: 100%;
    font-size: 0;
    padding: 0 15px;
    a {
      text-align: center;
      max-width: 50%;
      width: 100%;
      border-bottom: 3px solid $gray-500;
      display: inline-block;
      font-size: 1rem;
      color: $gray-500;
      padding: 10px 0;
      margin: 10px 0;
      &:focus,
      &:hover {
        text-decoration: none;
      }
      &.active {
        border-bottom: 3px solid $primary-color;
        color: $primary-color;
      }
    }
  }
  .chk_AddressTable {
    max-width: 100%;
    width: 100%;
    padding: 15px;
    background-color: $white;
    display: none;
    &.active {
      display: block;
    }
  }
  .show_Address {
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
    background-color: $white;
    display: none;
    max-height: calc(100vh - 284px);
    overflow-y: auto;
    &.active {
      display: block;
    }
  }
  .Address_table {
    max-height: calc(100vh - 284px);
    input[type="checkbox"] {
      left: -12px;
    }
    input[type="checkbox"] + label::before {
      left: -12px;
    }
    table {
      thead {
        th {
          min-width: 80px;
        }
      }
      tbody {
        th,
        td {
          min-width: 80px;
        }
      }
    }
    .form-check {
      margin: 0;
      min-height: 20px;
    }
  }
  .address_box {
    padding: 15px;
    width: 100%;
    .add_title {
      @include flex($a: center, $j: space-between);
      margin-bottom: 7px;
      h5 {
        font-weight: 600;
        font-size: 1.125rem;
        color: $gray-700;
        margin-bottom: 0;
      }
      p {
        color: $gray-500;
        span {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
    .pup_formgroup {
      &.form-group {
        .col {
          padding: 0;
        }
        textarea {
          // height: 180px;
          height: calc((100vh - 410px) / 3);
          min-height: 100px;
        }
      }
    }
  }

  @include media-breakpoint-up("lg") {
    .tabs {
      display: none;
    }
    .chk_AddressTable {
      display: inline-block;
      max-width: 67%;
      width: 100%;
      padding: 30px 30px 30px 40px;
    }
    .show_Address {
      display: inline-block;
      max-width: 33%;
      width: 100%;
      padding: 15px 0;
      background-color: $body-color;
      max-height: none;
      overflow-y: unset;
    }
    .Address_table {
      max-height: calc(100vh - 250px);
      .form-check {
        margin: 0;
      }
    }
    .address_box {
      display: inline-block;
      padding: 15px 40px 15px 30px;
      .add_title {
        @include flex($a: center, $j: space-between);
        margin-bottom: 7px;
        h5 {
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }
      .pup_formgroup {
        &.form-group {
          .col {
            padding: 0;
          }
          textarea {
            height: calc((100vh - 410px) / 3);
            min-height: 100px;
          }
        }
      }
    }
  }
}
#pup_createInfos,
#pup_viewInfos {
  .modal-body {
    padding: 2px 20px 20px;
  }
  .pup_info_describe {
    padding: 14px 0;
    .info_des {
      padding: 16px 0 0 0;
      h5 {
        font-weight: 600;
      }
    }
  }
  .pup_insert_cover {
    padding: 30px 0 20px;
    .btn {
      margin: 10px 0;
    }
    .memo-title {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-up("lg") {
    .modal-body {
      padding: 10px 40px 20px;
    }
    .pup_info_describe {
      padding: 10px 0;
      .info_des {
        padding: 20px 0 0 0;
      }
    }
  }
}
#pup_createInfos {
  .pup_infos_cover {
    .info_box {
      .form-group {
        .btn-dropdown-wrapper {
          margin: 0;
        }
      }
    }
    @include media-breakpoint-up("lg") {
      .info_box {
        .form-group {
          .btn-dropdown-wrapper {
            margin: 0 0 15px 0;
          }
        }
      }
    }
  }
}
#pup_viewInfos {
  .pup_info_describe {
    padding: 10px 0 20px;
    .info_des {
      padding: 20px 0 8px 0;
    }
  }
}
.pup_create_table {
  margin: 10px 0;
  &.small_table {
    max-width: max-content;
    table {
      thead {
        th {
          max-width: 170px;
          min-width: 110px;
          &.w_sm {
            min-width: 75px;
          }
          &.w_md {
            min-width: 89px;
          }
          &.w_lg {
            max-width: 170px;
            min-width: 110px;
          }
        }
      }
      tbody {
        td {
          max-width: 170px;
          min-width: 110px;
          &.w_sm {
            min-width: 75px;
          }
          &.w_md {
            min-width: 89px;
          }
          &.w_lg {
            max-width: 170px;
            min-width: 110px;
          }
        }
      }
    }
  }
  table {
    .stickyFirstLeft {
      z-index: 4;
    }
    .stickyFirstLeft2 {
      left: 43px;
    }
    thead {
      th {
        padding: 13px 8px;
        min-width: 130px;
        &:first-child {
          min-width: 44px;
          max-width: 44px;
        }
        &.w_md {
          min-width: 180px;
        }
        &.w_lg {
          min-width: 220px;
        }
      }
    }
    tbody {
      th {
        padding: 13px 8px;
        max-width: 44px;
        .btn_ICONONLY {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      td {
        padding: 13px 8px;
        min-width: 130px;
        &.w_md {
          min-width: 180px;
        }
        .col {
          padding: 0;
        }
      }
    }
  }
  &.view_table {
    table {
      thead {
        th {
          padding: 13px 8px;
          min-width: 130px;
          &:first-child {
            min-width: 130px;
            max-width: unset;
          }
          &.w_md {
            min-width: 180px;
          }
        }
      }
      tbody {
        td {
          padding: 13px 8px;
          min-width: 130px;
          &.w_md {
            min-width: 180px;
          }
          .col {
            padding: 0;
          }
        }
      }
    }
  }
  @include media-breakpoint-up("lg") {
    table {
      .stickyFirstLeft2 {
        left: 69px;
      }
      thead {
        th {
          padding: 13px 8px;
          min-width: 130px;
          &:first-child {
            min-width: 70px;
            max-width: 70px;
          }
          &.w_md {
            min-width: 180px;
          }
        }
      }
      tbody {
        th {
          padding: 13px 8px;
          max-width: 70px;
        }
        td {
          padding: 13px 8px;
          min-width: 130px;
          &.w_md {
            min-width: 180px;
          }
          .col {
            padding: 0;
          }
        }
      }
    }
  }
}

#pup_confirm {
  text-align: center;
  top: 38%;
  p {
    padding: 20px 0;
    font-size: 1rem;
    line-height: 1.33;
    color: $gray-700;
  }
  .btn_COVER {
    @include flex($a: center, $j: center);
  }
  @include media-breakpoint-up("lg") {
    top: 0%;
    transform: translateY(0%);
    p {
      padding: 30px 0;
      font-size: 1.125rem;
    }
  }
}
