/* <header> -------------------- */
.opened {
  .echat_header {
    transform: translateX(-110%);
  }
  @include media-breakpoint-up("lg") {
    .header {
      max-width: calc(100% - 280px);
      left: 280px;
      &.echat_header {
        transform: translateX(0%);
      }
    }
  }
}
.header_logo {
  a {
    display: inline-block;
    img {
      width: 50px;
    }
    span {
      font-size: 1rem;
      font-weight: 600;
      color: $white;
      margin-left: 5px;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 7px 12px;
  background-image: linear-gradient(to top, #0d3740, #1b5d69);
  &::before {
    content: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: url("~/../../images/bg-header@2x.png") center top no-repeat;
    background-size: cover;
  }
  &.flight_header {
    padding: 20px 12px;
    flex-wrap: wrap;
    h2 {
      color: $white;
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }
  }
  &.echat_header {
    padding: 20px 12px;
    flex-wrap: wrap;
    @include tran(0.2s);
    h2 {
      color: $white;
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }
    .flight_infos {
      background-color: $white;
      border-radius: 15px;
      margin-top: 34px;
    }
    @media screen and (max-height: 420px) {
      .flight_infos {
        display: none;
      }
    }
  }
  @include media-breakpoint-up("lg") {
    position: relative;
    z-index: 0;
    left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 80px);
    width: 100%;
    padding: 23px 35px 22px 15px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 130px;
      background: url("~/../../images/bg-header@2x.png") center top no-repeat;
      background-size: cover;
    }
    &.flight_header {
      padding: 9px 12px;
      left: 280px;
    }
    &.echat_header {
      padding: 9px 12px;
      left: 280px;
    }
  }
  @include media-breakpoint-up("xl") {
    &.flight_header {
      padding: 9px 12px;
      left: 365px;
    }
    &.echat_header {
      padding: 9px 12px;
      left: 365px;
    }
  }
}
.btn_MNUOPENED {
  position: absolute;
  right: 15px;
  top: 20px;
  // top: 50%;
  // transform: translateY(-50%);
  @include media-breakpoint-up("lg") {
    position: unset;
    transform: translateY(0%);
  }
}
.person_info_box {
  display: flex;
  align-items: center;
}
.show_dateTime_box {
  display: none;
  span {
    font-size: 1.125rem;
    font-weight: 600;
    color: $white;
    margin: 0 5px;
    display: inline-block;
  }
  .time-width-fix {
    width: 84px;
  }
  @include media-breakpoint-up("lg") {
    display: block;
  }
}
.show_country {
  display: inline-block;
  border-radius: 15px;
  background-color: #e6f0f2;
  margin: 0 10px;
  position: relative;
  right: 33px;
  top: 0px;
  p {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: $gray-700;
    padding: 2px 9px;
  }
  @include media-breakpoint-up("lg") {
    position: unset;
  }
}
.show_name {
  display: none;
  margin: 0 5px;
  p {
    font-size: 1.125rem;
    font-weight: bold;
    color: $white;
  }
  @include media-breakpoint-up("lg") {
    display: block;
  }
}
