.mnu_NavMain {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 5;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0;
  height: 100vh;
  background-color: $white;
  box-shadow: 0 0 30px 0 rgba(41, 43, 43, 0.15);
  @include tran(0.2s);
  transform: translateX(-150%);
  &:after {
    content: none;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 89.28%;
    background: url("~/../../images/bg-sidemenu@2x.png") center no-repeat;
    background-size: contain;
  }
  &.navbar-expand {
    .navbar-nav {
      .nav-link {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .mnu_NavLogo {
    padding: 8px 10px;
    display: none;
    text-decoration: none;
    img {
      max-width: 60px;
      width: 100%;
      margin-right: 0px;
      background-color: #fff;
    }
    p {
      width: 0;
      opacity: 0;
      transform: scale(0);
      font-size: 24px;
      color: $primary-color;
    }
  }
  .mnu_NavList {
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .nav {
    &-item {
      cursor: pointer;
      max-width: 100%;
      width: 100%;
      flex: 1 0 auto;
      padding: 0;
      @include flex($a: center, $j: center);
      position: relative;
      margin: 0px auto;
      & + .nav-item {
        border-top: solid 1px $gray-300;
      }
    }
    &-link {
      position: relative;
      z-index: 1;
      @include flex($a: center, $j: space-between);
      width: 100%;
      padding: 20px;
      font-size: 1.125rem;
      line-height: 1.33;
      color: $gray-700;
      text-decoration: none;
      border-radius: 10px;
      @include tran();
      .mnu_NavBox {
        display: flex;
        align-items: center;
      }
      i {
        margin: 0 10px;
      }
      span {
        line-height: 1;
      }
    }
  }

  @include media-breakpoint-up("lg") {
    top: 0;
    max-width: 80px;
    transform: translateX(0%);
    .mnu_NavLogo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
    }
    .nav {
      &-item {
        max-width: 44px;
        margin: 20px auto;
        &:hover,
        &.active {
          .nav-link {
            background-color: $primary-color;
            color: $white;
          }
        }
        & + .nav-item {
          border-top: none;
        }
      }
      &-link {
        padding: 10px 0;
        span {
          opacity: 0;
          position: absolute;
          transform: scale(0);
        }
      }
    }
    // .dropdown {
    //   &-menu {
    //     border: none;
    //     padding: 8px 0;
    //     border-radius: 8px;
    //     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    //     width: 250px;
    //     a {
    //       color: $purple-500;
    //       &:hover {
    //         background-color: $gray-200;
    //         color: $purple-500;
    //       }
    //     }
    //   }
    //   &-toggle {
    //     position: relative;
    //     &::after {
    //       display: none;
    //     }
    //   }
    //   &-item {
    //     padding: 10px 16px;
    //   }
    // }
  }
}
.opened {
  .mnu_NavMain {
    transform: translateX(0%);
    @include tran(0.2s);
    &:after {
      content: none;
    }
    &.mnu_echat {
      transform: translateX(-110%);
    }
  }
  @include media-breakpoint-up("lg") {
    .mnu_NavMain {
      max-width: 280px;
      &:after {
        content: "";
      }
      &.mnu_echat {
        transform: translateX(0%);
      }
      .mnu_NavLogo {
        img {
          margin-right: 6px;
        }
        p {
          width: auto;
          opacity: 1;
          transform: scale(1);
          @include tran();
        }
      }
      .nav {
        &-item {
          max-width: 100%;
          flex: 1 0 auto;
          padding: 0 20px;
          margin: 20px 0;
        }
        &-link {
          width: 100%;
          padding: 10px 0;
          i {
            margin: 0 10px;
          }
          span {
            position: unset;
            opacity: 1;
            transform: scale(1);
            @include tran();
          }
        }
      }
    }
  }
}
//=== fight detail menu ==================
.mnu_Flight {
  &.mnu_NavMain {
    max-width: 100%;
    z-index: 22;
  }
  .flight_infos {
    display: none;
  }
  .mnu_flight_cover {
    position: relative;
    z-index: 0;
    max-height: calc(calc(var(--vh, 1vh) * 100) - 64px);
    overflow-y: auto;
    padding: 22px 0 0 0;
    &::before {
      content: "";
      position: fixed;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0 0 30px 0 rgba(90, 163, 163, 0.3);
    }
  }
  @include media-breakpoint-up("sm") {
    .mnu_flight_cover {
      max-height: calc(calc(var(--vh, 1vh) * 100) - 270px);
    }
  }
  @media (max-height: 420px) {
    .mnu_flight_cover {
      max-height: calc(calc(var(--vh, 1vh) * 100) - 64px);
    }
    .flight_infos {
      &.pc_show {
        display: none !important;
      }
    }
  }
  @include media-breakpoint-up("lg") {
    &.mnu_NavMain {
      max-width: 280px;
      z-index: 5;
      &:after {
        content: none;
      }
    }
    .flight_infos {
      display: inline-block;
      padding: 0px 0px 12px;
      transform: scale(0.85);
      white-space: nowrap;
    }
    .mnu_flight_cover {
      padding: 0 0 40px 0;
      // max-height: calc(calc(var(--vh, 1vh) * 100) - 189px);
      max-height: calc(100vh - 200px);
    }
  }
  @include media-breakpoint-up("xl") {
    &.mnu_NavMain {
      max-width: 365px;
    }
    .flight_infos {
      padding: 30px 22px;
      transform: scale(1);
    }
    .mnu_flight_cover {
      padding: 0;
      // max-height: calc(calc(var(--vh, 1vh) * 100) - 228px);
      max-height: calc(100vh - 238px);
    }
  }
}

.mnu_FlightLists {
  width: 100%;
  padding: 0 0 0 20px;
}
.mnu_Lists {
  width: 100%;
  padding: 0 0 18px 0;
}
.mnu_list_name {
  @include flex($a: center, $j: flex-start);
  padding-bottom: 8px;
  h2 {
    color: $hightling-color-olive;
    margin-bottom: 0;
    margin-left: 10px;
  }
}
.mnu_sub_lists {
  padding: 0 0 0 25px;
  li {
    border-radius: 20px 0 0 20px;
    @include tran();
    a {
      width: 100%;
      display: inline-block;
      padding: 8px 0 8px 15px;
      @include tran();
    }
    &.active {
      background-color: $primary-color;
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
  @include media-breakpoint-up("lg") {
    li {
      &:hover {
        background-color: $primary-color;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}
// == echat menu ==========================
.mnu_echat {
  &.mnu_NavMain {
    max-width: 100%;
    z-index: 22;
    height: auto;
    top: 303px;
    transform: translateX(0%);
  }
  .flight_infos {
    display: none;
  }
  .echat_cover {
    position: relative;
    z-index: 0;
    background-color: $body-color;
    height: calc(calc(var(--vh, 1vh) * 100) - 303px);
    overflow-y: auto;
    &::before {
      content: "";
      position: fixed;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0 0 30px 0 rgba(90, 163, 163, 0.3);
    }
    .mnu_FlightList {
      padding: 0;
      .mnu_Lists {
        padding: 0;
        a {
          padding: 20px;
          text-decoration: none;
          @include flex($a: center, $j: space-between);
          h5 {
            margin-bottom: 0;
          }
        }
        &.active {
          background-color: $hightling-color-olive;
          a {
            color: $white;
            text-decoration: none;
            .ic-arrow-right {
              @include retina-sprite($ic-arrow-right-white-group);
            }
          }
        }
      }
    }
  }
  @media screen and (max-height: 420px) {
    &.mnu_NavMain {
      top: 64px;
    }
    .echat_cover {
      height: calc(calc(var(--vh, 1vh) * 100) - 64px);
    }
  }

  @include media-breakpoint-up("lg") {
    &.mnu_NavMain {
      max-width: 280px;
      z-index: 5;
      top: 0px;
      &:after {
        content: none;
      }
    }
    .flight_infos {
      // padding: 0px 0px 12px;
      display: inline-block;
      // transform: scale(0.85);
      // white-space: nowrap;
    }
    .echat_cover {
      // height: calc(calc(var(--vh, 1vh) * 100) - 189px);
      height: calc(100vh - 189px);
      overflow-y: auto;
      .mnu_FlightList {
        .mnu_Lists {
          a {
            padding: 20px;
            @include flex($a: center, $j: space-between);
          }
          &:hover {
            background-color: $hightling-color-olive;
            a {
              color: $white;
              text-decoration: none;
              .ic-arrow-right {
                @include retina-sprite($ic-arrow-right-white-group);
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up("xl") {
    &.mnu_NavMain {
      max-width: 365px;
      z-index: 5;
      top: 0px;
      &:after {
        content: none;
      }
    }
    // .flight_infos {
    //   padding: 30px 22px;
    //   display: inline-block;
    //   transform: scale(1);
    // }
    .echat_cover {
      // height: calc(calc(var(--vh, 1vh) * 100) - 228px);
      height: calc(100vh - 238px);
      overflow-y: auto;
      .mnu_FlightList {
        .mnu_Lists {
          a {
            padding: 20px;
            @include flex($a: center, $j: space-between);
          }
          &:hover {
            background-color: $hightling-color-olive;
            a {
              color: $white;
              text-decoration: none;
              .ic-arrow-right {
                @include retina-sprite($ic-arrow-right-white-group);
              }
            }
          }
        }
      }
    }
  }
}
