$btn-margin: 10px;

@mixin btn-box-show($color) {
  box-shadow: 0 0 0.93rem 0 $color;
}

@mixin btn-ani() {
  transform: translateY(3px);
}

button {
  color: inherit;
  border: none;
  outline: none;
  &:hover {
    color: inherit;
  }
}

button:focus,
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* bootstrap: btn -------------------- */

.btn {
  @include tran();
  padding: 7px 20px;
  margin: $btn-margin;
  border: 1px solid transparent;
  border-radius: 30px;
  position: relative;
  background-color: $gray-200;
  min-width: 120px;
  color: $white;

  &:focus,
  &.focus,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active {
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 1;
  }
  &-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      @include btn-box-show(rgba(41, 43, 43, 0.3));
      @include btn-ani();
      border-color: $btn-primary-hover;
      background-color: $btn-primary-hover;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
      background-color: $primary-color;
      border-color: $primary-color;
      &:hover {
        @include btn-box-show(rgba(41, 43, 43, 0.3));
        @include btn-ani();
        border-color: $btn-primary-hover;
        background-color: $btn-primary-hover;
      }
    }
    &:focus,
    &.focus {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:disabled,
    &.disabled {
      background-color: $gray-500;
      border-color: $gray-500;
      color: $white;
      &:hover {
        border-color: $gray-500;
        background-color: $gray-500;
        color: $white;
      }
    }
  }

  &-secondary {
    background-color: $white;
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
      @include btn-box-show(rgba(41, 43, 43, 0.3));
      @include btn-ani();
      background-color: $white;
      border-color: $primary-color;
      color: $primary-color;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
      border-color: $primary-color;
      background-color: $white;
      color: $primary-color;
      &:hover {
        @include btn-box-show(rgba(41, 43, 43, 0.3));
        @include btn-ani();
        background-color: $white;
        border-color: $primary-color;
        color: $primary-color;
      }
    }
    &:focus,
    &.focus {
      background-color: $white;
      border-color: $primary-color;
      color: $primary-color;
    }
    &:disabled,
    &.disabled {
      background-color: $gray-400;
      border-color: $gray-400;
      color: $white;
      &:hover {
        background-color: $gray-400;
        border-color: $gray-400;
        color: $white;
      }
    }
  }
  &.large-btn {
    max-width: 80%;
    width: 100%;
  }
  @include media-breakpoint-up("lg") {
    &-primary {
      &:not(:disabled):not(.disabled) {
        &:hover {
          @include btn-box-show(rgba(41, 43, 43, 0.3));
          @include btn-ani();
          border-color: $btn-primary-hover;
          background-color: $btn-primary-hover;
        }
      }
      &:disabled,
      &.disabled {
        &:hover {
          border-color: $gray-500;
          background-color: $gray-500;
          color: $white;
        }
      }
    }

    &-secondary {
      &:not(:disabled):not(.disabled) {
        &:hover {
          @include btn-box-show(rgba(41, 43, 43, 0.3));
          @include btn-ani();
          background-color: $white;
          border-color: $primary-color;
          color: $primary-color;
        }
      }
      &:disabled,
      &.disabled {
        &:hover {
          background-color: $gray-400;
          border-color: $gray-400;
          color: $white;
        }
      }
    }
  }
}

/* bootstrap: dropdown -------------------- */
.btn-dropdown {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  &-wrapper {
    width: 100%;
    margin: 10px 0;
    display: inline-block;
  }
  &.ic_input {
    input {
      padding: 0 40px 0 12px;
    }
  }
  .select-placeholder {
    color: $gray-400;
  }
  .ip_search {
    margin-top: -8px;
    input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #c8c8c8;
    }
  }

  .dropdown {
    &-menu {
      width: 100%;
      margin-top: 0;
      border: 1px solid $gray-400;
      border-radius: 10px;
      padding: 8px 0;
      // max-height: 216px;
      max-height: 430px;
      overflow-y: auto;
    }
    &-item {
      white-space: normal;
      padding: 5px 12px;
      color: $gray-700;
      word-break: break-all;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
      &.active {
        background-color: $primary-color;
        color: $white;
      }
    }
    &-toggle {
      @include flex(space-between, center);
      white-space: normal;
      border-color: $gray-400;
      background-color: $white;
      padding: 6px 12px;
      border-radius: 6px;
      margin: 0;
      width: 100%; //依照外框決定寬度
      color: $gray-700;
      &::after {
        border: none;
        @include retina-sprite($select-default-group);
      }
      &:disabled {
        border: solid 1px $gray-400;
        color: $gray-400;
        background-color: $gray-200;
        &::after {
          border: none;
          @include retina-sprite($select-down-disabled-group);
        }
      }
      .select-tags {
        font-size: 1rem;
      }
    }
    @media screen and (max-height: 420px) {
      &-menu {
        max-height: 100px;
      }
    }
    @include media-breakpoint-up("lg") {
      &-toggle {
        .select-tags {
          font-size: 1.125rem;
        }
      }
    }
  }
  .error {
    border-color: $hightling-color-red;
    &::after {
      border: none;
      @include retina-sprite($select-down-error-group);
    }
  }
  &.show {
    .dropdown-toggle::after {
      transform: scaleY(-1);
    }
  }

  &.btn-dropdown-nav .dropdown-toggle {
    &:disabled,
    &.disabled {
      color: $white;
      border-color: $gray-400;
      &::after {
        border: none;
      }
    }
  }
}
/* bootstrap: dropdown Multiple -------------------- */
.multiple-select-style {
  &.btn-dropdown {
    .dropdown-item {
      padding: 8px 12px;
    }
  }
  .dropdown-toggle {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 30px);
      font-size: 1rem;
    }
  }
  .btn {
    font-size: 1.125rem;
  }
  .form-check {
    margin: 0;
    .form-check-label {
      padding-top: 0;
      width: 100%;
    }
  }
  input {
    text-align: left;
    &.icon {
      position: relative;
      z-index: 0;
      padding: 0 40px 0 12px;
    }
  }
  @include media-breakpoint-up("lg") {
    .dropdown-toggle {
      p {
        font-size: 1.125rem;
      }
    }
  }
}
