.cal_DataSet_cover {
  border: solid 1px $gray-400;
  background-color: $white;
  border-radius: 6px;
  .cal_DataSet {
    position: relative;
    z-index: 0;
    width: 100%;
    & + .cal_DataSet {
      position: relative;
      z-index: 0;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -3px;
        z-index: 1;
        transform: translateY(-50%);
        width: 6px;
        height: 1px;
        background-color: $gray-700;
      }
    }
    input {
      width: 100%;
      border: none;
      padding: 6px 40px 6px 12px;
    }
  }
  @include media-breakpoint-down("sm") {
    flex-wrap: wrap;
    .cal_DataSet {
      & + .cal_DataSet {
        &::before {
          content: none;
        }
      }
      input {
        padding: 6px 40px 6px 12px;
      }
    }
  }
}

//new
.cal_DataSet_cover {
  position: relative;
  .cal_DataSet {
    position: relative;
    z-index: 0;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      width: 24px;
      height: 24px;
      @include retina-sprite($ic-calendar-group);
      pointer-events: none;
      cursor: pointer;
    }
  }
}

.daterangepicker {
  width: auto !important;
  margin-top: 0 !important;
  &::before,
  &::after {
    content: none !important;
  }
  td {
    &.off {
      color: $gray-500 !important;
    }
    &.active {
      background-color: $primary-color !important;
      color: $white !important;
    }
    &.start-date.end-date {
      border-radius: 50% !important;
    }
  }
  .drp-calendar {
    &.left {
      padding: 8px !important;
    }
    .calendar-table {
      table {
        thead {
          tr {
            th {
              select {
                &.monthselect {
                  margin-right: 0;
                }
                &.yearselect {
                  margin-left: 10px;
                }
                border: 1px solid $primary-color;
              }
            }
            &:nth-of-type(2) {
              th {
                color: $primary-color;
                font-size: 0.875rem !important;
                line-height: 1.43;
              }
            }
          }
        }
      }
      td {
        color: $gray-700;
        font-size: 0.875rem !important;
        height: 32px !important;
        border-radius: 50% !important;
      }
    }
    .calendar-time {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 2px;
      outline: 0;
      font-size: 0.875rem;
      select {
        height: auto;
        max-width: 80px;
        width: 100%;
        background: #e6f0f2;

        border: 1px solid $primary-color;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 24px;
        height: 24px;
        @include retina-sprite($ic-clock-group);
      }
    }
  }
  .drp-buttons {
    text-align: center !important;
    .btn {
      min-width: 100px;
      margin: 0;
    }
    .cancelBtn {
      display: none;
    }
  }
}
