$input-red-color: $hightling-color-red; // required and invalid
$input-padding: 6px 12px;
$input-placeholder: $gray-400;
$input-radio-checkbox-size: 24px;
$input-radius: 6px;

/* default setting for input, textarea, select -------------------- */
@mixin input($height: 40px) {
  height: $height;
  border-radius: $input-radius;
  border: 1px solid $gray-400;
  padding: $input-padding;
  color: $black;
  &:hover,
  &:focus {
    border: 1px solid $gray-400;
  }
  &:focus {
    box-shadow: none;
  }
  &::placeholder {
    color: $input-placeholder;
  }
  &:disabled,
  &.disabled {
    background-color: $gray-200;
    border-color: $gray-400;
    color: $gray-400;
    -webkit-text-fill-color: $gray-400; // for safari
  }
}

// clears the 'X' from Internet Explorer
input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

// clears type = number arrow
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// clears type = number arrow
input[type="number"] {
  -moz-appearance: textfield;
}

// select::-ms-expand {
//   display: none;
// }

/* bootstrap: label -------------------- */
.form-label {
  margin-bottom: 0.5rem;
}
.col-form-label {
  padding-top: calc(0.35rem + 1px);
  padding-bottom: calc(0.35rem + 1px);
}

/* bootstrap: original input -------------------- */
input,
input.form-control {
  @include input();
  outline: none;
  font-size: 1rem;
  @include media-breakpoint-up("lg") {
    font-size: 1.125rem;
  }
}

/* radio & check -------------------- */
input[type="checkbox"],
input[type="radio"] {
  @include size($input-radio-checkbox-size);
  appearance: none;
  background-color: transparent;
  border: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  &:disabled,
  &[disabled],
  &.disabled {
    + label {
      color: $gray-400;
    }
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: $input-radio-checkbox-size + 10px;
  &::before {
    @include pseudo($display: inline-block);
    left: 0;
    position: absolute;
  }
}

/* setting radio img -------------------- */
input[type="radio"] {
  + label::before {
    @include retina-sprite($radio-default-group);
  }
  &:hover + label::before {
    // @include retina-sprite($radio-hover-group);
  }
  &:checked + label::before {
    @include retina-sprite($radio-checked-group);
  }
  &[disabled],
  &.disabled {
    + label::before {
      @include retina-sprite($radio-disabled-group);
    }
    &:checked + label::before {
      @include retina-sprite($radio-disabled-checked-group);
    }
  }
}

/* setting checkbox img -------------------- */
input[type="checkbox"] {
  + label::before {
    @include retina-sprite($checkbox-default-group);
  }
  &:hover + label::before {
    // @include retina-sprite($checkbox-hover-group);
  }
  &:checked + label::before {
    @include retina-sprite($checkbox-checked-group);
  }
  &[disabled],
  &.disabled {
    + label::before {
      @include retina-sprite($checkbox-disabled-group);
    }
    &:checked + label::before {
      @include retina-sprite($checkbox-disabled-checked-group);
    }
  }
}

/* bootstrap: form-check > radio & checkbox -------------------- */
.form-check {
  min-height: $input-radio-checkbox-size;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  &-label {
    padding-left: 10px;
    padding-top: 0.25rem;
  }
  &-inline {
    margin-right: 40px;
    display: inline-flex;
  }

  &-only {
    display: inline-block;
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      position: absolute;
      padding-left: $input-radio-checkbox-size;
      padding-top: 0;
    }
  }
}

/* bootstrap: textarea -------------------- */
textarea,
textarea.form-control {
  @include input(auto);
  width: 100%;
  max-width: none;
}

/* bootstrap: select -------------------- */
select,
.form-select {
  @include input();
  // appearance: none;
  text-overflow: ellipsis;
}

.form-group {
  .bs-select {
    width: 100%;
    .select-placeholder {
      color: $input-placeholder;
    }
    .dropdown {
      &-toggle {
        @include input(40px);
        @include flex(space-between, top);
        text-align: left;
        margin: 0;
        width: 100%;
        position: relative;
        padding-right: 34px;
        overflow: hidden;
        &::after {
          vertical-align: middle;
          position: absolute;
          right: 10px;
        }
      }
      &-item {
        padding: $input-padding;
        font-weight: normal;
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
        &.active {
          background-color: $primary-color;
          color: $white;
        }
      }
    }
    .select-tags {
      width: 100%;
      .select-single {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(100% - 6px);
        overflow: hidden;
      }
    }
  }
}

/* required -------------------- */
.required {
  label,
  .col-form-label,
  .legend {
    &::after {
      content: "*";
      color: $input-red-color;
    }
  }
}

/* invalid -------------------- */
.invalid {
  &-feedback {
    @include text($size: 13px, $color: $input-red-color);
    margin-top: 4px;
    width: 100%;
    display: none;
  }
  input,
  textarea,
  .form-control {
    border-color: $input-red-color;
    &:focus,
    &:hover:focus,
    &:hover {
      border-color: $input-red-color;
    }
    &.keyFilter-select {
      background-image: url("./../../images/ic-select-down-error@2x.png");
      &.open {
        background-image: url("./../../images/ic-select-up-error@2x.png");
      }
    }
  }
  select,
  .form-select,
  .bs-select .select-wrapper,
  .bs-select .select-wrapper:hover,
  .bs-select .select-wrapper:focus {
    border-color: $input-red-color;
    &.keyFilter-select {
      background-image: url("./../../images/ic-select-down-error@2x.png");
      &.open {
        background-image: url("./../../images/ic-select-up-error@2x.png");
      }
    }
  }
  .ip_search {
    .select-wrapper {
      &:focus,
      &:hover {
        border-color: #c8c8c8;
        border: none;
        border-bottom: 1px solid #c8c8c8;
      }
    }
  }
  .invalid-feedback {
    display: block;
  }
  input[type="checkbox"] {
    + label::before {
      @include retina-sprite($checkbox-error-group);
    }
    &:checked + label::before {
      // @include retina-sprite($checkbox-error-checked-group);
    }
  }
  input[type="radio"] {
    + label::before {
      @include retina-sprite($radio-error-group);
    }
    &:checked + label::before {
      // @include retina-sprite($radio-error-checked-group);
    }
  }
  .form-check-label {
    color: $input-red-color;
  }

  .btn-dropdown {
    .dropdown {
      &-toggle {
        &::after {
          border: none;
          @include retina-sprite($select-down-error-group);
        }
      }
    }
  }
  .dropdown-item {
    .form-check-label {
      color: inherit;
    }
    input[type="checkbox"] {
      + label::before {
        @include retina-sprite($checkbox-default-group);
      }
      &:checked + label::before {
        @include retina-sprite($checkbox-checked-group);
      }
    }
    input,
    textarea,
    .form-control {
      border-color: $input-red-color;
      &:focus,
      &:hover:focus,
      &:hover {
        border-color: $input-red-color;
      }
    }
  }
}

/* form-text -------------------- */
.form-text {
  @include text($size: 13px, $color: $gray-400);
  margin-top: 4px;
}
/* setting input icons -------------------- */
.ic_input {
  position: relative;
  z-index: 1;
  &.col-none {
    .icon {
      right: 10px;
    }
  }
  &.icon_left {
    input {
      padding: 0 12px 0 40px;
    }
    .icon {
      left: 25px;
      right: auto;
    }
  }
  input {
    padding: 0 40px 0 12px;
  }
  .icon {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 25px;
  }
}
.form-group {
  .bs-select {
    .ip_search {
      margin-top: -8px;
      .select-wrapper {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #c8c8c8;
        &:focus,
        &:hover {
          border-color: #c8c8c8;
          border: none;
          border-bottom: 1px solid #c8c8c8;
        }
      }
    }
  }
}
