.bg {
  &-primary-green {
    background-color: $primary-color;
  }
  &-primary-olive {
    background-color: $primary-color-olive;
  }
  &-secondary {
    background-color: $secondary-color;
  }
  &-secondary-yellow {
    background-color: $secondary-color-yellow;
  }
  &-secondary-pink {
    background-color: $secondary-color-pink;
  }
  &-link-hover {
    background-color: $link-hover;
  }
  &-btn-primary-hover {
    background-color: $btn-primary-hover;
  }
  &-gray-2 {
    background-color: $gray-200;
  }
  &-gray-3 {
    background-color: $gray-300;
  }
  &-gray-4 {
    background-color: $gray-400;
  }
  &-gray {
    background-color: $gray-500;
  }
  &-gray-6 {
    background-color: $gray-600;
  }
  &-gray-7 {
    background-color: $gray-700;
  }
  &-body-blue {
    background-color: $body-color;
  }
  &-hightling-olive {
    background-color: $hightling-color-olive;
  }
  &-hightling-red {
    background-color: $hightling-color-red;
  }
  &-hightling-green {
    background-color: $hightling-color-green;
  }
}

.text {
  &-primary-green {
    color: $primary-color;
  }
  &-black {
    color: $black;
  }
  &-gray-4 {
    color: $gray-400;
  }
  &-gray {
    color: $gray-500;
  }
  &-gray-7 {
    color: $gray-700;
  }
  &-hightling-red {
    color: $hightling-color-red;
  }
  &-error {
    color: $hightling-color-red;
  }
  &-white {
    color: $white;
  }
}

h1,
.h1 {
  @include text($size: 1.75rem, $weight: $text-bold);
  // word-wrap: break-word;
}

h2,
.h2 {
  @include text($size: 1.25rem, $weight: $text-bold);
  // word-wrap: break-word;
}

// h3,
// .h3 {
//   @include text($size: 24px, $weight: $text-bold);
// }

// h4,
// .h4 {
//   @include text($size: 20px, $weight: $text-bold);
// }

h5,
.h5 {
  @include text($size: 1.125rem);
  // word-wrap: break-word;
}

h6,
.h6 {
  @include text($size: 1rem);
  // word-wrap: break-word;
}
p {
  @include text($size: 1rem);
  margin: 0;
  // word-wrap: break-word;
}
a,
.btn-link {
  text-decoration: none;
  @include text($size: 1rem, $weight: $text-bold);
  line-height: 1.33;
  color: #0d3740;
  &:hover {
    color: $link-hover;
  }
  &.btn_ICONONLY {
    font-size: 0;
    display: inline-block;
  }
  @include media-breakpoint-up("lg") {
    @include text($size: 1.125rem, $weight: $text-bold);
  }
}

ul {
  list-style: none;
  margin: 0;
}

.icon {
  display: inline-block;
}
